Repository LAION-AI/Open-Assistant, pull requests merged in 2022-12, with the labels that each got.

#36 Link new UI to auth and backend
  scripts/frontend-development/docker-compose.yaml
  website/.env
  website/.env.example
  website/.gitignore
  website/package-lock.json
  website/package.json
  website/src/components/Header.tsx
  website/src/components/RatingRadioGroup.tsx
  website/src/lib/fetcher.ts
  website/src/lib/poster.ts
  website/src/lib/prismadb.ts
  website/src/middleware.ts
  website/src/pages/_app.tsx
  website/src/pages/api/auth/[...nextauth].ts
  website/src/pages/api/new_task/[task_type].ts
  website/src/pages/api/update_task.ts
  website/src/pages/auth/signin.tsx
  website/src/pages/grading/grade-output.tsx
  website/src/pages/index.tsx
  website/src/pages/login.tsx
  website/src/pages/new_task.js
Labels: enhancement, website

#81 Implement `*_reply` for the web
  website/src/components/Button.tsx
  website/src/components/Messages.tsx
  website/src/components/TwoColumns.tsx
  website/src/pages/create/assistant_reply.tsx
  website/src/pages/create/user_reply.tsx
  website/src/pages/index.tsx
Labels: website

#75 Prettier User Choice on index page
  website/src/components/TaskSelection/TaskOption.tsx
  website/src/components/TaskSelection/TaskOptions.tsx
  website/src/components/TaskSelection/TaskSelection.tsx
  website/src/components/TaskSelection/index.ts
  website/src/pages/index.tsx
Labels: website, UI/UX

#63 24 web deploy aws - #24
  .pre-commit-config.yaml
  copilot/.workspace
  copilot/README.md
  copilot/environments/staging/manifest.yml
  copilot/web/addons/web-cluster.yml
  copilot/web/manifest.yml
  docker/Dockerfile.prisma
  docker/Dockerfile.website
  scripts/endtoend-demo/docker-compose.yaml
  website/package-lock.json
  website/package.json
  website/prisma/migrations/20221215064332_initialized/migration.sql
  website/prisma/migrations/20221215101838_record_labeler_id/migration.sql
  website/prisma/migrations/migration_lock.toml
  website/prisma/schema.prisma
  website/src/pages/auth/signup.tsx
Labels: website

#100 Update Prompting_Guide.md
  Prompting_Guide.md
Labels: documentation

#114 Closing issue 113 by fixing the landing page links for two tasks
  website/src/components/TaskSelection/TaskSelection.tsx
Labels: bug, website

#82 Add per-page layout
  website/src/components/AuthLayout.tsx
  website/src/components/Footer.tsx
  website/src/components/Header.tsx
  website/src/components/Layout.tsx
  website/src/pages/_app.tsx
  website/src/pages/_document.tsx
  website/src/pages/create/assistant_reply.tsx
  website/src/pages/create/summarize_story.tsx
  website/src/pages/create/user_reply.tsx
  website/src/pages/evaluate/rate_summary.tsx
  website/src/pages/index.tsx
  website/src/pages/leaderboard/score-leaderboard.tsx
Labels: website

#118 Implement `rank_initial_prompts` for web
  website/src/components/TaskSelection/TaskSelection.tsx
  website/src/pages/evaluate/rank_initial_prompts.tsx
Labels: website

#119 Unified multiple Docker Compose files into one for easier usage
  README.md
  docker-compose.yaml
  scripts/backend-development/README.md
  scripts/backend-development/docker-compose.yaml
  scripts/endtoend-demo/README.md
  scripts/endtoend-demo/docker-compose.yaml
  scripts/frontend-development/README.md
  scripts/frontend-development/docker-compose.yaml
  scripts/frontend-development/run-bot-local.sh
Labels: backend, website

#108 Enhancing the readme with some coordination suggestions
  README.md
Labels: documentation

#116 Add build website workflow
  .github/workflows/build-frontend.yaml
Labels: website

#91 updated avatar component name, added ability to change username (only works server side for now), updated signin page, updated Footer
  website/src/components/Footer.tsx
  website/src/components/Header.tsx
  website/src/components/UserMenu.tsx
  website/src/middleware.ts
  website/src/pages/404.tsx
  website/src/pages/account/edit.tsx
  website/src/pages/account/index.tsx
  website/src/pages/api/auth/[...nextauth].ts
  website/src/pages/api/username.tsx
  website/src/pages/auth/signin.tsx
  website/src/pages/auth/verify.tsx
Labels: website, UI/UX

#110 Initial Storybook setup
  website/.storybook/main.js
  website/.storybook/preview.js
  website/README.md
  website/package-lock.json
  website/package.json
  website/src/components/Header/Header.stories.jsx
  website/src/components/Header/Header.tsx
  website/src/components/Header/NavLinks.stories.jsx
  website/src/components/Header/NavLinks.tsx
  website/src/components/Header/UserMenu.stories.jsx
  website/src/components/Header/UserMenu.tsx
  website/src/components/Header/index.ts
  website/src/components/Layout.tsx
  website/src/pages/404.tsx
  website/src/pages/leaderboard/score-leaderboard.tsx
Labels: website

#138 New loading screen component
  website/src/components/Loading/Loading.stories.jsx
  website/src/components/Loading/LoadingScreen.jsx
  website/src/pages/create/assistant_reply.tsx
  website/src/pages/create/summarize_story.tsx
  website/src/pages/create/user_reply.tsx
  website/src/pages/evaluate/rank_initial_prompts.tsx
  website/src/pages/evaluate/rate_summary.tsx
Labels: website, UI/UX

#123 added environment variable DEBUG_LOGIN to display debug credentials provider even in production mode
  README.md
  docker-compose.yaml
  website/README.md
  website/package-lock.json
  website/package.json
  website/src/pages/api/auth/[...nextauth].ts
Labels: website

#145 commented links
  website/src/components/TaskSelection/TaskSelection.tsx
Labels: website

#146 Adding a specific layout for Home
  website/package-lock.json
  website/src/components/Header/Header.stories.jsx
  website/src/components/Header/Header.tsx
  website/src/pages/index.tsx
Labels: website

#142 Update eslint config
  website/.eslintrc.json
  website/jsconfig.json
  website/package-lock.json
  website/package.json
  website/src/components/CircleBackground.tsx
  website/src/components/Footer.tsx
  website/src/components/Header/Header.tsx
  website/src/components/Header/NavLinks.tsx
  website/src/components/Header/UserMenu.tsx
  website/src/components/Layout.tsx
  website/src/lib/prismadb.ts
  website/src/pages/_app.tsx
  website/src/pages/create/summarize_story.tsx
  website/src/pages/create/user_reply.tsx
  website/src/pages/evaluate/rank_initial_prompts.tsx
  website/src/pages/evaluate/rate_summary.tsx
  website/src/pages/leaderboard/score-leaderboard.tsx
  website/tsconfig.json
Labels: website

#128 Added column to post table for lang with US english set to default.
  backend/alembic/versions/2022_12_28_1824-ef0b52902560_added_lang_column_for_iso_639_1_codes.py
  backend/oasst_backend/models/post.py
Labels: backend

#122 Slightly better README.md
  README.md
Labels: documentation

#169 Fixing discord signin
  website/.env
  website/src/pages/auth/signin.tsx
Labels: bug, website

#172 Improved collaboration docs
  README.md
Labels: documentation

#177 Add component- and e2e testing with Cypress
  website/.gitignore
  website/README.md
  website/cypress-visual-screenshots/baseline/.gitkeep
  website/cypress.config.js
  website/cypress/README.md
  website/cypress/e2e/auth/signin.cy.ts
  website/cypress/fixtures/example.json
  website/cypress/support/commands.ts
  website/cypress/support/component-index.html
  website/cypress/support/component.ts
  website/cypress/support/e2e.ts
  website/package-lock.json
  website/package.json
  website/src/components/Container.cy.tsx
Labels: website, testing

#188 Fixes for breaking changes in #182
  website/src/pages/api/new_task/[task_type].ts
  website/src/pages/api/update_task.ts
  website/src/pages/create/assistant_reply.tsx
  website/src/pages/create/summarize_story.tsx
  website/src/pages/create/user_reply.tsx
  website/src/pages/evaluate/rank_assistant_replies.tsx
  website/src/pages/evaluate/rank_initial_prompts.tsx
  website/src/pages/evaluate/rank_user_replies.tsx
Labels: website

#161 Use DnDKit for ranking tasks
  website/package-lock.json
  website/package.json
  website/src/components/Sortable/Sortable.tsx
  website/src/components/Sortable/SortableItem.tsx
  website/src/lib/prismadb.ts
Labels: website, UI/UX

#192 Update all the task pages to fetch a new taks after submission
  website/src/components/TaskSelection/TaskSelection.tsx
  website/src/pages/api/update_task.ts
  website/src/pages/create/assistant_reply.tsx
  website/src/pages/create/user_reply.tsx
  website/src/pages/evaluate/rank_assistant_replies.tsx
  website/src/pages/evaluate/rank_initial_prompts.tsx
  website/src/pages/evaluate/rank_user_replies.tsx
  website/src/pages/evaluate/rate_summary.tsx
Labels: website

#135 Rewrite with `hikari`
  backend/oasst_backend/api/v1/tasks.py
  discord-bot/.env.example
  discord-bot/.gitignore
  discord-bot/README.md
  discord-bot/__main__.py
  discord-bot/api_client.py
  discord-bot/bot.py
  discord-bot/bot/__init__.py
  discord-bot/bot/__main__.py
  discord-bot/bot/api_client.py
  discord-bot/bot/bot.py
  discord-bot/bot/db/schema.sql
  discord-bot/bot/db/schemas.py
  discord-bot/bot/extensions/__init__.py
  discord-bot/bot/extensions/guild_settings.py
  discord-bot/bot/extensions/hot_reload.py
  discord-bot/bot/extensions/text_labels.py
  discord-bot/bot/extensions/user_input_test.py
  discord-bot/bot/extensions/work.py
  discord-bot/bot/settings.py
  discord-bot/bot/utils.py
  discord-bot/bot_base.py
  discord-bot/bot_settings.py
  discord-bot/channel_handlers.py
  discord-bot/message_templates.py
  discord-bot/requirements.txt
  discord-bot/task_handlers.py
  discord-bot/utils.py
Labels: discord-bot

#176 Evaluated Detoxify
  notebooks/detoxify-evaluation/DetoxityEvaluation.ipynb
  notebooks/detoxify-evaluation/README.md
Labels: ml

#211 Fix for missing dependency for DNDKit on evaluation pages
  website/package-lock.json
  website/package.json
Labels: bug, website

#210 saving user to the dabase when using the debug credentials provider
  website/src/pages/api/auth/[...nextauth].ts
Labels: website
