Repository LAION-AI/Open-Assistant, pull requests merged in 2023-03, with the labels that each got.

#1907 refactor inference message score
  inference/server/alembic/versions/2023_03_01_1442-0f89c99ffdc8_add_score_to_message.py
  inference/server/main.py
  inference/server/oasst_inference_server/client_handler.py
  inference/server/oasst_inference_server/models/__init__.py
  inference/server/oasst_inference_server/models/chat.py
  inference/server/oasst_inference_server/models/worker.py
  inference/server/oasst_inference_server/user_chat_repository.py
  oasst-shared/oasst_shared/schemas/inference.py
Labels: inference

#1915 View chat list
  website/public/locales/en/chat.json
  website/src/lib/oasst_inference_client.ts
  website/src/pages/api/chat/index.ts
  website/src/pages/chat.tsx
  website/src/pages/chat/[id].tsx
  website/src/pages/chat/index.tsx
  website/src/types/Chat.ts
  website/types/i18next.d.ts
Labels: website, inference

#1851 docs: small header change and add latest youtube vid as blogpost
  docs/blog/2023-02-24-open-assistant-inference-backend-development-hands-on-coding/index.mdx
  docs/sidebars.js
Labels: documentation

#1929 fix(backend): fill lang when importing mst
  backend/import.py
Labels: backend

#1918 SFT model eval
  model/model_eval/manual/config/default.json
  model/model_eval/manual/data/en_100_message.jsonl
  model/model_eval/manual/data/en_100_text.jsonl
  model/model_eval/manual/data/en_100_tree.jsonl
  model/model_eval/manual/requirements.txt
  model/model_eval/manual/sampling_report.py
  model/model_eval/manual/sampling_reports/2023-03-01_theblackcat102_pythia-12b-deduped-sft_sampling.json
  model/model_eval/manual/sampling_reports/2023-03-01_theblackcat102_pythia-1b-deduped-sft_sampling.json
  model/model_eval/manual/sampling_reports/2023-03-01_theblackcat102_pythia-3b-deduped-sft_sampling.json
  model/model_eval/manual/subsample_dataset.py
Labels: ml

#1895 Update HumanEval and MBPP notebooks
  data/datasets/__init__.py
  data/datasets/codet_humaneval_mbpp/HumanEval_and_MBPP_code_gen.ipynb
  data/datasets/codet_humaneval_mbpp/HumanEval_and_MBPP_test_gen.ipynb
  data/datasets/codet_humaneval_mbpp/README.md
  data/datasets/grade_school_math_instructions/dataset_creation.ipynb
  notebooks/data-augmentation/codet-data/README.md
Labels: data

#1171 Update Contributor Documentation
  CONTRIBUTING.md
  backend/README.md
  scripts/backend-development/README.md
Labels: documentation

#1955 Show correct discord avatar on leaderboard
  website/src/components/LeaderboardTable/LeaderboardTable.tsx
  website/src/components/UserAvatar.tsx
  website/src/lib/leaderboard_utilities.ts
  website/src/lib/users.ts
  website/src/pages/api/admin/trollboard.ts
  website/src/pages/api/leaderboard.ts
Labels: website

#1956 Fix discord bot workflow
  docker/Dockerfile.discord-bot
Labels: bug, discord-bot

#1959 enable `strictBindCallApply`
  website/src/components/Messages/MessageConversation.stories.tsx
  website/src/components/Messages/MessageConversation.tsx
  website/src/components/Messages/MessageEmojiButton.stories.tsx
  website/src/components/Messages/MessageTableEntry.stories.tsx
  website/src/components/Messages/MessageWithChildren.stories.tsx
  website/src/components/Messages/MessageWithChildren.tsx
  website/src/components/Sortable/Sortable.stories.tsx
  website/src/components/Tasks/Task/Task.stories.tsx
  website/tsconfig.json
Labels: website

#1958 Fix leaderboard not loading
  website/src/lib/leaderboard_utilities.ts
Labels: bug, website

#1913 Chat vote UI
  inference/server/oasst_inference_server/database.py
  website/src/components/Chat/ChatConversation.tsx
  website/src/components/Messages/BaseMessageEntry.tsx
  website/src/components/Messages/MessageEmojiButton.tsx
  website/src/components/Messages/MessageInlineEmojiRow.tsx
  website/src/components/Messages/MessageTableEntry.tsx
  website/src/components/Messages/MessageTree.tsx
  website/src/components/UserAvatar.tsx
  website/src/hooks/ui/useScrollToElementOnMount.ts
  website/src/lib/oasst_inference_client.ts
  website/src/lib/routes.ts
  website/src/pages/admin/messages/[id].tsx
  website/src/pages/api/chat/vote.ts
  website/src/pages/chat/[id].tsx
  website/src/types/Chat.ts
Labels: website, inference

#1954 Extended export script
  backend/export.py
  backend/oasst_backend/utils/tree_export.py
  oasst-shared/oasst_shared/schemas/export.py
Labels: backend

#1962 enable `strictFunctionTypes`
  website/src/components/Icons/Discord.tsx
  website/src/components/Messages/MessageConversation.stories.tsx
  website/src/components/Messages/MessageEmojiButton.stories.tsx
  website/src/components/Stats/Stats.components.tsx
  website/src/context/TaskContext.ts
  website/src/lib/constants.ts
  website/src/types/Hooks.ts
  website/tsconfig.json
Labels: website

#1963 Fix some null checks
  website/.eslintrc.json
  website/src/components/Chat/ChatConversation.tsx
  website/src/components/Dashboard/TaskOption.tsx
  website/src/components/Dashboard/WelcomeCard.tsx
  website/src/components/DataTable/DataTable.tsx
  website/src/components/Header/Header.tsx
  website/src/components/Header/UserMenu.tsx
  website/src/components/LanguageSelector/LanguageSelector.tsx
  website/src/components/LeaderboardTable/LeaderboardTable.tsx
  website/src/components/SideMenu.tsx
  website/src/components/UserAvatar.tsx
  website/src/lib/languages.ts
  website/src/lib/oasst_api_client.ts
  website/src/pages/chat/index.tsx
  website/tsconfig.json
Labels: website

#1924 Add YouTube subtitles HowTo100M dataset #259
  data/datasets/__init__.py
  data/datasets/youtube_subs_howto100M/__init__.py
  data/datasets/youtube_subs_howto100M/hub.py
  data/datasets/youtube_subs_howto100M/prepare.py
  data/datasets/youtube_subs_howto100M/requirements.txt
  data/datasets/youtube_subs_howto100M/youtube_subs_howto100M.py
Labels: data

#1964 Fix ordering of images in leaderboard api
  website/src/lib/leaderboard_utilities.ts
  website/src/lib/users.ts
Labels: website

#1966 Update hyperparameters to reflect InstructGPT
  model/model_training/configs/config.yaml
  model/model_training/trainer_sft.py
Labels: ml

#1969 Show user score in header
  website/src/components/Header/Header.tsx
  website/src/components/Header/UserMenu.tsx
  website/src/components/Header/UserScore.tsx
  website/src/hooks/ui/useUserScore.ts
Labels: website

#1979 Minor training speed improvements
  model/model_training/README.md
  model/model_training/configs/config.yaml
  model/model_training/configs/zero_config.json
  model/model_training/trainer_sft.py
  model/model_training/utils.py
Labels: ml

#1975 Correct Collator
  model/model_training/custom_datasets/dialogue_collator.py
  model/model_training/custom_datasets/formatting.py
Labels: ml

#1998 force `next-i18next`
  website/.eslintrc.json
  website/src/components/Header/UserScore.tsx
  website/src/components/Messages/AdminMessageTable.tsx
  website/src/components/UserMessageConversation.tsx
Labels: bug, website

#1999 Use browser defaults for markdown lists
  website/src/components/Messages/RenderedMarkdown.tsx
  website/src/styles/globals.css
Labels: bug, website

#2010 Residual dropout support
  model/model_training/configs/config.yaml
  model/model_training/models/patch_resid_dropout.py
  model/model_training/models/test_patched_gpt_neox.py
  model/model_training/trainer_sft.py
Labels: ml

#1961 added async postgres to inference
  inference/server/alembic.ini
  inference/server/alembic/env.py
  inference/server/main.py
  inference/server/oasst_inference_server/chat_repository.py
  inference/server/oasst_inference_server/client_handler.py
  inference/server/oasst_inference_server/database.py
  inference/server/oasst_inference_server/deps.py
  inference/server/oasst_inference_server/schemas/worker.py
  inference/server/oasst_inference_server/settings.py
  inference/server/oasst_inference_server/user_chat_repository.py
  inference/server/oasst_inference_server/worker_handler.py
  inference/server/requirements.txt
  oasst-shared/oasst_shared/schemas/inference.py
Labels: inference

#2014 show synthetic badge on message
  website/src/components/Messages/MessageSyntheticBadge.tsx
  website/src/components/Messages/MessageTableEntry.tsx
  website/src/components/Sortable/SortableItem.tsx
Labels: website, UI/UX

#2016 Update chat API calls
  website/src/components/Chat/ChatConversation.tsx
  website/src/lib/oasst_inference_client.ts
  website/src/lib/routes.ts
  website/src/pages/api/chat/events.ts
  website/src/pages/api/chat/message.ts
  website/src/types/Chat.ts
Labels: website, inference

#1986 fix for invalid avatarUrl error
  website/src/components/UserAvatar.tsx
Labels: bug, website

#2020 Show more text in Ranking tasks depending on screen size
  website/src/components/CollapsableText.tsx
Labels: website

#2011 Group samples by sequence length
  model/model_training/configs/config.yaml
  model/model_training/custom_datasets/dialogue_collator.py
  model/model_training/trainer_sft.py
  model/model_training/utils.py
Labels: ml

#1922 Configure pytest in sft pipeline #1770
  model/model_training/README.md
  model/model_training/pyproject.toml
  model/model_training/requirements.txt
  model/model_training/tests/__init__.py
  model/model_training/tests/test_datasets.py
  model/model_training/tests/test_oasst_dataset.py
  model/model_training/tests/test_utils.py
  model/reward/instructor/README.md
  model/reward/instructor/pyproject.toml
  model/reward/instructor/requirements.txt
  model/reward/instructor/tests/test_dataset.py
Labels: ml

#2028 Add script to export model to HF or local directory
  model/model_training/tools/export_model.py
Labels: ml

#2021 add `include_user` params in /messages/cursor` endpoint
  backend/oasst_backend/api/v1/messages.py
  backend/oasst_backend/api/v1/utils.py
  backend/oasst_backend/models/message.py
  backend/oasst_backend/prompt_repository.py
  oasst-shared/oasst_shared/schemas/protocol.py
Labels: backend

#2039 Show correct user avatars on leaderboard
  website/src/components/LeaderboardTable/LeaderboardTable.tsx
  website/src/components/UserAvatar.tsx
Labels: website

#2042 Swap color toggle icons
  website/src/components/Header/ColorModeToggler.jsx
Labels: website, UI/UX

#2043 Resilient discord image update
  website/src/lib/discord_avatar_refresh.ts
Labels: website

#2015 Update docs
  .gitignore
  docs/docs/data/README.md
  docs/docs/guides/README.md
  docs/docs/intro.md
  docs/docs/presentations/README.md
  docs/docs/presentations/list.md
  docs/docs/research/README.md
  docs/sidebars.js
Labels: documentation

#2040 Trainer fixes
  model/model_training/README.md
  model/model_training/tools/model_chat.py
  model/model_training/tools/model_cli.py
  model/model_training/trainer_rl.py
Labels: ml

#2033 Add support for flash attention
  model/model_training/configs/config.yaml
  model/model_training/configs/zero_config.json
  model/model_training/models/patch_resid_dropout.py
  model/model_training/models/patching.py
  model/model_training/models/test_patched_gpt_neox.py
  model/model_training/tools/export.py
  model/model_training/trainer_sft.py
Labels: ml

#2052 Delete duplicate export script
  model/model_training/tools/export.py
Labels: ml

#2024 Add option to tokenize numbers per digit
  model/model_training/.gitignore
  model/model_training/README.md
  model/model_training/configs/config.yaml
  model/model_training/custom_datasets/__init__.py
  model/model_training/custom_datasets/instruction.py
  model/model_training/tools/model_chat.py
  model/model_training/tools/model_cli.py
  model/model_training/trainer_sft.py
  model/model_training/utils.py
  model/reward/instructor/configs/dummy.yml
  model/reward/instructor/summary_quality_trainer.py
  model/reward/instructor/trainer.py
  model/reward/instructor/utils.py
  safety/model_training/config/config.yaml
Labels: ml

#2012 Add --include-synth and --only-synth filtering options for export.py
  backend/export.py
  model/model_training/custom_datasets/oasst_dataset.py
Labels: backend

#2068 Add brief documentation for backend data export process
  backend/README.md
  backend/export.py
Labels: backend, documentation

#2083 Add user level to user stats
  .devcontainer/backend-dev/post_create_command.sh
  backend/oasst_backend/user_stats_repository.py
  oasst-shared/oasst_shared/schemas/protocol.py
Labels: backend

#2078 Add initial Ansible playbooks for inference server and worker
  ansible/.gitignore
  ansible/inference/deploy-server.yaml
  ansible/inference/deploy-worker.yaml
  ansible/inference/redis.conf
  ansible/inference/test.inventory.ini
Labels: inference

#2085 'Language' string extraction from Stats
  website/public/locales/en/stats.json
  website/public/locales/ru/stats.json
  website/src/components/Stats/Stats.components.tsx
Labels: website

#2045 Reddit confessions dataset
  data/datasets/README.md
  data/datasets/__init__.py
  data/datasets/prosocial_confessions/README.md
  data/datasets/prosocial_confessions/prosocial-confessions.ipynb
Labels: data, safety

#2092 Fix passing parallelism var to worker in Ansible playbook
  ansible/inference/deploy-worker.yaml
Labels: inference

#2093 Add XP progress
  website/public/locales/en/leaderboard.json
  website/src/components/Account/XPBar.tsx
  website/src/components/Header/UserScore.tsx
  website/src/hooks/ui/useUserScore.ts
  website/src/pages/account/index.tsx
  website/src/pages/dashboard.tsx
  website/src/types/Leaderboard.ts
Labels: website

#2105 Update Chat UI to latest inference changes
  website/public/locales/en/chat.json
  website/src/components/Chat/ChatConversation.tsx
  website/src/components/Chat/QueueInfoMessage.tsx
  website/src/hooks/chat/useMessageVote.ts
  website/src/lib/chat_stream.ts
  website/src/lib/oasst_inference_client.ts
  website/src/lib/routes.ts
  website/src/pages/api/chat/index.ts
  website/src/pages/api/chat/message.ts
  website/src/pages/chat/index.tsx
  website/src/types/Chat.ts
Labels: website, inference

#2114 Improve FAQ
  docs/docs/faq.md
Labels: documentation

#2097 Add GitHub OAuth support to inference server
  inference/server/oasst_inference_server/routes/auth.py
  inference/server/oasst_inference_server/settings.py
Labels: inference

#2108 Clean up chat UI
  website/public/locales/en/chat.json
  website/src/components/Chat/ChatConversation.tsx
  website/src/components/Chat/QueueInfoMessage.tsx
  website/src/pages/chat/index.tsx
  website/src/types/Chat.ts
Labels: website, inference

#2103 Add Team page
  CODEOWNERS
  website/public/locales/en/common.json
  website/src/components/Footer.tsx
  website/src/data/team.json
  website/src/pages/team.tsx
Labels: website

#2071 Reward Model Training
  model/model_training/.gitignore
  model/model_training/configs/config.yaml
  model/model_training/configs/config_rm.yaml
  model/model_training/custom_datasets/__init__.py
  model/model_training/custom_datasets/formatting.py
  model/model_training/custom_datasets/instruction.py
  model/model_training/custom_datasets/oasst_dataset.py
  model/model_training/custom_datasets/ranking_collator.py
  model/model_training/losses.py
  model/model_training/models/__init__.py
  model/model_training/models/patching.py
  model/model_training/models/reward_model.py
  model/model_training/pyproject.toml
  model/model_training/tests/test_oasst_dataset.py
  model/model_training/tests/test_ranking_collator.py
  model/model_training/tools/check_oasst_export.py
  model/model_training/trainer_rm.py
  model/model_training/utils.py
  oasst-data/oasst_data/__init__.py
  oasst-data/oasst_data/loader.py
  oasst-data/oasst_data/schemas.py
  oasst-data/oasst_data/traversal.py
Labels: ml

#2121 Fix GitHub auth flow on inference server
  inference/server/oasst_inference_server/routes/auth.py
Labels: inference

#2128 enable chat via environment variable instead of flag
  website/src/flags.ts
  website/src/pages/chat/index.tsx
Labels: website

#2127 Boilerplate OAuth website <=> inference
  .gitignore
  docker-compose.yaml
  inference/server/oasst_inference_server/routes/auth.py
  inference/server/oasst_inference_server/settings.py
  website/src/lib/oasst_inference_client.ts
  website/src/pages/api/inference_auth/[...parts].ts
  website/src/pages/team.tsx
  website/src/types/Chat.ts
Labels: website, inference

#2112 Evaluation datasets for Reward Model
  model/model_training/custom_datasets/rank_datasets.py
Labels: ml

#2142 added HF, W&B, and Redmond to sponsors
  website/public/images/logos/redmond_logo.jpg
  website/src/data/team.json
Labels: website

#2079 [#2077] Possbility to revert message deletion
  backend/oasst_backend/api/v1/messages.py
  backend/oasst_backend/prompt_repository.py
  website/src/components/Messages/AdminMessageTable.tsx
  website/src/components/Messages/MessageTableEntry.tsx
  website/src/hooks/message/useUndeleteMessage.ts
  website/src/lib/oasst_api_client.ts
  website/src/lib/routes.ts
  website/src/pages/404.tsx
  website/src/pages/admin/trollboard.tsx
  website/src/pages/api/admin/undelete_message/[id].ts
Labels: backend, website

#2137 Added ENABLE_CHAT to chat id page and docker-compose
  docker-compose.yaml
  website/src/lib/chat_enabled.ts
  website/src/pages/chat/[id].tsx
  website/src/pages/chat/index.tsx
Labels: website

#2144 Llama inference
  docker/inference/Dockerfile.worker-full
  inference/full-dev-setup.sh
  inference/worker/download_model.py
  inference/worker/work.py
  inference/worker/worker_full_main.sh
Labels: inference

#1237 Implemented ability to press ctrl+enter (or cmd+enter) to Review/Subm…
  website/public/locales/en/tasks.json
  website/src/components/Survey/TrackedTextarea.tsx
  website/src/components/Tasks/CreateTask.tsx
  website/src/components/Tasks/Task/Task.tsx
Labels: website

#2141 Cancelling pending chat messages of user on submission of a new message
  inference/server/oasst_inference_server/chat_repository.py
  inference/server/oasst_inference_server/routes/workers.py
  inference/server/oasst_inference_server/schemas/chat.py
  inference/server/oasst_inference_server/user_chat_repository.py
  oasst-shared/oasst_shared/schemas/inference.py
Labels: inference

#2149 Remove invalid badge from README
  README.md
Labels: documentation

#2129 Add refresh tokens to inference server auth
  inference/server/oasst_inference_server/auth.py
  inference/server/oasst_inference_server/routes/auth.py
  inference/server/oasst_inference_server/settings.py
  oasst-shared/oasst_shared/schemas/protocol.py
Labels: inference

#2168 Diabling stop sequences in inference, since we are using eos_tokens in most models
  inference/worker/settings.py
  inference/worker/work.py
Labels: inference

#2163 Added param configs from eval to pass to the frontend
  inference/server/oasst_inference_server/routes/configs.py
  inference/server/oasst_inference_server/routes/workers.py
  inference/worker/__main__.py
  oasst-shared/oasst_shared/schemas/inference.py
  oasst-shared/oasst_shared/shared_settings.py
Labels: inference

#2169 Fix: Correctly sending error to waiting client on message abort
  inference/server/oasst_inference_server/routes/chats.py
  inference/server/oasst_inference_server/routes/configs.py
  inference/server/oasst_inference_server/routes/workers.py
  inference/server/oasst_inference_server/settings.py
  inference/worker/utils.py
  oasst-shared/oasst_shared/schemas/inference.py
  oasst-shared/oasst_shared/shared_settings.py
Labels: inference

#2177 Added a script to continuously run the worker docker container (plus some docker improvements)
  docker/inference/Dockerfile.worker-full
  docker/inference/Dockerfile.worker-llama
  inference/worker/download_model.py
  inference/worker/run_worker_container.sh
  inference/worker/worker_full_main.sh
Labels: inference

#2182 Add GPTNeoXRewardModel
  model/model_training/README.md
  model/model_training/__init__.py
  model/model_training/custom_datasets/__init__.py
  model/model_training/models/patching.py
  model/model_training/models/reward_model.py
  model/model_training/tests/test_datasets.py
  model/model_training/tests/test_oasst_dataset.py
  model/model_training/tests/test_patched_gpt_neox.py
  model/model_training/tests/test_ranking_collator.py
  model/model_training/tests/test_rm_loading.py
  model/model_training/tests/test_utils.py
  model/model_training/tools/export_model.py
  model/model_training/tools/model_chat.py
  model/model_training/tools/model_cli.py
  model/model_training/trainer_rl.py
  model/model_training/trainer_rm.py
  model/model_training/trainer_sft.py
  model/model_training/utils.py
  model/pyproject.toml
Labels: ml

#2055 Add llama training support
  model/model_training/configs/config.yaml
  model/model_training/configs/config_rl.yaml
  model/model_training/configs/ppo_config.yaml
  model/model_training/custom_datasets/README.md
  model/model_training/custom_datasets/dialogue_collator.py
  model/model_training/models/__init__.py
  model/model_training/models/configuration_llama.py
  model/model_training/models/modeling_llama.py
  model/model_training/models/patching.py
  model/model_training/models/tokenization_llama.py
  model/model_training/tools/export_model.py
  model/model_training/tools/model_chat.py
  model/model_training/trainer_sft.py
  model/model_training/utils.py
  model/reward/instructor/configs/deberta-v2-xxlarge-a100.yaml
  model/reward/instructor/configs/deberta-v3-base.yml
  model/reward/instructor/configs/zero_config.json
Labels: ml

#2185 Fix output of RankingDataCollator when max_length is None
  model/model_training/custom_datasets/ranking_collator.py
  model/model_training/tests/test_ranking_collator.py
Labels: ml

#2189 Update website's dockerfile
  docker/Dockerfile.website
Labels: website

#2176 Login to inference through website
  website/public/locales/en/chat.json
  website/src/components/Chat/ChatAuth.tsx
  website/src/components/Chat/ChatConversation.tsx
  website/src/lib/oasst_inference_auth.ts
  website/src/lib/oasst_inference_client.ts
  website/src/lib/users.ts
  website/src/pages/api/auth/[...nextauth].ts
  website/src/pages/api/chat/events.ts
  website/src/pages/api/chat/index.ts
  website/src/pages/api/chat/message.ts
  website/src/pages/api/chat/models.ts
  website/src/pages/api/chat/vote.ts
  website/src/pages/api/inference_auth/[...parts].ts
  website/src/pages/chat/index.tsx
  website/src/types/Chat.ts
  website/types/next-auth.d.ts
Labels: website, inference

#2190 Evaluate sampling report using RM
  model/model_eval/README.md
  model/model_eval/__init__.py
  model/model_eval/eval_datasets.py
  model/model_eval/sampling_score.py
Labels: ml

#2194 Introduce model configs to abstract pairings of models and hardware
  docker-compose.yaml
  docker/inference/Dockerfile.worker-full
  docker/inference/Dockerfile.worker-llama
  inference/full-dev-setup.sh
  inference/server/oasst_inference_server/database.py
  inference/server/oasst_inference_server/routes/chats.py
  inference/server/oasst_inference_server/routes/configs.py
  inference/server/oasst_inference_server/schemas/chat.py
  inference/server/oasst_inference_server/settings.py
  inference/tests/locust/locustfile.py
  inference/text-client/__main__.py
  inference/text-client/text_client_utils.py
  inference/worker/__main__.py
  inference/worker/basic_hf_server.py
  inference/worker/download_model.py
  inference/worker/get_model_config_prop.py
  inference/worker/interface.py
  inference/worker/run_worker_container.sh
  inference/worker/settings.py
  inference/worker/work.py
  inference/worker/worker_full_main.sh
  oasst-shared/oasst_shared/model_configs.py
  oasst-shared/oasst_shared/schemas/inference.py
  oasst-shared/oasst_shared/schemas/inference_test.py
Labels: inference

#2188 Post llama merge fixes
  model/model_eval/manual/create_synth_import.py
  model/model_training/custom_datasets/dialogue_collator.py
  model/model_training/trainer_sft.py
  model/pyproject.toml
Labels: ml

#2205 feature : Alpaca dataset
  model/model_training/custom_datasets/__init__.py
  model/model_training/custom_datasets/qa_datasets.py
Labels: ml

#2207 Get available auth providers from inference server
  inference/server/oasst_inference_server/routes/auth.py
  website/README.md
  website/src/components/Chat/ChatAuth.tsx
  website/src/pages/api/auth/[...nextauth].ts
Labels: website, inference

#2211 Fix horizontal scrolling on mobile
  website/src/components/Dashboard/SlimFooter.tsx
  website/src/components/Stats/Stats.tsx
Labels: website

#2208 Use new inference model config / API
  website/src/components/Chat/ChatConfigDrawer.tsx
  website/src/components/Chat/ChatContext.tsx
  website/src/components/Chat/ChatConversation.tsx
  website/src/components/Chat/ChatSection.tsx
  website/src/lib/chat_stream.ts
  website/src/lib/oasst_inference_client.ts
  website/src/pages/api/chat/message.ts
  website/src/pages/chat/[id].tsx
  website/src/types/Chat.ts
Labels: website, inference

#2217 Added CORS origins to inference settings
  inference/server/main.py
  inference/server/oasst_inference_server/settings.py
Labels: inference

#2216 Updated inference deploy workflow and notebooks
  .github/workflows/deploy-to-node.yaml
  ansible/inference/deploy-server.yaml
Labels: inference

#2213 Adjusted deployment notebooks for inference
  .github/workflows/deploy-to-node.yaml
  ansible/inference/deploy-server.yaml
  inference/server/server_main.sh
Labels: inference

#2175 Add ability for inference backend to revoke auth refresh tokens
  inference/server/alembic/versions/2023_03_22_2113-78f16015b904_add_refresh_token_table.py
  inference/server/oasst_inference_server/auth.py
  inference/server/oasst_inference_server/models/__init__.py
  inference/server/oasst_inference_server/models/user.py
  inference/server/oasst_inference_server/routes/admin.py
  inference/server/oasst_inference_server/routes/auth.py
Labels: inference

#2220 Fix to rank_datasets.py
  model/reward/instructor/rank_datasets.py
Labels: ml

#2215 Reduce star motion
  website/src/components/Account/XPBar.tsx
Labels: website

#2218 Add Inference sign out functionality
  website/src/components/Chat/ChatAuth.tsx
  website/src/lib/api.ts
  website/src/lib/oasst_inference_auth.ts
  website/src/pages/api/inference_auth/logout.ts
Labels: website, inference

#2227 update deps
  website/package-lock.json
  website/package.json
  website/src/pages/messages/[id]/index.tsx
Labels: website

#2226 Style updates to chat UI
  website/src/components/Chat/ChatConversation.tsx
  website/src/lib/oasst_inference_client.ts
  website/src/pages/chat/[id].tsx
  website/src/pages/chat/index.tsx
  website/src/types/Chat.ts
Labels: website

#2233 Add migrations to web db
  website/prisma/migrations/20230326131923_initial_migration/migration.sql
  website/prisma/migrations/migration_lock.toml
  website/prisma/schema.prisma
Labels: website

#2247 Improved worker script and documentation thereof
  inference/worker/README.md
  inference/worker/run_worker_container.sh
Labels: inference

#2260 Add simple OIG data loader
  model/model_training/configs/config.yaml
  model/model_training/custom_datasets/__init__.py
  model/model_training/custom_datasets/prompt_dialogue.py
  model/model_training/custom_datasets/qa_datasets.py
  model/model_training/tests/test_datasets.py
Labels: ml

#2266 Add correlation metrics for Reward Modeling
  model/model_training/configs/config_rm.yaml
  model/model_training/metrics.py
  model/model_training/trainer_rm.py
Labels: ml

#2244 Expose env vars globally
  website/src/lib/defaultServerSideProps.ts
  website/src/lib/default_static_props.ts
  website/src/pages/404.tsx
  website/src/pages/500.tsx
  website/src/pages/_app.tsx
  website/src/pages/about.tsx
  website/src/pages/account/edit.tsx
  website/src/pages/account/index.tsx
  website/src/pages/admin/index.tsx
  website/src/pages/admin/messages/index.tsx
  website/src/pages/admin/parameters.tsx
  website/src/pages/admin/status/index.tsx
  website/src/pages/admin/trollboard.tsx
  website/src/pages/brb.tsx
  website/src/pages/create/assistant_reply.tsx
  website/src/pages/create/initial_prompt.tsx
  website/src/pages/create/user_reply.tsx
  website/src/pages/dashboard.tsx
  website/src/pages/evaluate/rank_assistant_replies.tsx
  website/src/pages/evaluate/rank_initial_prompts.tsx
  website/src/pages/evaluate/rank_user_replies.tsx
  website/src/pages/index.tsx
  website/src/pages/label/label_assistant_reply.tsx
  website/src/pages/label/label_initial_prompt.tsx
  website/src/pages/label/label_prompter_reply.tsx
  website/src/pages/leaderboard.tsx
  website/src/pages/messages/index.tsx
  website/src/pages/privacy-policy.tsx
  website/src/pages/stats.tsx
  website/src/pages/tasks/all.tsx
  website/src/pages/tasks/random.tsx
  website/src/pages/team.tsx
  website/src/pages/terms-of-service.tsx
  website/src/styles/Chakra.tsx
  website/types/env.d.ts
Labels: website

#2240 Fix GPTNeoX-20B training
  .vscode/launch.json
  model/model_training/.gitignore
  model/model_training/configs/config.yaml
  model/model_training/configs/zero3_config.json
  model/model_training/losses.py
  model/model_training/models/patching.py
  model/model_training/tools/export_model.py
  model/model_training/trainer_sft.py
  model/model_training/utils.py
  model/pyproject.toml
Labels: ml

#2273 Add loader for CodeAlpaca-20k & gpt4all_pruned dataset
  model/model_training/configs/config.yaml
  model/model_training/custom_datasets/__init__.py
  model/model_training/custom_datasets/instruction.py
  model/model_training/custom_datasets/prompt_dialogue.py
  model/model_training/custom_datasets/qa_datasets.py
  model/model_training/trainer_sft.py
Labels: ml

#2276 Add support for Cerebras-GPT for training
  model/model_training/configs/config.yaml
  model/model_training/utils.py
Labels: ml

#2254 Add rng_seed parameter to trainers
  model/model_training/configs/config.yaml
  model/model_training/configs/config_rl.yaml
  model/model_training/configs/config_rm.yaml
  model/model_training/trainer_rl.py
  model/model_training/trainer_rm.py
  model/model_training/trainer_sft.py
  model/model_training/utils.py
Labels: ml

#2235 Computing message queue positions
  inference/server/oasst_inference_server/chat_repository.py
  inference/server/oasst_inference_server/queueing.py
  inference/server/oasst_inference_server/routes/chats.py
  inference/server/oasst_inference_server/routes/workers.py
  inference/server/oasst_inference_server/user_chat_repository.py
  inference/text-client/__main__.py
Labels: inference

#2280 Remove assigning eos token id (llama compatibility)
  model/model_eval/manual/sampling_report.py
Labels: ml
