Repository LAION-AI/Open-Assistant, pull requests merged in 2023-02, with the labels that each got.

#932 911 signin captcha
  .vscode/settings.json
  docker-compose.yaml
  website/.env
  website/cypress/e2e/auth/signin.cy.ts
  website/cypress/support/commands.ts
  website/package-lock.json
  website/package.json
  website/src/components/CloudflareCaptcha.tsx
  website/src/lib/captcha.ts
  website/src/pages/api/auth/[...nextauth].ts
  website/src/pages/auth/signin.tsx
  website/types/env.d.ts
Labels: website

#1045 Update FAQs for docker port problems.
  docs/docs/faq/faq.md
Labels: documentation

#1040 Display number of available tasks
  website/public/locales/en/tasks.json
  website/src/components/Dashboard/TaskOption.tsx
  website/src/pages/dashboard.tsx
  website/src/styles/Theme/components/Badge.ts
  website/src/styles/Theme/index.ts
Labels: website

#1055 Add infty prompting + prompt-lottery
  backend/alembic/versions/2023_02_01_1010-f60958968ff8_add_won_prompt_lottery_date_to_mts.py
  backend/oasst_backend/config.py
  backend/oasst_backend/models/message_tree_state.py
  backend/oasst_backend/tree_manager.py
Labels: backend

#1046 Add terms of service acceptance date to user table
  backend/alembic/versions/2023_02_01_0022-55361f323d12_add_tos_acceptance_date_to_user.py
  backend/main.py
  backend/oasst_backend/api/v1/frontend_users.py
  backend/oasst_backend/api/v1/users.py
  backend/oasst_backend/config.py
  backend/oasst_backend/models/user.py
  backend/oasst_backend/prompt_repository.py
  backend/oasst_backend/user_repository.py
  oasst-shared/oasst_shared/exceptions/oasst_api_error.py
  oasst-shared/oasst_shared/schemas/protocol.py
  text-frontend/__main__.py
  text-frontend/auto_main.py
Labels: backend

#1064 Skip tasks permanently based on special skip emoji codes
  backend/alembic/versions/2023_02_01_2146-9e7ec4a9e3f2_add_skip_bool_skip_reason_to_task.py
  backend/oasst_backend/api/v1/tasks.py
  backend/oasst_backend/models/task.py
  backend/oasst_backend/prompt_repository.py
  backend/oasst_backend/task_repository.py
  backend/oasst_backend/tree_manager.py
  oasst-shared/oasst_shared/schemas/protocol.py
Labels: backend

#1066 hide system emojis starting with '_'
  website/src/components/Messages/MessageTableEntry.tsx
Labels: website

#1069 website: show descriptions for label flags
  website/public/locales/en/labelling.json
  website/src/components/Messages/LabelFlagGroup.tsx
  website/src/components/Messages/LabelInputGroup.tsx
Labels: website

#943 857: Implement backend Discord authentication
  backend/alembic/versions/2023_02_02_1817-8c8241d1f973_add_account_table.py
  backend/oasst_backend/api/v1/login.py
  backend/oasst_backend/auth.py
  backend/oasst_backend/config.py
  backend/oasst_backend/models/user.py
  backend/requirements.txt
  oasst-shared/oasst_shared/exceptions/oasst_api_error.py
  oasst-shared/oasst_shared/schemas/protocol.py
Labels: backend

#1072 System config parameter view
  website/src/components/AdminArea.tsx
  website/src/components/Layout.tsx
  website/src/components/SideMenu.tsx
  website/src/lib/oasst_api_client.ts
  website/src/pages/_app.tsx
  website/src/pages/admin/index.tsx
  website/src/pages/admin/parameters.tsx
  website/src/pages/admin/status/index.tsx
  website/src/pages/api/admin/parameters.ts
  website/src/pages/dashboard.tsx
  website/src/pages/index.tsx
  website/src/styles/Theme/components/Card.ts
Labels: website

#1041 website: Add delete message feature for admins
  website/public/locales/en/common.json
  website/src/components/Messages/MessageTableEntry.tsx
  website/src/lib/api.ts
  website/src/lib/oasst_api_client.ts
  website/src/pages/api/admin/delete_message/[id].ts
Labels: website

#1079 Translate strings that were not using i18n yet
  website/public/locales/en/leaderboard.json
  website/public/locales/en/message.json
  website/public/locales/en/side_menu.json
  website/public/locales/es/leaderboard.json
  website/public/locales/es/message.json
  website/public/locales/es/side_menu.json
  website/src/components/Dashboard/LeaderboardWidget.tsx
  website/src/components/Dashboard/SlimFooter.tsx
  website/src/components/DataTable.tsx
  website/src/components/SideMenu.tsx
  website/src/pages/messages/index.tsx
  website/types/i18next.d.ts
Labels: website, i18n

#1082 website: cleanup emoji handling, hide all unknown emojis
  website/src/components/Messages/MessageEmojiButton.tsx
  website/src/components/Messages/MessageTableEntry.tsx
  website/src/types/Emoji.ts
Labels: website

#1081 Hungarian localization
  website/next-i18next.config.js
  website/public/locales/hu/common.json
  website/public/locales/hu/dashboard.json
  website/public/locales/hu/index.json
  website/public/locales/hu/labelling.json
  website/public/locales/hu/leaderboard.json
  website/public/locales/hu/message.json
  website/public/locales/hu/tasks.json
Labels: i18n

#1085 website: Fix bug introduced into optimised build in recent emoji cleanup
  website/src/components/Messages/MessageEmojiButton.tsx
  website/src/components/Messages/MessageTableEntry.tsx
  website/src/types/Emoji.ts
Labels: website

#1080 Add ToS/License Agreement to Website
  website/public/locales/en/tos.json
  website/src/components/PolicyCards/PolicyChapterCard.tsx
  website/src/components/Survey/SurveyCard.tsx
  website/src/components/ToSWrapper.tsx
  website/src/lib/oasst_api_client.ts
  website/src/pages/api/auth/[...nextauth].ts
  website/src/pages/api/tos.ts
  website/src/pages/dashboard.tsx
  website/src/pages/terms-of-service.tsx
  website/src/types/Users.ts
  website/types/i18next.d.ts
  website/types/next-auth.d.ts
Labels: website

#1090 Fixing the way we generate the backenduser object during jwt creation
  website/src/pages/api/auth/[...nextauth].ts
Labels: website

#1091 Fix ToS page in dark mode
  website/src/pages/terms-of-service.tsx
Labels: website

#1112 Added French Locale
  website/public/locales/fr/common.json
  website/public/locales/fr/dashboard.json
  website/public/locales/fr/index.json
  website/public/locales/fr/labelling.json
  website/public/locales/fr/leaderboard.json
  website/public/locales/fr/message.json
  website/public/locales/fr/side_menu.json
  website/public/locales/fr/tasks.json
  website/public/locales/fr/tos.json
Labels: website

#1116 Show a bit more text for the ranking options
  website/src/components/CollapsableText.tsx
Labels: website

#1125 website: Add RU locale
  website/public/locales/ru/common.json
  website/public/locales/ru/dashboard.json
  website/public/locales/ru/labelling.json
  website/public/locales/ru/leaderboard.json
  website/public/locales/ru/message.json
  website/public/locales/ru/side_menu.json
  website/public/locales/ru/tos.json
Labels: website

#1104 Update README with quick howto for data collection
  README.md
Labels: documentation

#1120 website: Add instructions for adding and editing translations
  scripts/frontend-development/find-missing-locales.py
  website/docs/add_edit_translations.md
Labels: documentation

#1088 website: Add halt tree, and copy message id features
  website/public/locales/en/common.json
  website/public/locales/en/message.json
  website/src/components/Messages/MessageTableEntry.tsx
  website/src/lib/api.ts
  website/src/lib/oasst_api_client.ts
  website/src/pages/api/admin/stop_tree/[id].ts
Labels: website

#1071 Live language feedback
  website/package-lock.json
  website/package.json
  website/src/components/Survey/TrackedTextarea.tsx
  website/src/lib/iso6393.ts
Labels: website

#1111 Show ToS on all pages
  website/cypress/support/commands.ts
  website/src/components/Layout.tsx
  website/src/components/ToS.tsx
  website/src/components/ToSWrapper.tsx
  website/src/pages/api/tos.ts
  website/src/pages/dashboard.tsx
  website/src/pages/terms-of-service.tsx
Labels: website

#1122 Putting a button for toggling the light/dark color mode right into the navigation bar
  website/src/components/Header/ColorModeToggler.jsx
  website/src/components/Header/Header.tsx
Labels: website

#1143 Fix typos
  ansible/README.md
  backend/oasst_backend/api/v1/hugging_face.py
  backend/oasst_backend/config.py
  backend/oasst_backend/models/message_tree_state.py
  backend/oasst_backend/prompt_repository.py
  backend/oasst_backend/task_repository.py
  backend/oasst_backend/tree_manager.py
  backend/oasst_backend/utils/ranking.py
  copilot/README.md
  docs/docs/data/schemas.mdx
  docs/docs/data/supervised-datasets.md
  model/reward/instructor/TODO.md
  model/reward/instructor/rank_datasets.py
  model/supervised_finetuning/custom_datasets/README.md
  model/supervised_finetuning/custom_datasets/qa_datasets.py
  notebooks/closed-book-qa/T5_closed_book_QA_generators.py
  notebooks/data-augmentation/stackexchange-builder/README.md
  notebooks/detoxify-evaluation/README.md
  notebooks/example/README.md
  oasst-shared/oasst_shared/exceptions/oasst_api_error.py
  scripts/data-collection/twitter/README.md
  scripts/data-collection/twitter/twitter_process_json.py
  scripts/data_augment/data_augment.py
  scripts/postprocessing/rankings.py
  scripts/postprocessing/scoring.py
  scripts/postprocessing/task_schedule.py
  text-frontend/auto_main.py
  website/cypress/README.md
  website/src/components/Survey/LabelLikertGroup.tsx
  website/src/hooks/tasks/useGenericTaskAPI.tsx
  website/src/pages/api/update_task.ts
  website/src/test_pages/README.md
Labels: backend, documentation, website, ml, data

#1201 Ukranian
  website/next-i18next.config.js
  website/public/locales/uk-UA/common.json
  website/public/locales/uk-UA/dashboard.json
  website/public/locales/uk-UA/index.json
  website/public/locales/uk-UA/labelling.json
  website/public/locales/uk-UA/leaderboard.json
  website/public/locales/uk-UA/message.json
  website/public/locales/uk-UA/side_menu.json
  website/public/locales/uk-UA/tasks.json
  website/public/locales/uk-UA/tos.json
Labels: website

#1207 Update ToS Endpoint
  website/src/lib/oasst_api_client.ts
Labels: website

#1193 Update FAQ to address common questions we are seeing
  website/public/locales/en/index.json
  website/src/components/Faq.tsx
Labels: website

#1166 Update german locale
  scripts/frontend-development/find-missing-locales.py
  website/public/locales/de/common.json
  website/public/locales/de/labelling.json
  website/public/locales/de/leaderboard.json
  website/public/locales/en/common.json
  website/public/locales/en/labelling.json
  website/public/locales/en/leaderboard.json
Labels: website

#1210 Use more screen realestate for tooltips
  website/src/components/CollapsableText.tsx
Labels: website

#1214 Make the first letter of the language selector upper case
  website/public/locales/es/index.json
  website/src/components/LanguageSelector/LanguageSelector.tsx
Labels: website, i18n

#1212 Add Catalan Language
  website/next-i18next.config.js
  website/public/locales/ca/common.json
  website/public/locales/ca/dashboard.json
  website/public/locales/ca/index.json
  website/public/locales/ca/labelling.json
  website/public/locales/ca/leaderboard.json
  website/public/locales/ca/message.json
  website/public/locales/ca/side_menu.json
  website/public/locales/ca/tasks.json
  website/public/locales/ca/tos.json
Labels: website, i18n

#1236 fix: removed title on the navbar in the mobile view
  website/src/components/Header/Header.tsx
Labels: website

#1240 uk-UA localization proofread fix
  website/public/locales/uk-UA/common.json
  website/public/locales/uk-UA/index.json
  website/public/locales/uk-UA/labelling.json
  website/public/locales/uk-UA/tasks.json
Labels: i18n

#1185 Expose thumbs up/down buttons in the message table
  website/src/components/Messages/MessageEmojiButton.tsx
  website/src/components/Messages/MessageTableEntry.tsx
Labels: website

#1158 Basic user stats in the accounts page
  website/public/locales/en/leaderboard.json
  website/src/lib/oasst_api_client.ts
  website/src/pages/account/index.tsx
  website/src/pages/api/user_stats.ts
Labels: website

#1245 Add Chinese translation
  website/public/locales/zh/common.json
  website/public/locales/zh/dashboard.json
  website/public/locales/zh/index.json
  website/public/locales/zh/labelling.json
  website/public/locales/zh/leaderboard.json
  website/public/locales/zh/message.json
  website/public/locales/zh/side_menu.json
  website/public/locales/zh/tasks.json
  website/public/locales/zh/tos.json
Labels: website, i18n

#1263 Show current user rank in leaderboard
  text-frontend/auto_main.py
  text-frontend/requirements.txt
  website/src/components/Dashboard/LeaderboardWidget.tsx
  website/src/components/DataTable.tsx
  website/src/components/LeaderboardTable/LeaderboardTable.tsx
  website/src/lib/api.ts
  website/src/lib/oasst_api_client.ts
  website/src/pages/api/leaderboard.ts
Labels: website

#1265 Localize the side menu
  website/src/components/Layout.tsx
  website/src/components/SideMenu.tsx
Labels: website

#1288 Ts strict mode
  website/package-lock.json
  website/package.json
  website/src/components/DataTable.tsx
  website/src/components/UserTable.tsx
  website/src/lib/users.ts
  website/src/pages/auth/signin.tsx
  website/src/pages/auth/verify.tsx
  website/src/pages/messages/[id]/index.tsx
  website/src/pages/tasks/all.tsx
  website/types/next-auth.d.ts
Labels: website

#1290 Fix error in user stats when loading
  website/src/pages/account/index.tsx
Labels: website

#1273 Enhanced French and arabic Locales
  website/public/locales/ar/index.json
  website/public/locales/ar/labelling.json
  website/public/locales/ar/tos.json
  website/public/locales/fr/index.json
  website/public/locales/fr/tasks.json
Labels: i18n

#1296 website: show language in text area
  website/public/locales/en/language.json
  website/src/components/Survey/TrackedTextarea.tsx
  website/src/styles/Theme/colors.ts
  website/types/i18next.d.ts
Labels: website

#1276 Clarify what README Docker instructions are for
  README.md
Labels: documentation

#1277 Add more obvious docs site link to readme
  README.md
Labels: documentation

#1267 Prevent ranking of own messages
  backend/oasst_backend/config.py
  backend/oasst_backend/tree_manager.py
  scripts/backend-development/run-local.sh
Labels: backend

#1322 Add gelu fusion
  model/supervised_finetuning/configs/config.yaml
  model/supervised_finetuning/efficiency_utils.py
  model/supervised_finetuning/trainer.py
Labels: ml

#1262 Add tokenizer config classes
  model/supervised_finetuning/utils.py
Labels: ml

#1301 implement trollboard UI
  website/package-lock.json
  website/public/locales/en/side_menu.json
  website/src/components/Layout.tsx
  website/src/components/LeaderboardTable/LeaderboardTable.tsx
  website/src/components/LeaderboardTable/TrollboardTable.tsx
  website/src/components/LeaderboardTable/useBoardPagination.ts
  website/src/components/LeaderboardTable/useBoardRowProps.ts
  website/src/components/LeaderboardTable/useFetchBoard.ts
  website/src/lib/oasst_api_client.ts
  website/src/pages/admin/trollboard.tsx
  website/src/pages/api/admin/trollboard.ts
  website/src/types/Leaderboard.ts
  website/src/types/Trollboard.ts
Labels: website

#1305 Full Russian Translation
  website/public/locales/ru/common.json
  website/public/locales/ru/index.json
  website/public/locales/ru/labelling.json
  website/public/locales/ru/leaderboard.json
  website/public/locales/ru/message.json
  website/public/locales/ru/tasks.json
Labels: i18n

#1330 CA: fixed some typos
  website/public/locales/ca/common.json
  website/public/locales/ca/index.json
  website/public/locales/ca/labelling.json
Labels: i18n

#1328 fixes German translation typo
  website/public/locales/de/tasks.json
Labels: i18n

#1303 Hide message reaction count when user not reacted yet
  website/public/locales/en/message.json
  website/src/components/Messages/MessageEmojiButton.stories.tsx
  website/src/components/Messages/MessageEmojiButton.tsx
  website/src/components/Messages/MessageTableEntry.tsx
  website/src/hooks/auth/useHasRole.ts
  website/src/pages/messages/[id]/index.tsx
Labels: website

#1300 website: "Wrong Language" -> "Not {lang}"
  website/public/locales/en/labelling.json
  website/src/components/Messages/LabelFlagGroup.tsx
  website/src/components/Messages/LabelInputGroup.tsx
  website/src/components/Messages/LabelPopup.tsx
  website/src/components/Messages/MessageTableEntry.tsx
  website/src/components/Tasks/LabelTask/LabelTask.tsx
Labels: website

#1345 website: Fix broken page when detected language not in list.
  website/src/components/Survey/TrackedTextarea.tsx
Labels: website

#1294 update the backend path to manage user status
  website/src/lib/oasst_api_client.ts
Labels: website

#1291 Force full page reload on language change
  website/src/components/LanguageSelector/LanguageSelector.tsx
Labels: website, i18n

#1353 Remove the automatic refreshing interval when in message tree
  website/src/pages/messages/[id]/index.tsx
Labels: website

#1351 Switching username generator library to be less explicit
  website/package-lock.json
  website/package.json
  website/src/pages/api/auth/[...nextauth].ts
Labels: website

#1232 Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: documentation

#1327 website: Fix hydration issues side menu, move side_menu.json to common.json
  website/public/locales/ar/common.json
  website/public/locales/ar/side_menu.json
  website/public/locales/ca/common.json
  website/public/locales/ca/side_menu.json
  website/public/locales/de/common.json
  website/public/locales/de/side_menu.json
  website/public/locales/en/common.json
  website/public/locales/en/side_menu.json
  website/public/locales/es/common.json
  website/public/locales/es/side_menu.json
  website/public/locales/fr/common.json
  website/public/locales/fr/side_menu.json
  website/public/locales/hu/common.json
  website/public/locales/hu/side_menu.json
  website/public/locales/it/common.json
  website/public/locales/it/side_menu.json
  website/public/locales/ko/common.json
  website/public/locales/ko/side_menu.json
  website/public/locales/pl/common.json
  website/public/locales/pl/side_menu.json
  website/public/locales/pt-BR/common.json
  website/public/locales/pt-BR/side_menu.json
  website/public/locales/ru/common.json
  website/public/locales/ru/side_menu.json
  website/public/locales/tr/common.json
  website/public/locales/tr/side_menu.json
  website/public/locales/uk-UA/common.json
  website/public/locales/uk-UA/side_menu.json
  website/public/locales/vi/common.json
  website/public/locales/vi/side_menu.json
  website/public/locales/zh/common.json
  website/public/locales/zh/side_menu.json
  website/src/components/SideMenu.tsx
  website/types/i18next.d.ts
Labels: i18n

#1360 Translating all german keys not yet translated to german
  website/public/locales/de/dashboard.json
  website/public/locales/de/labelling.json
  website/public/locales/de/message.json
  website/public/locales/de/tasks.json
  website/public/locales/de/tos.json
Labels: website

#1354 Trollboard expandable
  website/src/components/DataTable/DataTable.tsx
  website/src/components/DataTable/jsonExpandRowModel.tsx
  website/src/components/LeaderboardTable/LeaderboardTable.tsx
  website/src/components/LeaderboardTable/TrollboardTable.tsx
  website/src/components/LeaderboardTable/useBoardRowProps.ts
  website/src/components/UserTable.tsx
  website/src/pages/admin/trollboard.tsx
Labels: website

#1368 SFT data sampling
  model/supervised_finetuning/README.md
  model/supervised_finetuning/configs/config.yaml
  model/supervised_finetuning/custom_datasets/qa_datasets.py
  model/supervised_finetuning/custom_datasets/translation.py
  model/supervised_finetuning/requirements.txt
  model/supervised_finetuning/trainer.py
  model/supervised_finetuning/utils.py
Labels: ml

#1292 When loading recent messages, filter by the user's stored language.
  website/public/locales/en/message.json
  website/src/lib/oasst_api_client.ts
  website/src/pages/api/messages/index.ts
  website/src/pages/messages/index.tsx
Labels: website

#1382 fix message reaction count visibility
  website/src/components/Messages/MessageEmojiButton.stories.tsx
  website/src/components/Messages/MessageEmojiButton.tsx
  website/src/components/Messages/MessageTableEntry.tsx
  website/src/types/Conversation.ts
Labels: website

#1381 Create dashboard.json
  website/public/locales/da/dashboard.json
Labels: i18n

#1337 feat: add Bahasa Indonesia
  website/next-i18next.config.js
  website/public/locales/id/common.json
  website/public/locales/id/dashboard.json
  website/public/locales/id/index.json
  website/public/locales/id/labelling.json
  website/public/locales/id/leaderboard.json
  website/public/locales/id/message.json
  website/public/locales/id/tasks.json
  website/public/locales/id/tos.json
Labels: i18n

#1361 Full Russian Translation [Updated]
  website/public/locales/ru/common.json
  website/public/locales/ru/labelling.json
  website/public/locales/ru/leaderboard.json
  website/public/locales/ru/message.json
  website/public/locales/ru/tasks.json
Labels: website, i18n

#1186 add Basque language support
  website/next-i18next.config.js
  website/public/locales/eu/common.json
  website/public/locales/eu/dashboard.json
  website/public/locales/eu/index.json
  website/public/locales/eu/labelling.json
  website/public/locales/eu/leaderboard.json
  website/public/locales/eu/message.json
  website/public/locales/eu/tasks.json
  website/public/locales/eu/tos.json
Labels: website, i18n

#1393 Admin user management
  website/package-lock.json
  website/package.json
  website/src/components/DataTable/DataTableAction.tsx
  website/src/components/DataTable/useCursorPagination.ts
  website/src/components/JsonCard.tsx
  website/src/components/Messages/AdminMessageTable.tsx
  website/src/components/Messages/MessageConversation.stories.tsx
  website/src/components/Messages/MessageConversation.tsx
  website/src/components/Messages/MessageEmojiButton.tsx
  website/src/components/Tasks/CreateTask.tsx
  website/src/components/Tasks/EvaluateTask.tsx
  website/src/components/Tasks/LabelTask/LabelTask.tsx
  website/src/components/UserMessagesCell/UserMessagesCell.tsx
  website/src/components/UserMessagesCell/index.tsx
  website/src/components/UserTable.tsx
  website/src/lib/oasst_api_client.ts
  website/src/lib/routes.ts
  website/src/pages/admin/manage_user/[id].tsx
  website/src/pages/api/admin/update_user.ts
  website/src/pages/api/admin/user_messages.ts
  website/src/pages/messages/index.tsx
  website/src/styles/Theme/components/Table.ts
  website/src/styles/Theme/index.ts
  website/src/types/Conversation.ts
  website/src/types/Users.ts
  website/src/types/utils.ts
Labels: website

#1415 Fixing basque language name hydration issues on Google Chrome
  website/src/components/LanguageSelector/LanguageSelector.tsx
  website/src/components/Messages/LabelFlagGroup.tsx
  website/src/components/Survey/TrackedTextarea.tsx
  website/src/lib/languages.ts
  website/src/pages/messages/index.tsx
Labels: website, i18n

#1420 Eurakasa -> Euskara
  website/src/lib/languages.ts
Labels: i18n

#1398 Add tests and update docstring to tokenizer matching
  model/supervised_finetuning/tests/test_utils.py
  model/supervised_finetuning/utils.py
Labels: ml

#1446 Added database to inference server
  docker-compose.yaml
  docker/inference/Dockerfile.server
  docker/inference/Dockerfile.text-client
  docker/inference/Dockerfile.worker
  inference/full-dev-setup.sh
  inference/server/alembic.ini
  inference/server/alembic/README
  inference/server/alembic/env.py
  inference/server/alembic/script.py.mako
  inference/server/alembic/versions/.gitinclude
  inference/server/alembic/versions/2023_02_10_0221-3a4cd8777eb2_initial_commit.py
  inference/server/main.py
  inference/server/oasst_inference_server/chat_repository.py
  inference/server/oasst_inference_server/database.py
  inference/server/oasst_inference_server/interface.py
  inference/server/oasst_inference_server/models.py
  inference/server/oasst_inference_server/settings.py
  inference/server/requirements.txt
  inference/text-client/__main__.py
  inference/worker/__main__.py
  inference/worker/utils.py
Labels: inference

#1274 Writing prompt
  notebooks/data-augmentation/writing-prompt/.ipynb_checkpoints/writing_prompt-checkpoint.ipynb
  notebooks/data-augmentation/writing-prompt/README.md
  notebooks/data-augmentation/writing-prompt/writing_prompt.ipynb
Labels: data

#1417 Extract more strings for localization
  website/public/locales/en/common.json
  website/public/locales/en/labelling.json
  website/public/locales/en/leaderboard.json
  website/public/locales/en/tasks.json
  website/public/locales/es/common.json
  website/public/locales/es/labelling.json
  website/public/locales/es/leaderboard.json
  website/public/locales/es/tasks.json
  website/src/components/Buttons/Skip.tsx
  website/src/components/Survey/LabelLikertGroup.tsx
  website/src/components/Survey/TaskControls.tsx
  website/src/components/TaskInfo/TaskInfo.tsx
  website/src/pages/account/index.tsx
Labels: i18n

#1421 website: Fix SortableItem whitespace and improve cursor handling
  website/src/components/Sortable/Sortable.stories.tsx
  website/src/components/Sortable/SortableItem.tsx
Labels: website

#1423 fix basque translation typos
  website/public/locales/eu/tasks.json
Labels: i18n

#1437 Update message.json (Catalan translation).
  website/public/locales/ca/message.json
Labels: i18n

#1439 Update tasks.json (Catalan translation).
  website/public/locales/ca/tasks.json
Labels: i18n

#1441 Update labelling.json (Catalan translation).
  website/public/locales/ca/labelling.json
Labels: i18n

#1443 Add Galician (gl) language
  website/next-i18next.config.js
  website/public/locales/gl/common.json
  website/public/locales/gl/dashboard.json
  website/public/locales/gl/index.json
  website/public/locales/gl/labelling.json
  website/public/locales/gl/leaderboard.json
  website/public/locales/gl/message.json
  website/public/locales/gl/tasks.json
  website/public/locales/gl/tos.json
  website/src/lib/languages.ts
Labels: i18n

#1453 implement admin message detail page
  website/src/components/Messages/MessageTableEntry.tsx
  website/src/components/Messages/MessageTree.tsx
  website/src/lib/oasst_api_client.ts
  website/src/pages/admin/messages/[id].tsx
  website/src/pages/api/admin/messages/[id]/tree.ts
  website/src/types/Conversation.ts
Labels: website

#1452 fix: typos in spanish (es) version of landing page
  website/public/locales/es/index.json
Labels: i18n

#1455 Add more datasets and some fixes
  model/reward/instructor/rank_datasets.py
  model/reward/instructor/utils.py
  model/supervised_finetuning/custom_datasets/__init__.py
  model/supervised_finetuning/custom_datasets/dialogue_collator.py
  model/supervised_finetuning/custom_datasets/prompt_dialogue.py
  model/supervised_finetuning/custom_datasets/qa_datasets.py
  model/supervised_finetuning/custom_datasets/summarization.py
  model/supervised_finetuning/custom_datasets/translation.py
  model/supervised_finetuning/tests/test_datasets.py
  model/supervised_finetuning/trainer.py
  model/supervised_finetuning/utils.py
Labels: ml

#1462 Add Thai language
  website/next-i18next.config.js
  website/public/locales/th/common.json
  website/public/locales/th/dashboard.json
  website/public/locales/th/index.json
  website/public/locales/th/labelling.json
  website/public/locales/th/leaderboard.json
  website/public/locales/th/message.json
  website/public/locales/th/tasks.json
  website/public/locales/th/tos.json
Labels: website

#1478 Internal data sft training
  model/supervised_finetuning/README.md
  model/supervised_finetuning/configs/config.yaml
  model/supervised_finetuning/custom_datasets/__init__.py
  model/supervised_finetuning/custom_datasets/dialogue_collator.py
  model/supervised_finetuning/custom_datasets/formatting.py
  model/supervised_finetuning/custom_datasets/prompt_dialogue.py
  model/supervised_finetuning/trainer.py
  model/supervised_finetuning/utils.py
Labels: ml

#1484 Update statistics order
  website/src/pages/account/index.tsx
Labels: website

#1486 A fix ukraine translate!
  website/public/locales/uk-UA/common.json
  website/public/locales/uk-UA/dashboard.json
  website/public/locales/uk-UA/index.json
  website/public/locales/uk-UA/tasks.json
Labels: i18n

#1495 Fix jest unit test
  website/jest.setup.js
  website/src/setupTests.js
Labels: website

#1498 Show welcome message in dashboard in different languages
  website/public/locales/en/dashboard.json
  website/public/locales/es/dashboard.json
  website/src/components/Dashboard/WelcomeCard.tsx
Labels: website

#1503 Russian Translation [translated Welcome Screen now]
  website/public/locales/ru/dashboard.json
  website/public/locales/ru/labelling.json
Labels: i18n

#1464 add periodically updated cached message stats
  backend/alembic/versions/2023_02_11_1030-ba40d055714a_add_cached_stats.py
  backend/main.py
  backend/oasst_backend/api/v1/stats.py
  backend/oasst_backend/cached_stats_repository.py
  backend/oasst_backend/config.py
  backend/oasst_backend/models/__init__.py
  backend/oasst_backend/models/cached_stats.py
  oasst-shared/oasst_shared/exceptions/oasst_api_error.py
  oasst-shared/oasst_shared/schemas/protocol.py
Labels: backend

#1499 RL training
  model/model_training/.gitignore
  model/model_training/README.md
  model/model_training/configs/config.yaml
  model/model_training/configs/config_rl.yaml
  model/model_training/configs/ppo_config.yaml
  model/model_training/configs/zero_config.json
  model/model_training/custom_datasets/README.md
  model/model_training/custom_datasets/__init__.py
  model/model_training/custom_datasets/dialogue_collator.py
  model/model_training/custom_datasets/formatting.py
  model/model_training/custom_datasets/prompt_dialogue.py
  model/model_training/custom_datasets/qa_datasets.py
  model/model_training/custom_datasets/summarization.py
  model/model_training/custom_datasets/toxic_conversation.py
  model/model_training/custom_datasets/translation.py
  model/model_training/efficiency_utils.py
  model/model_training/losses.py
  model/model_training/models/__init__.py
  model/model_training/models/gptj.py
  model/model_training/requirements.txt
  model/model_training/tests/test_datasets.py
  model/model_training/tests/test_utils.py
  model/model_training/trainer_rl.py
  model/model_training/trainer_sft.py
  model/model_training/utils.py
Labels: ml

#1514 Add Dutch (NL) translations
  website/next-i18next.config.js
  website/public/locales/nl/common.json
  website/public/locales/nl/dashboard.json
  website/public/locales/nl/index.json
  website/public/locales/nl/labelling.json
  website/public/locales/nl/leaderboard.json
  website/public/locales/nl/message.json
  website/public/locales/nl/tasks.json
  website/public/locales/nl/tos.json
Labels: website, i18n

#1520 Add Czech language
  website/next-i18next.config.js
  website/public/locales/cs/common.json
  website/public/locales/cs/dashboard.json
  website/public/locales/cs/index.json
  website/public/locales/cs/labelling.json
  website/public/locales/cs/leaderboard.json
  website/public/locales/cs/message.json
  website/public/locales/cs/tasks.json
  website/public/locales/cs/tos.json
Labels: website, i18n

#1418 Use docker compose profiles for all services
  .github/workflows/test-e2e.yaml
  backend/README.md
  docker-compose.yaml
  website/README.md
Labels: backend, website

#1529 Move humor after creativity for prompter reply text labels
  backend/oasst_backend/config.py
Labels: backend

#1308 Swedish translation
  website/next-i18next.config.js
  website/public/locales/sv/common.json
  website/public/locales/sv/dashboard.json
  website/public/locales/sv/index.json
  website/public/locales/sv/labelling.json
  website/public/locales/sv/leaderboard.json
  website/public/locales/sv/message.json
  website/public/locales/sv/tasks.json
  website/public/locales/sv/tos.json
Labels: i18n

#1414 feat: romanian
  website/next-i18next.config.js
  website/public/locales/ro/common.json
  website/public/locales/ro/dashboard.json
  website/public/locales/ro/index.json
  website/public/locales/ro/labelling.json
  website/public/locales/ro/leaderboard.json
  website/public/locales/ro/message.json
  website/public/locales/ro/tasks.json
  website/public/locales/ro/tos.json
Labels: i18n

#1422 Adding new Catalan translations
  website/public/locales/ca/common.json
  website/public/locales/ca/index.json
  website/public/locales/ca/leaderboard.json
  website/public/locales/ca/message.json
  website/public/locales/ca/tasks.json
Labels: i18n

#1524 Fix css bug in messages if words too long (#1517)
  website/src/components/Messages/MessageTableEntry.tsx
Labels: website, UI/UX

#1532 fix: spanish translation
  website/public/locales/es/common.json
  website/public/locales/es/dashboard.json
  website/public/locales/es/labelling.json
  website/public/locales/es/tasks.json
Labels: i18n

#1533 Small fix in contributors spanish translation
  website/public/locales/es/leaderboard.json
Labels: i18n

#1534 fix typo in ToS
  website/src/components/ToS.tsx
Labels: website

#1482 use new message tree in user area
  website/public/locales/en/message.json
  website/src/components/Messages/MessageTableEntry.tsx
  website/src/components/Messages/MessageTree.tsx
  website/src/lib/oasst_api_client.ts
  website/src/pages/api/admin/messages/[id]/tree.ts
  website/src/pages/api/messages/[id]/tree.ts
  website/src/pages/messages/[id]/index.tsx
  website/src/types/Conversation.ts
Labels: website, i18n

#1445 1442: Add option to export labels of exported messages to a separate JSONL file
  backend/export.py
  backend/oasst_backend/utils/tree_export.py
Labels: backend

#1554 Test model through CLI
  model/model_training/README.md
  model/model_training/models/__init__.py
  model/model_training/tools/model_cli.py
Labels: ml

#1483 Add our current architecture to the blog
  .github/workflows/deploy-docs-site.yaml
  docs/.gitignore
  docs/.yarnrc.yml
  docs/blog/2023-02-11-architecture.md
  docs/blog/authors.yml
  docs/docusaurus.config.js
  docs/package.json
  docs/yarn.lock
Labels: documentation

#1450 Update ca locale
  website/public/locales/ca/common.json
  website/public/locales/ca/dashboard.json
  website/public/locales/ca/index.json
  website/public/locales/ca/labelling.json
  website/public/locales/ca/leaderboard.json
  website/public/locales/ca/message.json
  website/public/locales/ca/tasks.json
Labels: i18n

#1513 Add Hebrew localisation
  website/next-i18next.config.js
  website/public/locales/he/common.json
  website/public/locales/he/dashboard.json
  website/public/locales/he/index.json
  website/public/locales/he/labelling.json
  website/public/locales/he/leaderboard.json
  website/public/locales/he/message.json
  website/public/locales/he/tasks.json
  website/public/locales/he/tos.json
Labels: website, i18n

#1525 add nvmrc file, default node version 16.17.0
  website/.nvmrc
Labels: website

#1583 Deleting a test call to the backend with a JWT
  website/src/pages/dashboard.tsx
Labels: website

#1572 Add UA-SQuAD QA dataset
  model/model_training/custom_datasets/__init__.py
  model/model_training/custom_datasets/qa_datasets.py
Labels: ml, data

#1562 Added feedback text to empty messages cards
  website/public/locales/ca/message.json
  website/public/locales/en/message.json
  website/public/locales/es/message.json
  website/public/locales/eu/message.json
  website/public/locales/gl/message.json
  website/src/components/Messages/MessageConversation.tsx
  website/src/pages/messages/index.tsx
Labels: website, UI/UX

#1576 website: Add stats page and side menu item
  website/public/locales/en/common.json
  website/public/locales/en/stats.json
  website/src/components/Layout.tsx
  website/src/components/Stats/Stats.components.tsx
  website/src/components/Stats/Stats.tsx
  website/src/components/Stats/index.ts
  website/src/lib/oasst_api_client.ts
  website/src/pages/api/stats/cached_stats.ts
  website/src/pages/stats.tsx
  website/src/types/Stat.ts
  website/types/i18next.d.ts
Labels: website, UI/UX

#1570 Export average label values per message
  backend/alembic/versions/2023_02_14_1756-165b55de5a94_add_text_labels_message_id_index.py
  backend/export.py
  backend/oasst_backend/models/text_labels.py
  backend/oasst_backend/utils/tree_export.py
Labels: backend

#1592 Add translation prompts in Ukrainian language
  model/model_training/custom_datasets/translation.py
Labels: ml

#1593 handle locale in message actions
  website/src/components/Messages/MessageTableEntry.tsx
Labels: website

#1552 website: Fix stories, add session decorator and button stories
  website/.storybook/decorators.js
  website/src/components/Buttons/Buttons.stories.tsx
  website/src/components/Header/Header.stories.jsx
  website/src/components/LanguageSelector/LanguageSelector.tsx
  website/src/components/Messages/MessageEmojiButton.stories.tsx
  website/src/components/Tasks/Task/Task.stories.tsx
  website/src/test-utils/createMockRouter.ts
Labels: website

#1544 Markdown rendering
  website/package-lock.json
  website/package.json
  website/src/components/Messages/MessageTableEntry.tsx
  website/src/components/Messages/MessageTree.tsx
  website/src/components/Messages/RenderedMarkdown.tsx
  website/src/components/Sortable/Sortable.tsx
  website/src/styles/Chakra.tsx
  website/src/styles/Theme/index.ts
  website/src/styles/globals.css
Labels: website

#1362 Rework Guidelines documentation
  docs/docs/faq/faq.md
  docs/docs/guides/examples.md
  docs/docs/guides/guidelines.md
  docs/docs/guides/prompting.md
  docs/sidebars.js
  website/src/components/Tasks/TaskTypes.tsx
Labels: documentation

#1600 Correct Info about team roles
  docs/blog/2023-02-05-we-need-your-help.mdx
  docs/blog/authors.yml
Labels: documentation

#1614 Read the signin env variables from server props
  .github/workflows/build-frontend.yaml
  ansible/deploy-to-node.yaml
  docker-compose.yaml
  website/.env
  website/src/components/CloudflareCaptcha.tsx
  website/src/pages/auth/signin.tsx
Labels: website

#1599 Store null in review_result column during review phase
  backend/alembic/versions/2023_02_15_1754-8cd0c34d0c3c_message_review_result_nullable.py
  backend/oasst_backend/models/message.py
  backend/oasst_backend/prompt_repository.py
  backend/oasst_backend/tree_manager.py
Labels: backend

#1518 Add link to FAQ about docker in the README
  README.md
Labels: documentation

#1454 Example of dataset contribution
  openassistant/datasets/__init__.py
  openassistant/datasets/grade-school-math-instructions/dataset_creation.ipynb
Labels: data

#1587 Use eos token for end of generated sequence
  model/model_training/custom_datasets/__init__.py
  model/model_training/custom_datasets/dialogue_collator.py
  model/model_training/custom_datasets/qa_datasets.py
  model/model_training/tools/model_chat.py
  model/model_training/trainer_sft.py
Labels: ml

#1682 Update privacy-policy.tsx
  website/src/pages/privacy-policy.tsx
Labels: website

#1666 Add language badge to messages
  website/src/components/Messages/MessageTableEntry.tsx
Labels: website, UI/UX

#1739 Fix role updating for discord users
  website/src/lib/users.ts
  website/src/pages/admin/manage_user/[id].tsx
  website/src/pages/api/admin/update_user.ts
Labels: website

#1650 Message Tree Topic Modeling Pipeline
  backend/oasst_backend/utils/exported_tree_loading.py
  backend/oasst_backend/utils/message_tree_topic_modeling.py
  backend/oasst_backend/utils/similarity_functions.py
  backend/oasst_backend/utils/topic_model_requirments.txt
Labels: backend, ml, data

#1724 dont render image in markdown
  website/src/components/Messages/RenderedMarkdown.tsx
Labels: website

#1323 update api docs
  .devcontainer/backend-dev/devcontainer.json
  docs/docs/api/openapi.json
Labels: documentation

#1448 Update common.json
  website/public/locales/es/common.json
Labels: i18n

#1762 Add more contrast to the radio button border
  website/src/components/Buttons/LikertButtons.tsx
Labels: website

#1404 Basic chat UI
  docker-compose.yaml
  website/.env
  website/public/locales/en/common.json
  website/src/flags.ts
  website/src/middleware.ts
  website/src/pages/api/chat/index.ts
  website/src/pages/api/chat/message.ts
  website/src/pages/chat.tsx
Labels: website, inference

#1733 Augmenting the prosocial_dialog data for safety pipeline
  notebooks/data-augmentation/anthropic/README.md
  notebooks/data-augmentation/anthropic/safety data-augmentation.ipynb
  notebooks/data-augmentation/anthropic/trainer.py
Labels: data

#1425 Adding a notebook to make use of the TSSB-3M bugs dataset
  notebooks/TSSB-3M-bugs-dataset/TSSB-3M-bugs_dataset.ipynb
  notebooks/TSSB-3M-bugs-dataset/TSSB-3M-bugs_dataset.md
Labels: data

#1778 feature: Sorting & finding by username (ID) admin interface
  website/src/components/DataTable/DataTable.tsx
  website/src/components/UserTable.tsx
Labels: website

#1776 Instructions to reproduce training
  model/README.md
  model/model_training/configs/config.yaml
  model/model_training/configs/config_rl.yaml
  model/model_training/configs/ppo_config.yaml
  model/model_training/models/__init__.py
  model/model_training/trainer_rl.py
  model/model_training/trainer_sft.py
  model/model_training/utils.py
  model/reward/instructor/trainer.py
  model/reward/instructor/utils.py
Labels: ml

#1772 Introduce users and Discord auth to inference server
  docker-compose.yaml
  inference/server/alembic/versions/2023_02_21_2205-b365a18db6fd_added_users_table.py
  inference/server/main.py
  inference/server/oasst_inference_server/models.py
  inference/server/oasst_inference_server/settings.py
  inference/server/requirements.txt
  oasst-shared/oasst_shared/schemas/inference.py
Labels: inference

#1097 web: flag explanation: make more readable
  website/src/components/Explain.tsx
  website/src/components/Messages/LabelInputGroup.tsx
Labels: website

#1101 Add message counts grouped by lang tag to system stats query
  backend/oasst_backend/prompt_repository.py
  oasst-shared/oasst_shared/schemas/protocol.py
Labels: backend

#1805 Inference: Require user authentication to call chat endpoints
  inference/server/main.py
  inference/server/oasst_inference_server/auth.py
Labels: inference

#1838 Handle empty message tree state
  website/src/components/Stats/Stats.tsx
Labels: bug, website
