Repository LAION-AI/Open-Assistant, pull requests merged in 2023-05, with the labels that each got.

#2989 Only render captcha when sitekey is available
  website/package-lock.json
  website/package.json
  website/src/components/CloudflareCaptcha.tsx
  website/src/pages/auth/signin.tsx
Labels: website

#2765 Basic implementation of an plugin system for OA
  inference/full-dev-setup.sh
  inference/server/alembic/versions/2023_05_01_2253-5b4211625a9f_added_used_plugin_to_message.py
  inference/server/oasst_inference_server/chat_repository.py
  inference/server/oasst_inference_server/database.py
  inference/server/oasst_inference_server/models/chat.py
  inference/server/oasst_inference_server/routes/chats.py
  inference/server/oasst_inference_server/routes/configs.py
  inference/server/oasst_inference_server/routes/workers.py
  inference/server/oasst_inference_server/schemas/chat.py
  inference/worker/PLUGINS.md
  inference/worker/chat_chain.py
  inference/worker/chat_chain_prompts.py
  inference/worker/chat_chain_utils.py
  inference/worker/hf_langchain_inference.py
  inference/worker/interface.py
  inference/worker/opeanapi_parser.py
  inference/worker/requirements.txt
  inference/worker/work.py
  oasst-shared/oasst_shared/schemas/inference.py
  website/package-lock.json
  website/package.json
  website/public/locales/en/chat.json
  website/src/components/Chat/ChatConfigDesktop.tsx
  website/src/components/Chat/ChatConfigForm.tsx
  website/src/components/Chat/ChatConfigSaver.tsx
  website/src/components/Chat/ChatConfigSummary.tsx
  website/src/components/Chat/ChatContext.tsx
  website/src/components/Chat/ChatConversation.tsx
  website/src/components/Chat/ChatForm.tsx
  website/src/components/Chat/ChatMessageEntry.tsx
  website/src/components/Chat/ChatSection.tsx
  website/src/components/Chat/PluginsChooser.tsx
  website/src/components/Messages/BaseMessageEntry.tsx
  website/src/components/Messages/PluginUsageDetails.tsx
  website/src/components/Messages/RenderedMarkdown.tsx
  website/src/lib/oasst_inference_client.ts
  website/src/lib/routes.ts
  website/src/pages/api/chat/plugin_config.ts
  website/src/pages/api/chat/plugins.ts
  website/src/pages/chat/[id].tsx
  website/src/types/Chat.ts
Labels: feature, needs discussion

#2882 Add prioritisation to prompt lottery
  backend/oasst_backend/tree_manager.py
Labels: backend

#3008 fix sponsored by text appearing after sponsors
  website/src/components/Chat/InferencePoweredBy.tsx
Labels: website

#3024 Remove auth_token from args stored in sampling reports
  model/model_eval/manual/sampling_report.py
Labels: ml

#3023 Add back chat queue info
  website/src/components/Chat/ChatConversation.tsx
  website/src/components/Chat/ChatForm.tsx
Labels: website, inference

#3017 Fix plugins
  inference/worker/basic_hf_server.py
  inference/worker/chat_chain.py
  inference/worker/chat_chain_utils.py
  inference/worker/hf_langchain_inference.py
  inference/worker/hf_stopping.py
  inference/worker/openapi_parser.py
  inference/worker/requirements.txt
  inference/worker/utils.py
  inference/worker/work.py
Labels: inference

#2975 Add initial inference data export script
  backend/export.py
  backend/oasst_backend/utils/tree_export.py
  docker/inference/Dockerfile.server
  inference/server/export.py
  oasst-data/oasst_data/__init__.py
  oasst-data/oasst_data/schemas.py
  oasst-shared/oasst_shared/utils.py
Labels: inference

#3046 Resolve delete function leading to orphaned reports
  inference/server/oasst_inference_server/user_chat_repository.py
Labels: inference

#2641 send flagged message notification to discord
  .github/workflows/deploy-to-node.yaml
  ansible/deploy-to-node.yaml
  backend/oasst_backend/config.py
  backend/oasst_backend/prompt_repository.py
  backend/oasst_backend/utils/discord.py
  backend/requirements.txt
Labels: backend

#3019 add delete function
  inference/server/oasst_inference_server/user_chat_repository.py
  website/public/locales/en/chat.json
  website/src/components/Chat/ChatConversation.tsx
  website/src/components/Chat/ChatListBase.tsx
  website/src/components/Chat/ChatListItem.tsx
  website/src/lib/api.ts
  website/src/lib/oasst_inference_client.ts
  website/src/lib/routes.ts
  website/src/pages/api/chat/index.ts
Labels: website, inference

#3075 Show hidden chats in chat list
  website/public/locales/en/chat.json
  website/src/components/Chat/ChatListBase.tsx
  website/src/components/Chat/ChatViewSelection.tsx
  website/src/components/Chat/useListChatPagination.ts
  website/src/lib/routes.ts
  website/src/pages/api/chat/index.ts
  website/src/pages/chat/index.tsx
  website/src/types/Chat.ts
Labels: website

#2981 Optimise safety dockerfile
  docker/inference/Dockerfile.safety
Labels: safety, inference

#2890 I18n Serbian latin language translate
  website/next-i18next.config.js
  website/public/locales/sr/account.json
  website/public/locales/sr/chat.json
  website/public/locales/sr/common.json
  website/public/locales/sr/dashboard.json
  website/public/locales/sr/error.json
  website/public/locales/sr/index.json
  website/public/locales/sr/labelling.json
  website/public/locales/sr/leaderboard.json
  website/public/locales/sr/message.json
  website/public/locales/sr/stats.json
  website/public/locales/sr/tasks.json
  website/public/locales/sr/tos.json
Labels: i18n

#3016 Fix model cli
  model/model_training/tools/model_cli.py
Labels: ml

#3070 Plugins fixes
  inference/server/oasst_inference_server/routes/configs.py
  inference/worker/chat_chain_prompts.py
  inference/worker/chat_chain_utils.py
  inference/worker/openapi_parser.py
  inference/worker/work.py
Labels: inference

#3079 Allow to save custom preset
  website/public/locales/en/chat.json
  website/src/components/Chat/ChatConfigDesktop.tsx
  website/src/components/Chat/ChatConfigForm.tsx
  website/src/components/Chat/ChatConfigMobile.tsx
  website/src/components/Chat/ChatConfigSaver.tsx
  website/src/components/Chat/DeletePresetButton.tsx
  website/src/components/Chat/SavePresetButton.tsx
  website/src/utils/chat.ts
Labels: website

#3071 Improve inference export script
  inference/server/export.py
Labels: inference

#3074 Add Dataset with Russian Riddles
  data/datasets/__init__.py
Labels: data

#3102 Fix text overlapping in chat text area
  website/src/components/Chat/ChatForm.tsx
Labels: website, UI/UX

#3107 Add allow_data_use to ChatRead model
  inference/server/oasst_inference_server/models/chat.py
  inference/server/oasst_inference_server/schemas/chat.py
Labels: inference

#3100 Use the tool with the highest similarity instead of the first one over 75%
  inference/worker/chat_chain_utils.py
Labels: inference

#3033 Add Bavarian ("Bairisch") Language
  website/next-i18next.config.js
  website/public/locales/bar/account.json
  website/public/locales/bar/chat.json
  website/public/locales/bar/common.json
  website/public/locales/bar/dashboard.json
  website/public/locales/bar/error.json
  website/public/locales/bar/index.json
  website/public/locales/bar/labelling.json
  website/public/locales/bar/leaderboard.json
  website/public/locales/bar/message.json
  website/public/locales/bar/stats.json
  website/public/locales/bar/tasks.json
  website/public/locales/bar/tos.json
  website/src/lib/languages.ts
Labels: i18n

#2937 Add Swabian Dialect
  website/next-i18next.config.js
  website/public/locales/swg/chat.json
  website/public/locales/swg/common.json
  website/public/locales/swg/dashboard.json
  website/public/locales/swg/error.json
  website/public/locales/swg/index.json
  website/public/locales/swg/labelling.json
  website/public/locales/swg/leaderboard.json
  website/public/locales/swg/message.json
  website/public/locales/swg/stats.json
  website/public/locales/swg/tasks.json
  website/public/locales/swg/tos.json
  website/src/lib/languages.ts
Labels: i18n

#2693 add TSSB-3M dataset
  data/datasets/TSSB-3M/README.md
  data/datasets/TSSB-3M/generate_dataset.py
  data/datasets/TSSB-3M/invalid_commit_messages.tsv
  data/datasets/TSSB-3M/load_script.py
  data/datasets/__init__.py
Labels: data

#3113 add requests to requirements.txt
  backend/requirements_worker.txt
Labels: inference

#3114 Add Tatoeba QnA dataset
  data/datasets/__init__.py
  data/datasets/tatoeba_mt_qna_oa/README.MD
  data/datasets/tatoeba_mt_qna_oa/data_process.py
  data/datasets/tatoeba_mt_qna_oa/language_names.py
  data/datasets/tatoeba_mt_qna_oa/language_paraphrase.py
  data/datasets/tatoeba_mt_qna_oa/language_translate.py
Labels: data

#3130 New encourage message UI
  website/public/locales/en/chat.json
  website/src/components/Chat/ChatConversation.tsx
  website/src/components/Chat/ChatConversationTree.tsx
  website/src/components/Chat/ChatMessageEntry.tsx
  website/src/components/Chat/EncourageMessage.tsx
Labels: website, UI/UX

#3110 implement markdown editor
  website/package-lock.json
  website/package.json
  website/src/components/MarkdownEditor.tsx
  website/src/components/Messages/MessageEmojiButton.tsx
  website/src/components/Survey/TrackedTextarea.tsx
  website/src/components/Tasks/CreateTask.tsx
Labels: website

#3106 Added the required files to generate a instructional python dataset…
  data/datasets/__init__.py
  data/datasets/instructional_codesearchnet_python/GenerateOpenAssistantInstructionResponseFormat.ipynb
  data/datasets/instructional_codesearchnet_python/README.md
  data/datasets/instructional_codesearchnet_python/Summarize_codesearchnet_for_python.ipynb
Labels: data

#3128 Add paper summaries for retrieval research.
  docs/docs/research/retrieval.md
Labels: documentation, research

#3124 next changes, remove @next/font
  website/package-lock.json
  website/package.json
  website/src/styles/Theme/index.ts
Labels: website

#3104 feat: Allow an option for opting out of training data collection for each chat
  website/public/locales/en/chat.json
  website/src/components/Chat/ChatListItem.tsx
Labels: website, inference

#3164 Hebrew fixes
  website/public/locales/he/common.json
  website/public/locales/he/index.json
  website/public/locales/he/labelling.json
  website/public/locales/he/message.json
  website/public/locales/he/tasks.json
Labels: i18n

#3175 Add hexagon sticker files to /assets
  assets/open assistant hexagon sticker EN.png
  assets/open assistant hexagon sticker EN.svg
Labels: design

#2988 sft8 training preparation
  model/model_eval/manual/config/noprefix2_profile.json
  model/model_eval/manual/config/system_profile.json
  model/model_eval/manual/config/system_profile2.json
  model/model_eval/manual/sampling_report.py
  model/model_training/check_dataset_appearances.py
  model/model_training/check_dataset_counts.py
  model/model_training/configs/config.yaml
  model/model_training/configs/config_rm.yaml
  model/model_training/configs/zero_config_pretrain.json
  model/model_training/custom_datasets/__init__.py
  model/model_training/custom_datasets/dialogue_collator.py
  model/model_training/custom_datasets/entities.py
  model/model_training/custom_datasets/formatting.py
  model/model_training/custom_datasets/instruction.py
  model/model_training/custom_datasets/oasst_dataset.py
  model/model_training/custom_datasets/pretrain_datasets.py
  model/model_training/custom_datasets/prompt_dialogue.py
  model/model_training/custom_datasets/qa_datasets.py
  model/model_training/custom_datasets/ranking_collator.py
  model/model_training/custom_datasets/utils.py
  model/model_training/tests/test_dialogue_data_collator.py
  model/model_training/tests/test_formatting.py
  model/model_training/tests/test_ranking_collator.py
  model/model_training/trainer_rl.py
  model/model_training/trainer_rm.py
  model/model_training/trainer_sft.py
  model/model_training/utils/ppo_utils.py
  model/model_training/utils/utils.py
  model/model_training/utils/utils_rl.py
  oasst-data/oasst_data/schemas.py
Labels: ml

#3120 Initial plugins code cleanup
  inference/server/oasst_inference_server/plugin_utils.py
  inference/server/oasst_inference_server/routes/configs.py
  inference/worker/basic_hf_server.py
  inference/worker/chat_chain.py
  inference/worker/chat_chain_utils.py
  inference/worker/hf_langchain_inference.py
  inference/worker/openapi_parser.py
  inference/worker/work.py
  oasst-shared/oasst_shared/schemas/inference.py
Labels: inference

#3198 Small fix to export script
  inference/server/export.py
Labels: inference

#3162 Switch to filtered prosocial dataset
  model/model_training/custom_datasets/toxic_conversation.py
Labels: ml, data

#3202 Resolve duplication issue with filtered prosocial
  model/model_training/custom_datasets/toxic_conversation.py
Labels: ml, data

#3195 Lithuanian translation
  website/next-i18next.config.js
  website/public/locales/lt/account.json
  website/public/locales/lt/common.json
  website/public/locales/lt/dashboard.json
  website/public/locales/lt/error.json
  website/public/locales/lt/index.json
  website/public/locales/lt/message.json
  website/public/locales/lt/tasks.json
  website/public/locales/lt/tos.json
Labels: website, i18n

#3186 Added celery worker container to github actions
  .github/workflows/release.yaml
  ansible/deploy-to-node.yaml
Labels: backend

#3225 Add missing build-backend-worker dependency to deploy-to-node
  .github/workflows/release.yaml
Labels: backend

#3201 Fixed Issue #3072
  website/src/components/Chat/ChatListItem.tsx
Labels: website

#3227 Add inference server setting to control max depth of plugins
  ansible/inference/deploy-server.yaml
  inference/server/oasst_inference_server/routes/chats.py
  inference/server/oasst_inference_server/settings.py
  inference/worker/chat_chain.py
  oasst-shared/oasst_shared/schemas/inference.py
Labels: inference

#3080 Backend support for message search
  backend/alembic/versions/2023_05_07_2129-1b6e3ae16e9d_add_text_search.py
  backend/oasst_backend/api/v1/messages.py
  backend/oasst_backend/celery_worker.py
  backend/oasst_backend/models/message.py
  backend/oasst_backend/prompt_repository.py
  backend/oasst_backend/scheduled_tasks.py
  backend/oasst_backend/utils/database_utils.py
Labels: backend

#3238 Plugins intermediate steps reporting
  inference/server/oasst_inference_server/routes/chats.py
  inference/server/oasst_inference_server/routes/workers.py
  inference/server/oasst_inference_server/schemas/chat.py
  inference/worker/chat_chain.py
  inference/worker/work.py
  oasst-shared/oasst_shared/schemas/inference.py
  website/src/components/Chat/ChatConversation.tsx
  website/src/lib/chat_stream.ts
  website/src/types/Chat.ts
Labels: website, inference

#3241 add falcon model, and lima linear dropout increase
  model/model_training/configs/config.yaml
  model/model_training/configs/zero_config_falcon.json
  model/model_training/models/__init__.py
  model/model_training/models/patching.py
  model/model_training/utils/utils.py
Labels: ml

#3176 [968] Add paging flagged messages
  backend/oasst_backend/api/v1/admin.py
  backend/oasst_backend/prompt_repository.py
Labels: backend
