Repository LAION-AI/Open-Assistant, pull requests merged in 2023-06, with the labels that each got.

#3277 Add Dragan's web retriever plugin
  inference/server/oasst_inference_server/plugins/__init__.py
  inference/server/oasst_inference_server/plugins/gale_pleaser/ai-plugin.json
  inference/server/oasst_inference_server/plugins/gale_pleaser/main.py
  inference/server/oasst_inference_server/plugins/gale_roaster/ai-plugin.json
  inference/server/oasst_inference_server/plugins/gale_roaster/main.py
  inference/server/oasst_inference_server/plugins/web_retriever/ai-plugin.json
  inference/server/oasst_inference_server/plugins/web_retriever/icon.png
  inference/server/oasst_inference_server/plugins/web_retriever/main.py
  inference/server/requirements.txt
Labels: ml

#3288 Added language Bahasa Malaysia
  website/public/locales/ms/account.json
  website/public/locales/ms/chat.json
  website/public/locales/ms/common.json
  website/public/locales/ms/dashboard.json
  website/public/locales/ms/error.json
  website/public/locales/ms/index.json
  website/public/locales/ms/labelling.json
  website/public/locales/ms/leaderboard.json
  website/public/locales/ms/message.json
  website/public/locales/ms/stats.json
  website/public/locales/ms/tasks.json
  website/public/locales/ms/tos.json
Labels: i18n

#3294 Add "servers" attribute to openapi spec of demo plug-ins
  inference/server/oasst_inference_server/plugins/gale_pleaser/main.py
  inference/server/oasst_inference_server/plugins/gale_roaster/main.py
  inference/server/oasst_inference_server/plugins/web_retriever/main.py
Labels: plugins

#3272 add initial minimal plugins docs
  docs/docs/plugins/README.md
  docs/docs/plugins/getting-started.md
  docs/docs/plugins/img/plugins-inspect.png
  docs/docs/plugins/img/plugins-quickstart.png
  docs/docs/plugins/list.md
  docs/sidebars.js
Labels: documentation, plugins

#3285 Add trust_remote_code option to export_model.py
  model/model_training/tools/export_model.py
Labels: ml

#3316 fix for plugins openapi parser
  inference/worker/openapi_parser.py
Labels: inference, plugins

#3330 Initial inference documentation pass
  inference/safety/main.py
  inference/safety/settings.py
  inference/server/export.py
  inference/server/main.py
  inference/server/oasst_inference_server/admin.py
  inference/server/oasst_inference_server/auth.py
  inference/server/oasst_inference_server/chat_repository.py
  inference/server/oasst_inference_server/chat_utils.py
  inference/server/oasst_inference_server/compliance.py
  inference/server/oasst_inference_server/database.py
  inference/server/oasst_inference_server/plugin_utils.py
  inference/server/oasst_inference_server/user_chat_repository.py
  inference/server/oasst_inference_server/worker_utils.py
  inference/worker/basic_hf_server.py
  inference/worker/hf_langchain_inference.py
  inference/worker/hf_stopping.py
  inference/worker/utils.py
  inference/worker/work.py
Labels: documentation, inference

#3324 Simplify message and token format doc
  model/MESSAGE_AND_TOKEN_FORMAT.md
Labels: documentation, ml

#3322 Edit history viewer
  backend/oasst_backend/api/v1/messages.py
  backend/oasst_backend/api/v1/utils.py
  backend/oasst_backend/models/message_revision.py
  backend/oasst_backend/prompt_repository.py
  oasst-shared/oasst_shared/schemas/protocol.py
  website/src/components/Messages/MessageCreateDate.tsx
  website/src/components/Messages/MessageHistoryTable.tsx
  website/src/components/Messages/MessageTableEntry.tsx
  website/src/lib/oasst_api_client.ts
  website/src/pages/admin/messages/[id].tsx
  website/src/pages/api/admin/messages/[id]/history.ts
  website/src/types/Conversation.ts
Labels: backend, website

#3373 Add uuid7 dependency to backend worker
  backend/requirements_worker.txt
Labels: backend

#3319 Modify: Default Height on Chat List
  website/src/components/Chat/ChatListBase.tsx
  website/src/pages/chat/index.tsx
Labels: website, inference

#3375 Fix Dialogs in Chat
  website/public/locales/en/chat.json
  website/src/components/Chat/ChatListItem.tsx
Labels: website, UI/UX

#3376 Reduce warning font size on mobile
  website/src/components/Chat/ChatWarning.tsx
Labels: website, UI/UX

#3382 Fix for updating search vectors on edit
  backend/oasst_backend/prompt_repository.py
Labels: backend

#3386 Point plugin links to prod
  docs/docs/plugins/list.md
Labels: documentation

#3119 Inference Documentation
  docs/docs/architecture/README.md
  docs/docs/architecture/inference.md
  docs/sidebars.js
Labels: documentation

#3396 Cleanup plugins docs
  docs/docs/plugins/README.md
  docs/docs/plugins/details.md
  inference/worker/PLUGINS.md
  inference/worker/README.md
Labels: documentation, plugins

#2951 Add data loader for HF oasst1
  model/README.md
  model/model_training/configs/config.yaml
  model/model_training/configs/config_rm.yaml
  model/model_training/custom_datasets/oasst_dataset.py
  oasst-data/oasst_data/__init__.py
  oasst-data/oasst_data/reader.py
  oasst-data/pyproject.toml
Labels: data

#3423 Add hide all chats endpoint
  inference/server/oasst_inference_server/routes/chats.py
  inference/server/oasst_inference_server/user_chat_repository.py
Labels: inference

#3426 Add missing ai-plugin.json for built-in plugins URLs
  inference/server/oasst_inference_server/routes/configs.py
Labels: plugins

#3089 Make send report message from discord a celery task.
  backend/.env.example
  backend/README.md
  backend/oasst_backend/prompt_repository.py
  backend/oasst_backend/utils/discord.py
  backend/requirements.txt
  backend/requirements_worker.txt
  backend/update_message_attributes.py
  docker-compose.yaml
Labels: backend

#3475 Add POST /api/v1/admin/merge_users
  backend/oasst_backend/api/v1/admin.py
  backend/oasst_backend/user_repository.py
Labels: backend

#3479 Added confirmation dialog when skipping after entering text
  website/public/locales/de/tasks.json
  website/public/locales/en/tasks.json
  website/src/components/Buttons/Skip.tsx
  website/src/components/Survey/TaskControls.tsx
Labels: website

#3489 Add linked accounts to account page
  website/public/locales/en/account.json
  website/src/pages/account/index.tsx
  website/src/pages/api/account/index.ts
  website/src/types/Account.ts
Labels: website

#3490 RTL Markdown editor
  website/src/components/MarkdownEditor.tsx
Labels: website, UI/UX

#3491 Update profile image on login
  website/src/components/Header/UserMenu.tsx
  website/src/lib/discord_avatar_refresh.ts
  website/src/pages/api/auth/[...nextauth].ts
Labels: website

#3514 Add rate limits to assistant chat messages
  inference/server/main.py
  inference/server/oasst_inference_server/auth.py
  inference/server/oasst_inference_server/deps.py
  inference/server/oasst_inference_server/routes/chats.py
  inference/server/oasst_inference_server/settings.py
  inference/server/requirements.txt
Labels: inference
