Repository LAION-AI/Open-Assistant, pull requests merged in 2023-01, with the labels that each got.

#199 Fix linter warnings
  website/.eslintrc.json
  website/package-lock.json
  website/package.json
  website/src/components/Container.cy.tsx
  website/src/components/Faq.tsx
  website/src/components/Footer.tsx
  website/src/components/Header/Header.stories.jsx
  website/src/components/Header/Header.tsx
  website/src/components/Header/NavLinks.stories.jsx
  website/src/components/Header/NavLinks.tsx
  website/src/components/Header/UserMenu.stories.jsx
  website/src/components/Header/UserMenu.tsx
  website/src/components/Header/index.ts
  website/src/components/Hero.tsx
  website/src/components/Layout.tsx
  website/src/components/Loading/Loading.stories.jsx
  website/src/components/RankItem.tsx
  website/src/components/RatingRadioGroup.tsx
  website/src/components/Sortable/Sortable.tsx
  website/src/components/Sortable/SortableItem.tsx
  website/src/components/TaskInfo/TaskInfo.tsx
  website/src/components/TaskSelection/TaskSelection.tsx
  website/src/components/TaskSelection/index.ts
  website/src/pages/404.tsx
  website/src/pages/_app.tsx
  website/src/pages/account/edit.tsx
  website/src/pages/account/index.tsx
  website/src/pages/api/auth/[...nextauth].ts
  website/src/pages/api/new_task/[task_type].ts
  website/src/pages/api/update_task.ts
  website/src/pages/api/username.tsx
  website/src/pages/auth/signin.tsx
  website/src/pages/auth/verify.tsx
  website/src/pages/create/assistant_reply.tsx
  website/src/pages/create/summarize_story.tsx
  website/src/pages/create/user_reply.tsx
  website/src/pages/evaluate/rank_assistant_replies.tsx
  website/src/pages/evaluate/rank_initial_prompts.tsx
  website/src/pages/evaluate/rank_user_replies.tsx
  website/src/pages/evaluate/rate_summary.tsx
  website/src/pages/index.tsx
  website/src/pages/leaderboard/score-leaderboard.tsx
Labels: website

#219 Fix permission check for `/settings log_channel`
  discord-bot/bot/extensions/guild_settings.py
Labels: discord-bot

#225 Deleting a few links that don't go to a page we're planning to build
  website/src/components/Footer.tsx
  website/src/components/Header/Header.tsx
  website/src/pages/index.tsx
Labels: website

#217 Adding a file for listing relevant research papers
  docs/research/README.md
Labels: documentation

#187 Add basic redis setup for rate limiting
  docker-compose.yaml
  redis.conf
Labels: backend

#213 Search Based QA Research Report
  docs/research/search_based_qa.md
Labels: documentation, ml

#189 #42 Adding popover to flag text with labels
  website/src/components/FlaggableElement.tsx
  website/src/components/Messages.tsx
  website/src/pages/create/assistant_reply.tsx
  website/src/pages/create/user_reply.tsx
Labels: website

#253 Write better documentation for getting started with discord bot development.
  discord-bot/README.md
Labels: discord-bot

#281 Implement Backend Fastapi limiter
  backend/main.py
  backend/oasst_backend/api/deps.py
  backend/oasst_backend/api/v1/tasks.py
  backend/oasst_backend/config.py
  backend/oasst_backend/exceptions.py
  backend/requirements.txt
  docker-compose.yaml
Labels: backend

#250 #47- Create API endpoints that return leaderboards
  backend/oasst_backend/api/v1/api.py
  backend/oasst_backend/api/v1/leaderboards.py
  backend/oasst_backend/prompt_repository.py
  oasst-shared/oasst_shared/schemas/protocol.py
Labels: backend

#264 Use Chakra UI for Messages
  website/src/components/FlaggableElement.tsx
  website/src/components/Messages.tsx
Labels: website, UI/UX

#167 Dark mode implementation
  website/next.config.js
  website/package-lock.json
  website/package.json
  website/src/components/AuthLayout.tsx
  website/src/components/CallToAction.tsx
  website/src/components/CircleBackground.tsx
  website/src/components/Faq.tsx
  website/src/components/Footer.tsx
  website/src/components/Header/Header.stories.jsx
  website/src/components/Header/Header.tsx
  website/src/components/Header/NavLinks.tsx
  website/src/components/Header/UserMenu.tsx
  website/src/components/Hero.tsx
  website/src/components/Loading/LoadingScreen.jsx
  website/src/components/Messages.tsx
  website/src/components/Sortable/Sortable.tsx
  website/src/components/Sortable/SortableItem.tsx
  website/src/components/Survey/SurveyCard.tsx
  website/src/components/Survey/TaskControls.tsx
  website/src/components/Survey/TwoColumnsWithCards.tsx
  website/src/components/TaskInfo/TaskInfo.tsx
  website/src/components/TaskSelection/TaskSelection.tsx
  website/src/components/TwoColumns.tsx
  website/src/components/UI/ColorModeIconToggle.tsx
  website/src/components/UI/ColorModeSwitch.tsx
  website/src/pages/_app.tsx
  website/src/pages/api/new_task/[task_type].ts
  website/src/pages/auth/signin.tsx
  website/src/pages/create/assistant_reply.tsx
  website/src/pages/create/summarize_story.tsx
  website/src/pages/create/user_reply.tsx
  website/src/pages/evaluate/rank_assistant_replies.tsx
  website/src/pages/evaluate/rank_initial_prompts.tsx
  website/src/pages/evaluate/rank_user_replies.tsx
  website/src/pages/evaluate/rate_summary.tsx
  website/src/pages/index.tsx
  website/src/styles/Chakra.tsx
  website/src/styles/Theme/colors.ts
  website/src/styles/Theme/components/Container.ts
  website/src/styles/Theme/index.ts
  website/tailwind.config.js
Labels: website, UI/UX

#301 SFT training
  model/supervised_finetuning/README.md
  model/supervised_finetuning/configs/config.yaml
  model/supervised_finetuning/custom_datasets/__init__.py
  model/supervised_finetuning/custom_datasets/dialogue_collator.py
  model/supervised_finetuning/losses.py
  model/supervised_finetuning/trainer.py
  model/supervised_finetuning/utils.py
Labels: ml

#302 minor: add documentation on discord env variable to set up and fix shell script to run discord bot
  discord-bot/README.md
  scripts/frontend-development/run-bot-local.sh
Labels: discord-bot, documentation

#300 feat: handle OasstError in OasstApiClient
  backend/main.py
  discord-bot/requirements.txt
  oasst-shared/oasst_shared/api_client.py
  oasst-shared/oasst_shared/schemas/protocol.py
  oasst-shared/setup.py
  oasst-shared/tests/test_oasst_api_client.py
  scripts/oasst-shared-development/test.sh
Labels: backend

#278 added clear list for more understanding of result
  notebooks/data-argumentation/EssayRevision.ipynb
Labels: ml

#306 Fixing merge issues with website and backend
  docker-compose.yaml
  website/src/components/Footer.tsx
  website/src/components/Header/Header.tsx
  website/src/pages/api/new_task/[task_type].ts
  website/src/pages/api/update_task.ts
  website/src/pages/auth/signin.tsx
Labels: backend, website

#267 Allow user to start work from DMs.
  discord-bot/.env.example
  discord-bot/bot/extensions/work.py
  discord-bot/bot/settings.py
Labels: discord-bot

#318 Feat/better messages
  discord-bot/.env.example
  discord-bot/bot/bot.py
  discord-bot/bot/extensions/guild_settings.py
  discord-bot/bot/extensions/text_labels.py
  discord-bot/bot/extensions/work.py
  discord-bot/bot/messages.py
  discord-bot/bot/utils.py
Labels: discord-bot

#239 Create docs/supervised_datasets.md, suggested by yk in issue 186
  docs/supervised_datasets.md
Labels: data

#256 Adding a bare bones unstyled terms of service and privacy policy
  website/src/components/Layout.tsx
  website/src/pages/index.tsx
  website/src/pages/privacy-policy.tsx
  website/src/pages/terms-of-service.tsx
Labels: website

#333 Devcontainer improvements
  .devcontainer/README.md
  .devcontainer/devcontainer.json
  .devcontainer/post_create_command.sh
  README.md
Labels: documentation

#303 Added collapsable text for text that's too long
  website/src/components/CollapsableText.tsx
  website/src/components/Sortable/Sortable.tsx
Labels: website

#332 Fixing username not updating
  website/src/pages/account/edit.tsx
  website/src/pages/api/username.tsx
Labels: bug, website

#335 about page
  website/src/components/Roadmap.tsx
  website/src/components/Services.tsx
  website/src/components/Vision.tsx
  website/src/pages/about.tsx
Labels: website

#350 Context messages
  website/src/components/ContextMessages.tsx
  website/src/pages/evaluate/rank_assistant_replies.tsx
  website/src/pages/evaluate/rank_user_replies.tsx
Labels: website

#359 Added Dashboard
  website/src/components/Container.tsx
  website/src/components/Header/Header.tsx
  website/src/components/Header/NavLinks.tsx
  website/src/components/Header/UserMenu.tsx
  website/src/components/Sortable/Sortable.tsx
  website/src/components/Widgets/LeaderboardWidget.tsx
  website/src/components/Widgets/SideMenu.tsx
  website/src/components/Widgets/TaskOption.tsx
  website/src/components/Widgets/index.ts
  website/src/middleware.ts
  website/src/pages/account/edit.tsx
  website/src/pages/auth/signin.tsx
  website/src/pages/dashboard.tsx
  website/src/pages/evaluate/rank_user_replies.tsx
  website/src/pages/index.tsx
  website/src/styles/Theme/index.ts
  website/styles/Theme/Components/Container.tsx
  website/styles/Theme/colors.tsx
  website/styles/Theme/index.tsx
Labels: website

#357 A few small changes to the Discord Bot
  discord-bot/bot/extensions/work.py
  discord-bot/bot/messages.py
Labels: discord-bot

#365 Downgrading sharp to ensure it builds on mac m1
  website/package-lock.json
  website/package.json
Labels: website

#366 Change the header logo link based on signed in status
  website/src/components/Header/Header.tsx
Labels: bug, website

#370 A few dashboard fixes
  website/src/components/Dashboard/LeaderboardTable.tsx
  website/src/components/Dashboard/SideMenu.tsx
  website/src/components/Dashboard/TaskOption.tsx
  website/src/components/Dashboard/index.ts
  website/src/pages/dashboard.tsx
Labels: website

#324 Add dataset creation guide
  .pre-commit-config.yaml
  docs/datasets.md
  openassistant/__init__.py
  openassistant/dev-requirements.txt
  openassistant/templates/README.md
  openassistant/templates/dataset_card.md
  openassistant/templates/hub.py
  openassistant/templates/prepare.py
  openassistant/templates/template.py
Labels: data

#352 [fix] rename old summary human feedback dataset to new one
  model/reward/instructor/experimental_dataset.py
  model/reward/instructor/rank_datasets.py
Labels: ml

#389 Fixed broken link in the dashboard
  website/src/components/Dashboard/TaskOption.tsx
Labels: bug, website

#393 Fix for #343
  website/src/pages/create/assistant_reply.tsx
  website/src/pages/create/initial_prompt.tsx
  website/src/pages/create/user_reply.tsx
  website/src/pages/evaluate/rank_assistant_replies.tsx
  website/src/pages/evaluate/rank_initial_prompts.tsx
  website/src/pages/evaluate/rank_user_replies.tsx
Labels: bug, website

#313 Bth5032/78 blackcat trainer
  model/reward/instructor/configs/rankgen-t5-base-fp16.yml
  model/reward/instructor/configs/rankgen-t5-base.yml
  model/reward/instructor/models.py
  model/reward/instructor/rank_datasets.py
  model/reward/instructor/requirements.txt
  model/reward/instructor/trainer.py
  model/reward/instructor/utils.py
Labels: ml

#375 #307 new page to display recent messages
  website/src/components/Dashboard/SideMenu.tsx
  website/src/components/Layout.tsx
  website/src/components/Messages/MessageTable.tsx
  website/src/components/Messages/MessageTableEntry.tsx
  website/src/pages/api/messages/index.tsx
  website/src/pages/api/messages/user.tsx
  website/src/pages/dashboard.tsx
  website/src/pages/messages/index.tsx
Labels: website

#373 Bugfix #173 - Empty task interactions
  backend/README.md
  oasst-shared/oasst_shared/schemas/protocol.py
Labels: backend

#326 Use Discord Credentials when available
  website/next.config.js
  website/src/components/Header/UserMenu.tsx
Labels: website

#363 Adding the Redis secret for running the backend on AWS
  copilot/api/manifest.yml
Labels: backend

#342 refactor + test: add OasstApiClient in website with tests
  .github/workflows/test-api-contract.yaml
  scripts/frontend-development/run-contract-test.sh
  website/cypress.config.contract.js
  website/cypress/contract/oasst_api_contract_tests.cy.ts
  website/package.json
  website/src/lib/oasst_api_client.ts
  website/src/pages/api/new_task/[task_type].ts
  website/src/pages/api/update_task.ts
Labels: website

#401 spacing for message dashboard (comment in #375)
  website/src/pages/messages/index.tsx
Labels: website

#367 ER-Diagrams in data_schemas.md
  docs/data_schemas.md
  docs/db.png
  docs/webdb.png
Labels: documentation

#355 StackExchange Builder update
  notebooks/data-argumentation/StackExchangeBuilder.ipynb
  notebooks/data-argumentation/StackExchangeBuilder.md
Labels: ml, data

#345 Add warning when submitting unchanged ranking
  website/src/components/Survey/TaskControls.tsx
  website/src/components/Survey/TaskControlsOverridable.tsx
  website/src/pages/evaluate/rank_assistant_replies.tsx
  website/src/pages/evaluate/rank_initial_prompts.tsx
  website/src/pages/evaluate/rank_user_replies.tsx
Labels: website, UI/UX

#423 make submit button blue for submit and green for next task
  website/src/components/Survey/TaskControls.tsx
Labels: website

#424 Replace npm install with npm ci
  .github/workflows/test-api-contract.yaml
  website/README.md
Labels: website

#290 Assistant should be cautious but still helpful when providing high stakes advice
  docs/prompting_guide.md
Labels: documentation, needs discussion

#421 #353 - Add OasstApiClient interaction with task
  website/cypress/contract/oasst_api_contract_tests.cy.ts
  website/src/lib/oasst_api_client.ts
  website/src/pages/api/new_task/[task_type].ts
  website/src/pages/api/update_task.ts
Labels: website

#441 Creating a role field for Users #236
  website/.env
  website/prisma/schema.prisma
  website/src/pages/api/auth/[...nextauth].ts
  website/types/next-auth.d.ts
Labels: website

#413 Update env.py
  backend/alembic/env.py
Labels: backend

#452 Added deepspeed and dialogue dataset for code
  model/supervised_finetuning/README.md
  model/supervised_finetuning/configs/config.yaml
  model/supervised_finetuning/configs/zero_config.json
  model/supervised_finetuning/custom_datasets/__init__.py
  model/supervised_finetuning/custom_datasets/dialogue_collator.py
  model/supervised_finetuning/custom_datasets/prompt_dialogue.py
  model/supervised_finetuning/losses.py
  model/supervised_finetuning/trainer.py
  model/supervised_finetuning/utils.py
Labels: ml

#381 344: Create tasks for text labels
  backend/alembic/versions/2023_01_05_1745-20cd871f4ec7_added_user_to_textlabels.py
  backend/oasst_backend/api/v1/tasks.py
  backend/oasst_backend/api/v1/text_labels.py
  backend/oasst_backend/models/db_payload.py
  backend/oasst_backend/models/text_labels.py
  backend/oasst_backend/prompt_repository.py
  discord-bot/bot/extensions/work.py
  discord-bot/bot/messages.py
  oasst-shared/oasst_shared/api_client.py
  oasst-shared/oasst_shared/schemas/protocol.py
  text-frontend/__main__.py
Labels: backend

#444 fix hrefs on readme badges
  README.md
Labels: documentation

#399 Add `/help` and `/tutorial` commands and update bot activity
  discord-bot/bot/__main__.py
  discord-bot/bot/bot.py
  discord-bot/bot/extensions/help.py
  discord-bot/bot/messages.py
Labels: discord-bot

#418 Create openbugger_example.ipynb
  notebooks/code-bugger/openbugger_example.ipynb
  notebooks/code-bugger/openbugger_example.md
Labels: ml

#446 Fix message flagging in dark mode (#434)
  website/src/components/FlaggableElement.tsx
Labels: website, UI/UX

#346 Docs site poc
  .devcontainer/post_create_command.sh
  .github/workflows/deploy-docs-site.yaml
  docs/.gitignore
  docs/README.md
  docs/babel.config.js
  docs/docs/data/README.md
  docs/docs/data/augmentation.md
  docs/docs/data/datasets.md
  docs/docs/data/img/db.png
  docs/docs/data/img/webdb.png
  docs/docs/data/schemas.mdx
  docs/docs/data/supervised-datasets.md
  docs/docs/guides/README.md
  docs/docs/guides/prompting.md
  docs/docs/intro.md
  docs/docs/presentations/README.md
  docs/docs/presentations/list.md
  docs/docs/research/README.md
  docs/docs/research/general.md
  docs/docs/research/search-based-qa.md
  docs/docusaurus.config.js
  docs/package.json
  docs/sidebars.js
  docs/src/components/HomepageFeatures/index.tsx
  docs/src/components/HomepageFeatures/styles.module.css
  docs/src/css/custom.css
  docs/src/pages/index.module.css
  docs/src/pages/index.tsx
  docs/static/.nojekyll
  docs/static/img/logo.svg
  docs/yarn.lock
Labels: documentation

#456 Supervised finetuning minor changes
  model/supervised_finetuning/configs/config.yaml
  model/supervised_finetuning/custom_datasets/__init__.py
  model/supervised_finetuning/custom_datasets/dialogue_collator.py
  model/supervised_finetuning/models/__init__.py
  model/supervised_finetuning/models/gptj.py
  model/supervised_finetuning/requirements.txt
  model/supervised_finetuning/trainer.py
  model/supervised_finetuning/utils.py
Labels: ml

#467 Delete sharp, it's not needed and breaks docker on m1
  website/package-lock.json
  website/package.json
Labels: bug, website

#475 Simplify Footer
  website/src/components/Footer.tsx
Labels: website

#440 #309 - Message navigation
  website/src/components/Messages/MessageTableEntry.tsx
  website/src/components/Messages/MessageWithChildren.tsx
  website/src/pages/api/messages/[id]/children.ts
  website/src/pages/api/messages/[id]/conversation.ts
  website/src/pages/api/messages/[id]/index.ts
  website/src/pages/api/messages/[id]/parent.ts
  website/src/pages/api/messages/index.ts
  website/src/pages/api/messages/user.ts
  website/src/pages/messages/[id]/index.tsx
Labels: website

#476 Adding a very rudimentary admin page that displays a table of users
  website/src/components/UsersCell.tsx
  website/src/pages/admin/index.tsx
  website/src/pages/api/admin/users.ts
Labels: website

#478 Fixing most of the eslint warnings in the web code
  website/src/components/CollapsableText.tsx
  website/src/components/ContextMessages.tsx
  website/src/components/FlaggableElement.tsx
  website/src/components/Messages/MessageTable.tsx
  website/src/components/Messages/MessageTableEntry.tsx
  website/src/components/Messages/MessageWithChildren.tsx
  website/src/components/SideMenuLayout.tsx
  website/src/components/Survey/TaskControlsOverridable.tsx
  website/src/components/Vision.tsx
  website/src/pages/about.tsx
  website/src/pages/api/username.tsx
  website/src/pages/dashboard.tsx
  website/src/pages/messages/[id]/index.tsx
  website/src/pages/messages/index.tsx
  website/src/pages/privacy-policy.tsx
  website/src/pages/terms-of-service.tsx
Labels: website

#395 Add DEBUG_USD_SEED_DATA_PATH in config to make seed data flexible
  backend/main.py
  backend/oasst_backend/config.py
  backend/test_data/generic/test_generic_data.json
  docker/Dockerfile.backend
Labels: backend

#463 add andrewm4894 as /docs/ /.devcontainer/ codeowner
  CODEOWNERS
Labels: documentation

#464 clean up docs github workflow
  .github/workflows/deploy-docs-site.yaml
Labels: documentation

#468 add colab buttons to notebooks
  notebooks/code-bugger/openbugger_example.ipynb
  notebooks/data-argumentation/EssayInstructions.ipynb
  notebooks/data-argumentation/EssayRevision.ipynb
  notebooks/data-argumentation/StackExchangeBuilder.ipynb
  notebooks/detoxify-evaluation/DetoxityEvaluation.ipynb
Labels: ml

#470 Refactor tasks into components
  website/src/components/Dashboard/TaskOption.tsx
  website/src/components/Tasks/CreateTask.tsx
  website/src/components/Tasks/EvaluateTask.tsx
  website/src/components/Tasks/Task.tsx
  website/src/components/Tasks/TaskTypes.tsx
  website/src/pages/create/assistant_reply.tsx
  website/src/pages/create/initial_prompt.tsx
  website/src/pages/create/user_reply.tsx
  website/src/pages/evaluate/rank_assistant_replies.tsx
  website/src/pages/evaluate/rank_initial_prompts.tsx
  website/src/pages/evaluate/rank_user_replies.tsx
Labels: website

#488 Added deberta configs and cosine scheduler to instructor
  model/reward/instructor/configs/deberta-v2-xlarge.yml
  model/reward/instructor/configs/deberta-v3-base.yml
  model/reward/instructor/configs/deberta-v3-large-squad2.yml
  model/reward/instructor/configs/deberta-v3-large.yml
  model/reward/instructor/trainer.py
Labels: ml

#495 Validate text labels in text frontend
  backend/oasst_backend/api/v1/tasks.py
  text-frontend/__main__.py
Labels: backend

#487 Fix text_frontend 204 & creation of labeling tasks
  backend/oasst_backend/api/v1/tasks.py
  text-frontend/__main__.py
Labels: backend

#484 add docs site url to docs/readme
  docs/README.md
  docs/docusaurus.config.js
Labels: documentation

#462 add docs badge to readme
  README.md
Labels: documentation

#480 #432 - Added basic Admin Dashboard layout
  website/src/components/Layout.tsx
  website/src/pages/admin/index.tsx
Labels: website

#477 Label Initial Prompt
  website/.eslintrc.json
  website/src/components/Dashboard/TaskOption.tsx
  website/src/components/FlaggableElement.tsx
  website/src/components/Messages.tsx
  website/src/components/TaskSelection/TaskOption.tsx
  website/src/components/TaskSelection/TaskOptions.tsx
  website/src/components/TaskSelection/TaskSelection.tsx
  website/src/components/TaskSelection/index.ts
  website/src/components/Tasks/TaskTypes.tsx
  website/src/hooks/useLabelingTask.ts
  website/src/lib/oasst_api_client.ts
  website/src/pages/api/update_task.ts
  website/src/pages/label/label_initial_prompt.tsx
Labels: website

#518 #371 set labels
  website/src/components/FlaggableElement.tsx
  website/src/components/Messages.tsx
  website/src/pages/api/set_label.ts
  website/src/pages/label/label_initial_prompt.tsx
Labels: website

#513 [feature] Add GPTJ synthetic dataset, fix reference removal regex for…
  model/reward/instructor/rank_datasets.py
  model/reward/instructor/tests/test_dataset.py
  model/reward/instructor/trainer.py
  model/reward/instructor/utils.py
Labels: ml

#521 Adding an admin page to manage a specific user's status
  website/package-lock.json
  website/package.json
  website/prisma/seed.ts
  website/src/components/UsersCell.tsx
  website/src/lib/auth.ts
  website/src/pages/admin/index.tsx
  website/src/pages/admin/manage_user/[id].tsx
  website/src/pages/api/admin/update_user.ts
  website/src/pages/api/admin/users.ts
Labels: website

#509 Initial revision to valid text labels
  oasst-shared/oasst_shared/schemas/protocol.py
Labels: backend, data

#529 Fix infinite fetch loop in messages dashboard
  website/src/pages/messages/index.tsx
Labels: website

#523 Add Label Prompter Reply Task
  website/src/components/Loading/LoadingScreen.jsx
  website/src/components/Messages.tsx
  website/src/components/Tasks/LabelTask.tsx
  website/src/components/Tasks/TaskTypes.tsx
  website/src/hooks/tasks/useGenericTaskAPI.tsx
  website/src/hooks/tasks/useLabelInitialPrompt.tsx
  website/src/hooks/tasks/useLabelPrompterReply.ts
  website/src/hooks/useLabelingTask.ts
  website/src/middleware.ts
  website/src/pages/label/label_initial_prompt.tsx
  website/src/pages/label/label_prompter_reply.tsx
Labels: website

#532 Adidng simple pagination to the admin user view #237
  website/src/components/UsersCell.tsx
  website/src/lib/auth.ts
  website/src/pages/admin/index.tsx
  website/src/pages/admin/manage_user/[id].tsx
  website/src/pages/api/admin/update_user.ts
  website/src/pages/api/admin/users.ts
Labels: website

#526 bugfix in alembic downgrade (frontend_type not frontend_id)
  backend/alembic/versions/2023_01_07_1250-ba61fe17fb6e_added_frontend_type_to_api_client.py
Labels: backend

#534 524: Refine label for harmful -> excessive_harm
  oasst-shared/oasst_shared/schemas/protocol.py
Labels: backend, data

#535 525: Refine label for hate_speech
  oasst-shared/oasst_shared/schemas/protocol.py
Labels: backend, data

#533 Message tree state machine
  backend/main.py
  backend/oasst_backend/api/v1/frontend_messages.py
  backend/oasst_backend/api/v1/frontend_users.py
  backend/oasst_backend/api/v1/leaderboards.py
  backend/oasst_backend/api/v1/messages.py
  backend/oasst_backend/api/v1/stats.py
  backend/oasst_backend/api/v1/tasks.py
  backend/oasst_backend/api/v1/text_labels.py
  backend/oasst_backend/api/v1/users.py
  backend/oasst_backend/models/message_tree_state.py
  backend/oasst_backend/prompt_repository.py
  backend/oasst_backend/task_repository.py
  backend/oasst_backend/user_repository.py
Labels: backend

#520 Prompt for reason for skipping.
  website/src/components/Buttons/Skip.tsx
  website/src/components/Survey/TaskControls.tsx
  website/src/components/Tasks/CreateTask.tsx
  website/src/components/Tasks/EvaluateTask.tsx
  website/src/components/Tasks/Task.tsx
  website/src/components/Tasks/TaskTypes.tsx
  website/src/lib/oasst_api_client.ts
  website/src/pages/api/new_task/[task_type].ts
  website/src/pages/api/reject_task.ts
  website/src/pages/api/update_task.ts
  website/src/pages/create/summarize_story.tsx
  website/src/pages/evaluate/rate_summary.tsx
  website/src/pages/label/label_assistant_reply.tsx
  website/src/pages/label/label_initial_prompt.tsx
  website/src/pages/label/label_prompter_reply.tsx
Labels: website

#550 Use hooks for "create" tasks
  website/src/hooks/tasks/create/useCreateInitialPrompt.ts
  website/src/hooks/tasks/create/useCreateReply.ts
  website/src/hooks/tasks/useGenericTaskAPI.tsx
  website/src/pages/create/assistant_reply.tsx
  website/src/pages/create/initial_prompt.tsx
  website/src/pages/create/user_reply.tsx
Labels: website

#552 Use hooks for "evaluate" tasks
  website/src/hooks/tasks/evaluate/useRankInitialPrompts.ts
  website/src/hooks/tasks/evaluate/useRankReplies.ts
  website/src/pages/evaluate/rank_assistant_replies.tsx
  website/src/pages/evaluate/rank_initial_prompts.tsx
  website/src/pages/evaluate/rank_user_replies.tsx
Labels: website

#558 Adding a bare bones feature flag setup
  website/README.md
  website/package-lock.json
  website/package.json
  website/src/components/Header/Header.tsx
  website/src/flags.ts
  website/src/pages/_app.tsx
Labels: website

#557 Expanding survey of relevant research
  docs/docs/research/general.md
Labels: documentation

#540 Store Message embedding
  ansible/dev.yaml
  backend/alembic/versions/2023_01_08_1106-3d96bb92e33a_added_minilm_embedding_column_to_message.py
  backend/alembic/versions/2023_01_08_1603-35bdc1a08bb8_embedding_for_message_now_in_its_own_.py
  backend/alembic/versions/2023_01_08_2128-aac6b2f66006_created_date.py
  backend/oasst_backend/api/v1/hugging_face.py
  backend/oasst_backend/api/v1/tasks.py
  backend/oasst_backend/config.py
  backend/oasst_backend/models/__init__.py
  backend/oasst_backend/models/message_embedding.py
  backend/oasst_backend/prompt_repository.py
  backend/oasst_backend/utils/hugging_face.py
  docker-compose.yaml
  scripts/backend-development/run-local.sh
Labels: backend

#572 #493 Use API to populate text_labels in frontend
  website/src/components/FlaggableElement.tsx
  website/src/components/Messages.tsx
  website/src/components/Tasks/CreateTask.tsx
  website/src/lib/oasst_api_client.ts
  website/src/pages/api/new_task/[task_type].ts
Labels: website

#439 Automate e2e test of the website (basic)
  .github/workflows/test-e2e.yaml
  docker-compose.yaml
Labels: testing

#575 Centralize task types
  website/src/components/Buttons/Skip.tsx
  website/src/components/Messages.tsx
  website/src/components/Tasks/CreateTask.tsx
  website/src/components/Tasks/TaskTypes.tsx
  website/src/hooks/tasks/create/useCreateInitialPrompt.ts
  website/src/hooks/tasks/create/useCreateReply.ts
  website/src/hooks/tasks/evaluate/useRankInitialPrompts.ts
  website/src/hooks/tasks/evaluate/useRankReplies.ts
  website/src/hooks/tasks/labeling/useLabelAssistantReply.ts
  website/src/hooks/tasks/labeling/useLabelInitialPrompt.tsx
  website/src/hooks/tasks/labeling/useLabelPrompterReply.ts
  website/src/hooks/tasks/labeling/useLabelingTask.ts
  website/src/hooks/tasks/useCreateReply.ts
  website/src/hooks/tasks/useGenericTaskAPI.tsx
  website/src/hooks/tasks/useLabelingTask.ts
  website/src/hooks/tasks/useRankReplies.ts
  website/src/pages/create/assistant_reply.tsx
  website/src/pages/create/initial_prompt.tsx
  website/src/pages/create/user_reply.tsx
  website/src/pages/evaluate/rank_assistant_replies.tsx
  website/src/pages/evaluate/rank_initial_prompts.tsx
  website/src/pages/evaluate/rank_user_replies.tsx
  website/src/pages/label/label_assistant_reply.tsx
  website/src/pages/label/label_initial_prompt.tsx
  website/src/pages/label/label_prompter_reply.tsx
  website/src/pages/messages/index.tsx
  website/src/types/Conversation.ts
  website/src/types/Task.ts
  website/src/types/Tasks.ts
Labels: website, UI/UX

#583 Web tidy sweep
  website/cypress/e2e/evaluate/rank_assistant_replies.cy.ts
  website/cypress/e2e/evaluate/rank_user_replies.cy.ts
  website/src/components/CollapsableText.tsx
  website/src/components/FlaggableElement.tsx
  website/src/components/Messages.tsx
  website/src/components/Messages/MessageTable.tsx
  website/src/components/Messages/MessageTableEntry.tsx
  website/src/components/Messages/MessageWithChildren.tsx
  website/src/components/Tasks/CreateTask.tsx
  website/src/components/Tasks/EvaluateTask.tsx
  website/src/components/Tasks/Task.tsx
  website/src/lib/oasst_api_client.ts
  website/src/pages/api/new_task/[task_type].ts
  website/src/pages/api/reject_task.ts
  website/src/pages/api/set_label.ts
  website/src/pages/auth/verify.tsx
  website/src/pages/create/summarize_story.tsx
  website/src/pages/evaluate/rate_summary.tsx
  website/src/pages/index.tsx
  website/src/pages/label/label_assistant_reply.tsx
  website/src/pages/label/label_prompter_reply.tsx
  website/src/pages/messages/[id]/index.tsx
  website/src/pages/messages/index.tsx
  website/src/types/Task.ts
Labels: website

#591 website: Refactor remaining task pages to use Task.tsx
  website/src/components/Tasks/LabelTask.tsx
  website/src/components/Tasks/Task.tsx
  website/src/components/Tasks/TaskTypes.tsx
  website/src/hooks/tasks/useLabelingTask.ts
  website/src/pages/create/assistant_reply.tsx
  website/src/pages/create/initial_prompt.tsx
  website/src/pages/create/user_reply.tsx
  website/src/pages/evaluate/rank_assistant_replies.tsx
  website/src/pages/evaluate/rank_initial_prompts.tsx
  website/src/pages/evaluate/rank_user_replies.tsx
  website/src/pages/label/label_assistant_reply.tsx
  website/src/pages/label/label_initial_prompt.tsx
  website/src/pages/label/label_prompter_reply.tsx
Labels: website

#539 536: Add endpoint to resolve frontend user by auth method and username
  backend/oasst_backend/api/v1/frontend_users.py
  backend/oasst_backend/user_repository.py
  oasst-shared/oasst_shared/exceptions/oasst_api_error.py
Labels: backend

#590 Ensure all the API routes reject banned users
  website/src/lib/auth.ts
  website/src/pages/api/admin/update_user.ts
  website/src/pages/api/admin/users.ts
  website/src/pages/api/messages/[id]/children.ts
  website/src/pages/api/messages/[id]/conversation.ts
  website/src/pages/api/messages/[id]/index.ts
  website/src/pages/api/messages/[id]/parent.ts
  website/src/pages/api/messages/index.ts
  website/src/pages/api/messages/user.ts
  website/src/pages/api/new_task/[task_type].ts
  website/src/pages/api/reject_task.ts
  website/src/pages/api/set_label.ts
  website/src/pages/api/update_task.ts
Labels: website

#598 website: Unify task controls
  website/src/components/Survey/TaskControls.tsx
  website/src/components/Survey/TaskControlsOverridable.tsx
  website/src/components/Tasks/CreateTask.tsx
  website/src/components/Tasks/EvaluateTask.tsx
  website/src/components/Tasks/LabelTask.tsx
  website/src/components/Tasks/Task.tsx
  website/src/components/Tasks/TaskTypes.tsx
  website/src/components/Tasks/UnchangedWarning.tsx
  website/src/pages/create/assistant_reply.tsx
  website/src/pages/create/initial_prompt.tsx
  website/src/pages/create/summarize_story.tsx
  website/src/pages/create/user_reply.tsx
  website/src/pages/evaluate/rank_assistant_replies.tsx
  website/src/pages/evaluate/rank_initial_prompts.tsx
  website/src/pages/evaluate/rank_user_replies.tsx
  website/src/pages/evaluate/rate_summary.tsx
  website/src/pages/label/label_assistant_reply.tsx
  website/src/pages/label/label_initial_prompt.tsx
  website/src/pages/label/label_prompter_reply.tsx
  website/src/types/Task.ts
  website/src/types/TaskReplyState.ts
Labels: website

#610 Integrate Dashboard with Messages
  website/src/components/FlaggableElement.tsx
  website/src/components/Header/UserMenu.tsx
  website/src/components/Loading/LoadingScreen.jsx
  website/src/components/Messages/MessageTableEntry.tsx
  website/src/components/Messages/MessageWithChildren.tsx
  website/src/components/SideMenuLayout.tsx
  website/src/components/Tasks/Task.tsx
  website/src/pages/messages/[id]/index.tsx
  website/src/pages/messages/index.tsx
  website/src/styles/globals.css
Labels: website

#582 Adding support for 8-bit training with bitsandbytes
  model/supervised_finetuning/configs/config.yaml
  model/supervised_finetuning/requirements.txt
  model/supervised_finetuning/trainer.py
Labels: ml

#593 Encapsulate valid label fetching to `FlaggableElement`
  website/src/components/FlaggableElement.tsx
  website/src/components/Messages.tsx
  website/src/components/Messages/MessageTable.tsx
  website/src/components/Messages/MessageTableEntry.tsx
  website/src/components/Messages/MessageWithChildren.tsx
  website/src/components/Tasks/CreateTask.tsx
  website/src/components/Tasks/EvaluateTask.tsx
  website/src/components/Tasks/LabelTask.tsx
  website/src/components/Tasks/Task.tsx
  website/src/pages/api/new_task/[task_type].ts
  website/src/pages/api/set_label.ts
  website/src/pages/api/valid_labels.ts
  website/src/pages/create/assistant_reply.tsx
  website/src/pages/create/initial_prompt.tsx
  website/src/pages/create/summarize_story.tsx
  website/src/pages/create/user_reply.tsx
  website/src/pages/evaluate/rank_assistant_replies.tsx
  website/src/pages/evaluate/rank_initial_prompts.tsx
  website/src/pages/evaluate/rank_user_replies.tsx
  website/src/pages/label/label_assistant_reply.tsx
  website/src/pages/label/label_initial_prompt.tsx
  website/src/pages/label/label_prompter_reply.tsx
  website/src/pages/messages/[id]/index.tsx
  website/src/pages/messages/index.tsx
  website/src/types/Task.ts
Labels: website

#555 Message tree state machine
  ansible/dev.yaml
  backend/alembic/versions/2023_01_08_2208-92a367bb9f40_restructure_message_tree_state_table.py
  backend/alembic/versions/2023_01_09_0047-05975b274a81_add_review_count_ranking_count_to_.py
  backend/main.py
  backend/oasst_backend/api/v1/tasks.py
  backend/oasst_backend/api/v1/utils.py
  backend/oasst_backend/config.py
  backend/oasst_backend/models/db_payload.py
  backend/oasst_backend/models/message.py
  backend/oasst_backend/models/message_tree_state.py
  backend/oasst_backend/prompt_repository.py
  backend/oasst_backend/task_repository.py
  backend/oasst_backend/tree_manager.py
  backend/oasst_backend/utils/hugging_face.py
  docker-compose.yaml
  oasst-shared/oasst_shared/exceptions/oasst_api_error.py
  oasst-shared/oasst_shared/schemas/protocol.py
  scripts/backend-development/run-local.sh
  text-frontend/__main__.py
Labels: backend

#622 Update the web to match the backends new API
  website/cypress/contract/oasst_api_contract_tests.cy.ts
  website/src/components/Tasks/LabelTask.tsx
  website/src/lib/oasst_api_client.ts
  website/src/pages/api/update_task.ts
  website/src/pages/tasks/random.tsx
Labels: website

#625 website: Remove summarization pages
  website/README.md
  website/src/components/RatingRadioGroup.tsx
  website/src/pages/create/summarize_story.tsx
  website/src/pages/evaluate/rate_summary.tsx
Labels: website

#570 added data_augment.py
  scripts/data_augment/data_augment.py
Labels: data

#608 Devcontainer backend dev
  .devcontainer/backend-dev/devcontainer.json
  .devcontainer/backend-dev/post_create_command.sh
  .devcontainer/frontend-dev/devcontainer.json
  .devcontainer/frontend-dev/post_create_command.sh
  backend/README.md
  docs/docs/api/openapi.json
  docs/docusaurus.config.js
Labels: backend, documentation, testing

#630 add some "paths" to `test-api-contract.yaml`
  .github/workflows/test-api-contract.yaml
Labels: backend, testing

#619 Continuing #576
  model/supervised_finetuning/custom_datasets/__init__.py
  model/supervised_finetuning/losses.py
  model/supervised_finetuning/models/__init__.py
  model/supervised_finetuning/trainer.py
  model/supervised_finetuning/utils.py
Labels: ml

#635 Add empty state & tweak loading screen
  website/src/components/EmptyState.tsx
  website/src/components/Loading/LoadingScreen.jsx
  website/src/pages/create/assistant_reply.tsx
  website/src/pages/create/initial_prompt.tsx
  website/src/pages/create/user_reply.tsx
  website/src/pages/evaluate/rank_assistant_replies.tsx
  website/src/pages/evaluate/rank_initial_prompts.tsx
  website/src/pages/evaluate/rank_user_replies.tsx
  website/src/pages/label/label_assistant_reply.tsx
  website/src/pages/label/label_initial_prompt.tsx
  website/src/pages/label/label_prompter_reply.tsx
  website/src/pages/tasks/random.tsx
Labels: website

#609 85: Unit-testing nextjs & react code
  website/README.md
  website/cypress.config.js
  website/cypress/components/Container.cy.tsx
  website/cypress/tsconfig.json
  website/jest.config.js
  website/jest.setup.js
  website/package-lock.json
  website/package.json
  website/src/README.md
  website/src/components/TaskSelection/TaskOption.test.tsx
  website/src/pages.test/about.test.tsx
  website/src/test-utils/createMockRouter.ts
  website/tsconfig.json
Labels: website, testing

#650 Dashboard Integration
  website/src/components/Dashboard/LeaderboardTable.tsx
  website/src/components/Dashboard/TaskOption.tsx
  website/src/components/Header/UserMenu.tsx
  website/src/components/Layout.tsx
  website/src/components/Loading/MessageLoading.jsx
  website/src/components/Messages.tsx
  website/src/components/Messages/MessageTableEntry.tsx
  website/src/components/RankItem.tsx
  website/src/components/SideMenuLayout.tsx
  website/src/components/Sortable/SortableItem.tsx
  website/src/components/Survey/SurveyCard.tsx
  website/src/components/Survey/TaskControls.tsx
  website/src/components/Survey/TrackedTextarea.tsx
  website/src/components/Survey/TwoColumnsWithCards.tsx
  website/src/components/TaskInfo/TaskInfo.tsx
  website/src/components/Tasks/CreateTask.tsx
  website/src/components/Tasks/EvaluateTask.tsx
  website/src/components/Tasks/LabelTask.tsx
  website/src/components/Tasks/Task.tsx
  website/src/components/Tasks/TaskTypes.tsx
  website/src/pages/create/assistant_reply.tsx
  website/src/pages/create/initial_prompt.tsx
  website/src/pages/create/user_reply.tsx
  website/src/pages/evaluate/rank_assistant_replies.tsx
  website/src/pages/evaluate/rank_initial_prompts.tsx
  website/src/pages/evaluate/rank_user_replies.tsx
  website/src/pages/label/label_assistant_reply.tsx
  website/src/pages/label/label_initial_prompt.tsx
  website/src/pages/label/label_prompter_reply.tsx
  website/src/pages/leaderboard/index.tsx
  website/src/pages/leaderboard/score-leaderboard.tsx
  website/src/pages/messages/[id]/index.tsx
  website/src/pages/tasks/random.tsx
  website/src/styles/Theme/index.ts
Labels: website

#628 Added admin dashboard link to UserMenu
  website/src/components/Header/UserMenu.tsx
Labels: website

#649 Semi-comprehensive fix to the web end to end tests
  website/cypress/e2e/create/assistant_reply.cy.ts
  website/cypress/e2e/create/initial_prompt.cy.ts
  website/cypress/e2e/create/user_reply.cy.ts
  website/cypress/e2e/evaluate/rank_assistant_replies.cy.ts
  website/cypress/e2e/evaluate/rank_initial_prompts.cy.ts
  website/cypress/e2e/evaluate/rank_user_replies.cy.ts
  website/cypress/e2e/tasks/random.cy.ts
Labels: website, testing

#601 538: Add endpoints to manage users
  backend/alembic/versions/2023_01_10_1733-846cc08ac79f_add_enabled_deleted_notes_fields_to_user.py
  backend/oasst_backend/api/v1/users.py
  backend/oasst_backend/models/user.py
  backend/oasst_backend/user_repository.py
Labels: backend

#554 537: Endpoint to list frontend users
  backend/oasst_backend/api/v1/frontend_users.py
  backend/oasst_backend/models/user.py
  backend/oasst_backend/user_repository.py
Labels: backend

#643 Style Privacy Policy & TOS
  website/src/components/PolicyCards/PolicyChapterCard.tsx
  website/src/components/PolicyCards/PolicySectionCard.tsx
  website/src/pages/privacy-policy.tsx
  website/src/pages/terms-of-service.tsx
Labels: website, UI/UX

#664 Deleting a small set of components
  website/src/components/Fields.tsx
  website/src/components/Header/NavLinks.stories.jsx
  website/src/components/Header/NavLinks.tsx
  website/src/components/Header/index.ts
  website/src/components/TaskSelection/TaskOption.test.tsx
  website/src/components/UI/ColorModeIconToggle.tsx
  website/src/components/UI/ColorModeSwitch.tsx
Labels: website

#652 Displaying a different user's messages in the admin view
  website/src/components/UserMessagesCell/UserMessagesCell.tsx
  website/src/components/UserMessagesCell/index.tsx
  website/src/pages/admin/manage_user/[id].tsx
  website/src/pages/api/admin/user_messages.ts
Labels: website

#681 #675 Report Bug Button
  website/src/components/Header/UserMenu.tsx
Labels: backend

#663 website: Combine fetcher and poster files, update all references to use axios for both GET and POST
  website/src/components/FlaggableElement.tsx
  website/src/components/Messages/MessageTableEntry.tsx
  website/src/components/Messages/MessageWithChildren.tsx
  website/src/components/Tasks/Task.tsx
  website/src/components/UserMessagesCell/UserMessagesCell.tsx
  website/src/components/UsersCell.tsx
  website/src/hooks/tasks/useGenericTaskAPI.tsx
  website/src/lib/api.ts
  website/src/lib/fetcher.ts
  website/src/lib/oasst_api_client.ts
  website/src/lib/poster.ts
  website/src/pages/admin/manage_user/[id].tsx
  website/src/pages/api/admin/update_user.ts
  website/src/pages/api/reject_task.ts
  website/src/pages/api/set_label.ts
  website/src/pages/api/update_task.ts
  website/src/pages/messages/[id]/index.tsx
  website/src/pages/messages/index.tsx
Labels: website

#687 #668 - Add simple label
  website/cypress/e2e/tasks/random.cy.ts
  website/src/components/Survey/LabelRadioGroup.tsx
  website/src/components/Survey/LabelSliderGroup.tsx
  website/src/components/Tasks/LabelTask.tsx
Labels: website

#694 Update UserMenu
  website/src/components/Header/UserMenu.tsx
Labels: website

#693 Message Styling For Mobile
  website/src/components/FlaggableElement.tsx
  website/src/components/Messages/MessageTable.tsx
  website/src/components/Messages/MessageTableEntry.tsx
  website/src/components/Messages/MessageWithChildren.tsx
  website/src/components/SideMenuLayout.tsx
  website/src/components/Survey/SurveyCard.tsx
  website/src/components/Tasks/CreateTask.tsx
  website/src/components/Tasks/LabelTask.tsx
  website/src/pages/messages/[id]/index.tsx
  website/src/pages/messages/index.tsx
Labels: website

#692 Udpating the leaderboard components to use real data
  website/src/components/Dashboard/LeaderboardTable.tsx
  website/src/components/LeaderboardGridCell/LeaderboardGridCell.tsx
  website/src/components/LeaderboardGridCell/index.tsx
  website/src/components/RankItem.tsx
  website/src/lib/oasst_api_client.ts
  website/src/pages/api/leaderboard.ts
  website/src/pages/leaderboard.tsx
  website/src/pages/leaderboard/index.tsx
  website/src/types/Leaderboard.ts
Labels: website

#577 Simplify messages page
  website/src/pages/messages/index.tsx
Labels: website, UI/UX

#700 Fix submit of initial ranking
  website/src/components/Tasks/EvaluateTask.tsx
Labels: website, UI/UX

#702 Fix full labelling task display
  website/src/components/FlaggableElement.tsx
  website/src/components/Messages/MessageTable.tsx
  website/src/components/Messages/MessageTableEntry.tsx
  website/src/components/Survey/LabelSliderGroup.tsx
  website/src/components/Tasks/LabelTask.tsx
  website/src/pages/api/new_task/[task_type].ts
  website/src/types/Tasks.ts
Labels: website, UI/UX

#666 Add UnifiedQA datasets that are not in xP3
  notebooks/data-argumentation/UnifiedQA.ipynb
  notebooks/data-argumentation/UnifiedQA.md
Labels: data

#699 Fix supervised pretraining bugs and add new datasets
  model/supervised_finetuning/README.md
  model/supervised_finetuning/configs/config.yaml
  model/supervised_finetuning/custom_datasets/__init__.py
  model/supervised_finetuning/custom_datasets/dialogue_collator.py
  model/supervised_finetuning/custom_datasets/prompt_dialogue.py
  model/supervised_finetuning/custom_datasets/qa_datasets.py
  model/supervised_finetuning/custom_datasets/summarization.py
  model/supervised_finetuning/tests/test_datasets.py
  model/supervised_finetuning/tests/test_utils.py
  model/supervised_finetuning/utils.py
Labels: ml

#553 Store Message Toxicity in database
  ansible/dev.yaml
  backend/alembic/versions/2023_01_08_2200-bcc2fe18d214_messagetoxicity.py
  backend/oasst_backend/api/v1/hugging_face.py
  backend/oasst_backend/config.py
  backend/oasst_backend/models/__init__.py
  backend/oasst_backend/models/message_toxicity.py
  backend/oasst_backend/prompt_repository.py
  backend/oasst_backend/tree_manager.py
  backend/oasst_backend/utils/hugging_face.py
  docker-compose.yaml
  scripts/backend-development/run-local.sh
Labels: backend

#698 Small typo fix + Consistent Docstrings
  backend/oasst_backend/config.py
Labels: backend

#659 CONTRIBUTING.md - add some notes about feature branches
  CONTRIBUTING.md
Labels: documentation

#606 Pin python package versions
  discord-bot/requirements.txt
Labels: discord-bot

#215 A notebook for question and answer generation using one of the most powerful opensource NLU models, FLAN-T5-11B.
  notebooks/knowledge_extraction/T5_closed_book_QA_generators.md
  notebooks/knowledge_extraction/T5_closed_book_QA_generators.py
Labels: ml

#701 673 enhanced admin management
  backend/oasst_backend/api/v1/users.py
  website/src/components/UsersCell.tsx
  website/src/lib/oasst_api_client.ts
  website/src/pages/admin/manage_user/[id].tsx
  website/src/pages/api/admin/update_user.ts
  website/src/pages/api/admin/user_messages.ts
  website/src/pages/api/admin/users.ts
  website/src/types/Users.ts
Labels: website

#709 Fix NextLink prop missing
  website/src/components/Header/UserMenu.tsx
Labels: website

#711 fix: improve `FlaggableElement` UI on mobile
  website/src/components/FlaggableElement.tsx
Labels: website

#729 Fix FlaggableElement grouping issue for desktop
  website/src/components/FlaggableElement.tsx
  website/src/components/Messages/MessageTableEntry.tsx
Labels: website

#678 installed sharp for next standalone deployment
  website/package-lock.json
  website/package.json
Labels: website

#706 Tag in the user table when they are new and include it in use session
  website/prisma/schema.prisma
  website/src/pages/api/auth/[...nextauth].ts
  website/src/pages/api/update_task.ts
  website/src/pages/dashboard.tsx
  website/types/next-auth.d.ts
Labels: website

#723 turn off auto-commit on `docs/docs/api/openapi.json` as clashing with branch protection
  .github/workflows/test-api-contract.yaml
Labels: documentation

#722 Nicer docusaurus openapi docs
  docs/docusaurus.config.js
  docs/package.json
  docs/yarn.lock
Labels: documentation

#735 Fix missing `name` for debug users
  website/src/pages/api/auth/[...nextauth].ts
Labels: website

#736 Use email input type for sign up form
  website/src/pages/auth/signin.tsx
Labels: website

#730 Ensuring the user can find the privacy and terms of service
  website/src/components/Layout.tsx
  website/src/pages/tasks/random.tsx
Labels: website

#679 Added Codeinstructor to data_augment.py
  scripts/data_augment/data_augment.py
Labels: data

#737 use `NextLink` for `UserMenu` option and cleanup
  website/src/components/Header/UserMenu.tsx
Labels: website
