Repository LAION-AI/Open-Assistant, pull requests merged in 2023-04, with the labels that each got.

#2291 Fix loading of Nebulous/gpt4all_pruned dataset
  model/model_training/custom_datasets/__init__.py
  model/model_training/custom_datasets/prompt_dialogue.py
  model/model_training/trainer_sft.py
  model/model_training/utils.py
Labels: ml, data

#2292 Move create chat button to the top
  website/src/pages/chat/index.tsx
Labels: website

#2278 Use trusted clients for inference auth
  .github/workflows/deploy-to-node.yaml
  ansible/deploy-to-node.yaml
  ansible/inference/deploy-server.yaml
  docker-compose.yaml
  inference/server/oasst_inference_server/auth.py
  inference/server/oasst_inference_server/routes/auth.py
  inference/server/oasst_inference_server/schemas/auth.py
  inference/server/oasst_inference_server/settings.py
  website/.env
  website/src/components/Chat/ChatAuth.tsx
  website/src/lib/oasst_api_client.ts
  website/src/lib/oasst_inference_auth.ts
  website/src/lib/oasst_inference_client.ts
  website/src/pages/api/auth/[...nextauth].ts
  website/src/pages/api/inference_auth/[...parts].ts
  website/src/pages/api/inference_auth/logout.ts
  website/src/pages/api/tos.ts
  website/src/pages/chat/index.tsx
  website/src/types/Chat.ts
  website/types/next-auth.d.ts
Labels: website, inference

#2308 Set validation max length to a different value.
  model/model_training/configs/config.yaml
  model/model_training/trainer_sft.py
Labels: ml

#2314 Reward Model evaluation
  model/model_eval/eval_rm.py
  model/model_training/custom_datasets/rank_datasets.py
Labels: ml

#2316 Sort chat messages by creation date
  inference/server/oasst_inference_server/user_chat_repository.py
Labels: inference

#2221 Add Google OAuth support to inference backend
  inference/server/oasst_inference_server/routes/auth.py
  inference/server/oasst_inference_server/settings.py
  inference/server/requirements.txt
Labels: inference

#2306 Revert unrelated changes in instructor rank_datasets
  model/reward/instructor/rank_datasets.py
Labels: ml

#2320 Some admin route fixes to create api keys
  inference/server/oasst_inference_server/auth.py
  inference/server/oasst_inference_server/routes/admin.py
  inference/server/oasst_inference_server/schemas/worker.py
Labels: inference

#2317 Show model config in the chat UI
  website/package-lock.json
  website/package.json
  website/public/locales/en/chat.json
  website/src/components/Chat/ChatConfigDrawer.tsx
  website/src/components/Chat/ChatConfigSummary.tsx
  website/src/components/Chat/ChatConversation.tsx
  website/src/components/Chat/ChatSection.tsx
Labels: website

#2323 Populate env vars before render layout
  website/src/components/Layout.tsx
  website/src/lib/chat_enabled.ts
  website/src/pages/_app.tsx
Labels: website

#2330 stats are shown on the admin
  website/src/components/Account/UserStats.tsx
  website/src/pages/account/index.tsx
  website/src/pages/admin/manage_user/[id].tsx
  website/src/pages/api/user_stats.ts
Labels: website

#2327 inference: use uuid v7 for most of table
  inference/server/oasst_inference_server/models/chat.py
  inference/server/oasst_inference_server/models/worker.py
  inference/server/requirements.txt
Labels: inference

#2321 fix deepspeed issue on trainer_rm.py, add crossentropy support
  model/model_training/custom_datasets/__init__.py
  model/model_training/custom_datasets/qa_datasets.py
  model/model_training/custom_datasets/rank_datasets.py
  model/model_training/custom_datasets/summarization.py
  model/model_training/losses.py
  model/model_training/metrics.py
  model/model_training/tools/augment_oasst.py
  model/model_training/trainer_rm.py
  model/model_training/utils.py
Labels: ml

#2329 Improve scores of small 1.4B reward model..
  model/model_training/configs/config_rm.yaml
  model/model_training/custom_datasets/__init__.py
  model/model_training/custom_datasets/extra_rm_datasets.py
  model/model_training/custom_datasets/qa_datasets.py
  model/model_training/custom_datasets/rank_datasets.py
  model/model_training/custom_datasets/ranking_collator.py
  model/model_training/custom_datasets/summarization.py
  model/model_training/tests/test_ranking_collator.py
  model/model_training/trainer_rm.py
  model/model_training/trainer_sft.py
Labels: ml

#2294 add dataset counts script
  model/model_training/README.md
  model/model_training/check_dataset_counts.py
  model/model_training/configs/config.yaml
  model/model_training/utils.py
Labels: ml

#2239 Updated nginx config for prod, including streaming headers
  .github/workflows/deploy-to-node.yaml
  .github/workflows/production-deploy.yaml
  .github/workflows/production2-deploy.yaml
  ansible/inference/deploy-server.yaml
  deploy/dev-node/nginx/nginx.conf
  deploy/prod-node/nginx/nginx.conf
  deploy/prod2-node/nginx/docker-compose.yaml
  deploy/prod2-node/nginx/get_cert.sh
  deploy/prod2-node/nginx/nginx.conf
  deploy/prod2-node/nginx/renew_certs.sh
Labels: inference

#2345 Add delete chat button
  website/src/components/Chat/DeleteChatButton.tsx
  website/src/pages/api/chat/index.ts
  website/src/pages/chat/index.tsx
Labels: website

#2360 Add trailing slashes to backend calls
  website/src/lib/oasst_api_client.ts
Labels: bug, website

#2362 Add HFSummaryPairs class & fix AnthropicRLHF parsing
  model/model_training/configs/config_rm.yaml
  model/model_training/custom_datasets/__init__.py
  model/model_training/custom_datasets/rank_datasets.py
  model/model_training/custom_datasets/summarization.py
  model/model_training/tests/test_ranking_collator.py
Labels: ml

#2344 Update GPT4All dataset loading for new files
  model/model_training/custom_datasets/prompt_dialogue.py
Labels: ml

#2372 Show work config on each message
  inference/server/oasst_inference_server/models/chat.py
  oasst-shared/oasst_shared/schemas/inference.py
  website/src/components/Chat/ChatConversation.tsx
  website/src/components/Chat/WorkParameters.tsx
  website/src/components/Messages/MessageInlineEmojiRow.tsx
  website/src/types/Chat.ts
Labels: website, inference

#2371 update gpt4all to add multiround
  model/model_training/custom_datasets/prompt_dialogue.py
Labels: ml

#2334 Use SSR for every pages
  website/.env
  website/src/components/Hero.tsx
  website/src/components/Layout.tsx
  website/src/components/SideMenuLayout.tsx
  website/src/lib/browserEnv.ts
  website/src/lib/chat_enabled.ts
  website/src/lib/defaultServerSideProps.ts
  website/src/lib/isChatEnable.ts
  website/src/middleware.ts
  website/src/pages/_app.tsx
  website/src/pages/about.tsx
  website/src/pages/account/edit.tsx
  website/src/pages/account/index.tsx
  website/src/pages/admin/index.tsx
  website/src/pages/admin/messages/index.tsx
  website/src/pages/admin/parameters.tsx
  website/src/pages/admin/status/index.tsx
  website/src/pages/admin/trollboard.tsx
  website/src/pages/api/chat/assistant_message.ts
  website/src/pages/api/chat/events.ts
  website/src/pages/api/chat/index.ts
  website/src/pages/api/chat/message.ts
  website/src/pages/api/chat/models.ts
  website/src/pages/api/chat/prompter_message.ts
  website/src/pages/api/chat/vote.ts
  website/src/pages/brb.tsx
  website/src/pages/chat/[id].tsx
  website/src/pages/chat/index.tsx
  website/src/pages/create/assistant_reply.tsx
  website/src/pages/create/initial_prompt.tsx
  website/src/pages/create/user_reply.tsx
  website/src/pages/evaluate/rank_assistant_replies.tsx
  website/src/pages/evaluate/rank_initial_prompts.tsx
  website/src/pages/evaluate/rank_user_replies.tsx
  website/src/pages/label/label_assistant_reply.tsx
  website/src/pages/label/label_initial_prompt.tsx
  website/src/pages/label/label_prompter_reply.tsx
  website/src/pages/leaderboard.tsx
  website/src/pages/messages/index.tsx
  website/src/pages/privacy-policy.tsx
  website/src/pages/stats.tsx
  website/src/pages/tasks/all.tsx
  website/src/pages/tasks/random.tsx
  website/src/pages/team.tsx
  website/src/pages/terms-of-service.tsx
  website/src/styles/Theme/index.ts
  website/types/env.d.ts
Labels: website

#2367 Persist chat config
  website/src/components/Chat/ChatSection.tsx
  website/src/hooks/chat/useCacheConfig.ts
Labels: website

#2342 Add alpaca reverse augmentation possibility
  model/model_training/configs/config.yaml
  model/model_training/custom_datasets/__init__.py
  model/model_training/custom_datasets/qa_datasets.py
Labels: ml

#2350 Add chat deletion functionality
  inference/server/oasst_inference_server/routes/chats.py
  inference/server/oasst_inference_server/user_chat_repository.py
  website/src/components/Chat/DeleteChatButton.tsx
  website/src/lib/oasst_inference_client.ts
  website/src/pages/api/chat/index.ts
Labels: website, inference

#2379 Update documentation to reflect state of project
  docs/docs/faq.md
  docs/docs/intro.md
Labels: documentation

#2409 Add option to export trlx checkpoints
  model/model_training/tools/export_model.py
Labels: ml

#2411 Reduced max tokens of llama 30b to 1792 because of OOMs at 2048
  oasst-shared/oasst_shared/model_configs.py
Labels: inference

#2352 Add more German translations
  website/public/locales/de/chat.json
  website/public/locales/de/common.json
  website/public/locales/de/dashboard.json
  website/public/locales/de/error.json
  website/public/locales/de/index.json
  website/public/locales/de/message.json
  website/public/locales/de/stats.json
  website/public/locales/en/error.json
  website/public/locales/en/stats.json
  website/public/locales/en/tos.json
Labels: localization

#2418 [fix] rephrase weird chinese translation
  website/public/locales/zh/chat.json
  website/public/locales/zh/error.json
  website/public/locales/zh/index.json
  website/public/locales/zh/labelling.json
  website/public/locales/zh/message.json
  website/public/locales/zh/stats.json
  website/public/locales/zh/tasks.json
  website/public/locales/zh/tos.json
Labels: i18n, localization

#2407 add oa_leet10k instruction dataset
  data/datasets/__init__.py
Labels: data

#2300 Added docker image for standalone worker
  .github/workflows/release.yaml
  docker/inference/Dockerfile.worker-standalone
  inference/worker/__main__.py
  inference/worker/settings.py
  inference/worker/utils.py
  inference/worker/work.py
  inference/worker/worker_standalone_main.sh
Labels: inference

#2339 Improvements to the HF worker container
  docker/inference/Dockerfile.worker-hf
  inference/worker/__main__.py
  inference/worker/run_worker_container.sh
Labels: inference

#2426 Fix export_model script
  model/model_training/tools/export_model.py
Labels: ml

#2390 Allow google login to backend
  oasst-shared/oasst_shared/schemas/protocol.py
Labels: backend

#2438 Fix for Webgpt NaN loss
  model/model_training/custom_datasets/qa_datasets.py
Labels: ml

#2326 fix list index out of range error for soda dataset
  model/model_training/configs/config.yaml
  model/model_training/custom_datasets/__init__.py
  model/model_training/custom_datasets/qa_datasets.py
Labels: ml

#2337 add Logic Inference Dataset
  data/datasets/__init__.py
  data/datasets/logicreference_OA/README.md
  data/datasets/logicreference_OA/generate_dataset.py
  data/datasets/logicreference_OA/requirements.txt
Labels: data

#2436 Implement new chat UI
  website/package-lock.json
  website/package.json
  website/public/locales/en/chat.json
  website/src/components/Chat/ChatConfigDrawer.tsx
  website/src/components/Chat/ChatConversation.tsx
  website/src/components/Chat/ChatForm.tsx
  website/src/components/Chat/ChatListBase.tsx
  website/src/components/Chat/ChatListDesktop.tsx
  website/src/components/Chat/ChatListItem.tsx
  website/src/components/Chat/ChatListMobile.tsx
  website/src/components/Chat/ChatSection.tsx
  website/src/components/Chat/DeleteChatButton.tsx
  website/src/components/Header/Header.tsx
  website/src/components/LanguageSelector/LanguageSelector.tsx
  website/src/components/Layout.tsx
  website/src/components/Layout/ChatLayout.tsx
  website/src/components/Messages/BaseMessageEntry.tsx
  website/src/components/SideMenu.tsx
  website/src/components/SideMenuLayout.tsx
  website/src/lib/api.ts
  website/src/lib/chat_stream.ts
  website/src/lib/routes.ts
  website/src/pages/chat/[id].tsx
  website/src/pages/chat/index.tsx
  website/src/types/Chat.ts
Labels: website

#2483 Avoid chat flash render
  website/package-lock.json
  website/package.json
  website/src/components/Chat/ChatConfigDrawer.tsx
  website/src/components/Chat/ChatConfigSaver.tsx
  website/src/components/Chat/ChatConfigSummary.tsx
  website/src/components/Chat/ChatContext.tsx
  website/src/components/Chat/ChatConversation.tsx
  website/src/components/Chat/ChatForm.tsx
  website/src/components/Chat/ChatMessageEntry.tsx
  website/src/components/Chat/ChatSection.tsx
  website/src/components/Chat/WorkParameters.tsx
  website/src/components/JsonCard.tsx
  website/src/components/Messages/BaseMessageEntry.tsx
  website/src/components/Messages/MessageTableEntry.tsx
  website/src/hooks/chat/useCacheConfig.ts
  website/src/pages/chat/[id].tsx
  website/src/pages/chat/index.tsx
Labels: website

#2481 Add Databricks Dolly 15k converted to OA data format
  data/datasets/__init__.py
  data/datasets/oa_dolly_15k/README.md
  data/datasets/oa_dolly_15k/create_dataset.py
Labels: data

#2489 Rename type
  website/src/components/Chat/ChatConfigDrawer.tsx
  website/src/components/Chat/ChatConfigSaver.tsx
  website/src/components/Chat/ChatConversation.tsx
  website/src/components/Chat/ChatSection.tsx
  website/src/types/Chat.ts
Labels: website

#2507 implement update chat title UI
  website/src/components/Chat/ChatListBase.tsx
  website/src/components/Chat/ChatListItem.tsx
  website/src/lib/oasst_inference_client.ts
  website/src/lib/routes.ts
  website/src/pages/api/chat/title.ts
Labels: website, UI/UX

#2159 Data analysis suite
  scripts/postprocessing/importance_selection.py
  scripts/postprocessing/ranking_disagreement.py
  scripts/postprocessing/rankings.py
Labels: research, data

#2359 Discord bot(js) with inference system
  discord-bots/oa-bot-js/.env.sample
  discord-bots/oa-bot-js/README.md
  discord-bots/oa-bot-js/docker-compose.yml
  discord-bots/oa-bot-js/package.json
  discord-bots/oa-bot-js/src/commands/chat.ts
  discord-bots/oa-bot-js/src/commands/task.ts
  discord-bots/oa-bot-js/src/events/interactions.ts
  discord-bots/oa-bot-js/src/events/messages.ts
  discord-bots/oa-bot-js/src/handlers/commands.ts
  discord-bots/oa-bot-js/src/interactions/tasks.ts
  discord-bots/oa-bot-js/src/interactions/vote.ts
  discord-bots/oa-bot-js/src/modules/inference/client.ts
  discord-bots/oa-bot-js/src/modules/inference/index.ts
  discord-bots/oa-bot-js/src/modules/inference/types.ts
  discord-bots/oa-bot-js/src/modules/open-assistant/user.ts
  discord-bots/oa-bot-js/src/modules/redis.ts
Labels: discord-bot, inference

#2482 Update ChatConfigDrawer.tsx
  website/public/locales/en/chat.json
  website/src/components/Chat/ChatConfigDrawer.tsx
Labels: website

#2486 Add support for user deletion
  backend/oasst_backend/api/v1/users.py
  backend/oasst_backend/user_repository.py
  inference/server/alembic/versions/2023_04_12_2033-f0e18084aae4_add_deleted_field_to_user.py
  inference/server/oasst_inference_server/models/user.py
  inference/server/oasst_inference_server/routes/admin.py
  oasst-shared/oasst_shared/utils.py
Labels: backend, inference

#2521 Fix for existing inference user rows with deleted column
  inference/server/alembic/versions/2023_04_12_2033-f0e18084aae4_add_deleted_field_to_user.py
  inference/server/oasst_inference_server/models/user.py
Labels: inference

#2523 Add delete account page
  inference/server/main.py
  inference/server/oasst_inference_server/admin.py
  inference/server/oasst_inference_server/routes/account.py
  inference/server/oasst_inference_server/routes/admin.py
  website/public/locales/en/account.json
  website/src/components/Header/UserScore.tsx
  website/src/lib/oasst_api_client.ts
  website/src/lib/oasst_inference_client.ts
  website/src/pages/account/delete.tsx
  website/src/pages/account/edit.tsx
  website/src/pages/account/index.tsx
  website/src/pages/api/account/delete.ts
  website/types/i18next.d.ts
Labels: website

#2533 Downgrade `react-simple-icons`
  website/package-lock.json
  website/package.json
  website/src/components/CallToAction.tsx
  website/src/components/TeamMember.tsx
  website/src/components/UserDisplayNameCell.tsx
  website/src/pages/auth/signin.tsx
Labels: website

#2534 Update README.md
  website/README.md
Labels: website

#2305 Prepare oasst data export to HuggingFace
  .pre-commit-config.yaml
  backend/oasst_backend/utils/tree_export.py
  model/model_training/custom_datasets/oasst_dataset.py
  model/model_training/tools/check_oasst_export.py
  oasst-data/examples/clean_dataset.py
  oasst-data/examples/filter_messages.py
  oasst-data/examples/filter_trees.py
  oasst-data/examples/split_dataset.py
  oasst-data/examples/tree_to_messages.py
  oasst-data/oasst_data/__init__.py
  oasst-data/oasst_data/loader.py
  oasst-data/oasst_data/reader.py
  oasst-data/oasst_data/schemas.py
  oasst-data/oasst_data/writer.py
Labels: data

#2538 hotfix for cache & drawer bug
  website/src/components/Chat/ChatSection.tsx
Labels: website

#2405 Model training dockerfile
  docker/Dockerfile.model-training
Labels: ml

#2543 Add links to hugging face
  website/public/locales/en/common.json
  website/public/locales/en/index.json
  website/src/components/Dashboard/SlimFooter.tsx
  website/src/components/Footer.tsx
  website/src/components/Hero.tsx
Labels: website

#2578 Only fetch stats for logged in users
  website/src/pages/api/leaderboard.ts
  website/src/pages/api/user_stats.ts
Labels: bug, website

#2586 Fixed announcement position (failed on scroll)
  website/src/components/Header/Header.tsx
Labels: website

#2624 FAQ update for latest state of project
  docs/docs/faq.md
Labels: documentation

#2629 :arrow_up: storybook@7
  website/.storybook/main.js
  website/package-lock.json
  website/package.json
Labels: website

#2626 Remove unused `npm` dependencies from website
  website/package-lock.json
  website/package.json
Labels: website

#2562 Fix custom preset display
  website/src/components/Chat/WorkParameters.tsx
Labels: website

#2587 Typo
  README.md
Labels: documentation

#2660 Update oasst-data docs to reflect code changes
  oasst-data/README.md
Labels: documentation

#2671 switch soda_synthetic_dialogue to HF dataset
  model/model_training/custom_datasets/qa_datasets.py
Labels: ml

#2627 Unify title update and visibility update inference endpoints
  inference/server/oasst_inference_server/routes/chats.py
  inference/server/oasst_inference_server/schemas/chat.py
  inference/server/oasst_inference_server/user_chat_repository.py
Labels: inference

#2656 lazily render message menu actions
  website/src/components/Messages/MessageTableEntry.tsx
Labels: website

#2610 add alpaca gpt4 dataset
  model/model_training/custom_datasets/__init__.py
  model/model_training/custom_datasets/qa_datasets.py
Labels: ml

#2812 Update Stability AI icon
  website/src/data/team.json
Labels: website

#2811 Gracefully handle user does not exist in Inference
  inference/server/oasst_inference_server/user_chat_repository.py
  website/src/lib/oasst_inference_client.ts
Labels: website, inference

#2814 Update temperature limits
  website/src/components/Chat/ChatConfigForm.tsx
Labels: website

#2612 Discord bot: Add default model option to .env
  discord-bots/oa-bot-js/.env.sample
  discord-bots/oa-bot-js/src/commands/chat.ts
Labels: discord-bot

#2773 support pagination for chat list
  inference/server/oasst_inference_server/routes/chats.py
  inference/server/oasst_inference_server/schemas/chat.py
  inference/server/oasst_inference_server/user_chat_repository.py
Labels: inference

#2774 Added max messages and max message length settings for inference
  .github/workflows/deploy-to-node.yaml
  ansible/inference/deploy-server.yaml
  inference/server/oasst_inference_server/settings.py
  inference/server/oasst_inference_server/user_chat_repository.py
  inference/text-client/text_client_utils.py
Labels: inference

#2846 Update FAQ to specify XOR weights now available
  docs/docs/faq.md
Labels: documentation

#2848 Add StackExchange dataset. Resolves #191
  data/datasets/__init__.py
  data/datasets/oa_stackexchange/README.md
  data/datasets/oa_stackexchange/combine.py
  data/datasets/oa_stackexchange/download.py
  data/datasets/oa_stackexchange/merge_parquets.py
  data/datasets/oa_stackexchange/process.py
  data/datasets/oa_stackexchange/stats.py
  data/datasets/oa_stackexchange/upload.py
Labels: data

#2206 Rl training
  .vscode/launch.json
  model/model_training/.gitignore
  model/model_training/README.md
  model/model_training/check_dataset_counts.py
  model/model_training/configs/accelerate_config.yaml
  model/model_training/configs/config_rl.yaml
  model/model_training/configs/deepspeed_rl.json
  model/model_training/configs/deepspeed_rl_zero3.json
  model/model_training/configs/ppo_config.yaml
  model/model_training/configs/triton_config_rm.pbtxt
  model/model_training/configs/triton_config_sft.pbtxt
  model/model_training/custom_datasets/__init__.py
  model/model_training/custom_datasets/oasst_dataset.py
  model/model_training/models/__init__.py
  model/model_training/models/patching.py
  model/model_training/models/patching_llama.py
  model/model_training/models/patching_neox.py
  model/model_training/models/patching_utils.py
  model/model_training/tests/test_datasets.py
  model/model_training/tests/test_ranking_collator.py
  model/model_training/tests/test_rm_loading.py
  model/model_training/tests/test_utils.py
  model/model_training/to_triton.py
  model/model_training/tools/export_model.py
  model/model_training/tools/model_chat.py
  model/model_training/tools/model_cli.py
  model/model_training/trainer_rl.py
  model/model_training/trainer_rm.py
  model/model_training/trainer_sft.py
  model/model_training/utils/losses.py
  model/model_training/utils/ppo_utils.py
  model/model_training/utils/utils.py
  model/pyproject.toml
Labels: ml

#2452 Add oa leet10k dataset for SFT training
  model/model_training/configs/config.yaml
  model/model_training/custom_datasets/instruction.py
  model/model_training/trainer_sft.py
Labels: ml

#2869 update alpaca gpt4 to use dataset entry
  model/model_training/custom_datasets/qa_datasets.py
Labels: ml

#2870 add ds entry for alpaca datasets
  model/model_training/custom_datasets/qa_datasets.py
Labels: ml

#2843 Fix saving model between chats
  website/src/components/Chat/ChatConfigForm.tsx
  website/src/components/Chat/ChatConfigSaver.tsx
  website/src/components/Chat/ChatSection.tsx
Labels: website

#2863 Fix display name spill-over (#2851)
  website/src/components/Header/UserMenu.tsx
  website/src/components/UserDisplayNameCell.tsx
  website/src/components/UserTable.tsx
  website/src/pages/account/index.tsx
Labels: ml

#2895 Reorder and fix typos in French Labelling
  website/public/locales/fr/labelling.json
Labels: website, i18n

#2892 fix typos
  backend/oasst_backend/utils/ranking.py
  data/datasets/fd_dialogue/README.md
  docs/blog/2023-04-15-open-assistant-released/index.mdx
  docs/docs/guides/developers.md
  docs/docs/intro.md
  docs/docs/tasks/reply_as_assistant.md
  model/README.md
  safety/README.md
  scripts/postprocessing/rankings.py
  website/README.md
  website/src/components/Chat/ChatConversation.tsx
  website/src/hooks/tasks/useGenericTaskAPI.tsx
  website/src/lib/users.ts
Labels: documentation

#2860 feat(website): support pagination for chat list
  website/src/components/Chat/ChatListBase.tsx
  website/src/components/Chat/CreateChatButton.tsx
  website/src/components/Chat/useListChatPagination.ts
  website/src/lib/oasst_inference_client.ts
  website/src/pages/api/chat/index.ts
  website/src/pages/chat/index.tsx
  website/src/types/Chat.ts
Labels: website

#2879 update dataset entry to support list of list type
  model/model_training/README.md
  model/model_training/check_dataset_counts.py
  model/model_training/custom_datasets/formatting.py
  model/model_training/custom_datasets/qa_datasets.py
  model/model_training/tests/test_formatting.py
  model/model_training/tests/test_ranking_collator.py
Labels: ml

#2961 Client side rendering (for most pages)
  website/src/components/Chat/ChatListMobile.tsx
  website/src/components/Header/Header.tsx
  website/src/components/Hero.tsx
  website/src/components/Layout.tsx
  website/src/components/Layout/ChatLayout.tsx
  website/src/hooks/env/BrowserEnv.ts
  website/src/hooks/layout/sidebarItems.ts
  website/src/lib/browserEnv.ts
  website/src/lib/defaultServerSideProps.ts
  website/src/lib/isChatEnable.ts
  website/src/middleware.ts
  website/src/pages/_app.tsx
  website/src/pages/about.tsx
  website/src/pages/account/delete.tsx
  website/src/pages/account/edit.tsx
  website/src/pages/account/index.tsx
  website/src/pages/admin/index.tsx
  website/src/pages/admin/manage_user/[id].tsx
  website/src/pages/admin/messages/[id].tsx
  website/src/pages/admin/messages/index.tsx
  website/src/pages/admin/parameters.tsx
  website/src/pages/admin/status/index.tsx
  website/src/pages/admin/trollboard.tsx
  website/src/pages/api/chat/assistant_message.ts
  website/src/pages/api/chat/events.ts
  website/src/pages/api/chat/index.ts
  website/src/pages/api/chat/message.ts
  website/src/pages/api/chat/models.ts
  website/src/pages/api/chat/prompter_message.ts
  website/src/pages/api/chat/vote.ts
  website/src/pages/api/config.ts
  website/src/pages/auth/signin.tsx
  website/src/pages/brb.tsx
  website/src/pages/chat/[id].tsx
  website/src/pages/chat/index.tsx
  website/src/pages/create/assistant_reply.tsx
  website/src/pages/create/initial_prompt.tsx
  website/src/pages/create/user_reply.tsx
  website/src/pages/dashboard.tsx
  website/src/pages/evaluate/rank_assistant_replies.tsx
  website/src/pages/evaluate/rank_initial_prompts.tsx
  website/src/pages/evaluate/rank_user_replies.tsx
  website/src/pages/label/label_assistant_reply.tsx
  website/src/pages/label/label_initial_prompt.tsx
  website/src/pages/label/label_prompter_reply.tsx
  website/src/pages/leaderboard.tsx
  website/src/pages/messages/[id]/index.tsx
  website/src/pages/messages/index.tsx
  website/src/pages/privacy-policy.tsx
  website/src/pages/stats.tsx
  website/src/pages/tasks/all.tsx
  website/src/pages/tasks/random.tsx
  website/src/pages/team.tsx
  website/src/pages/terms-of-service.tsx
  website/src/styles/Chakra.tsx
  website/src/types/Config.ts
Labels: website

#2820 Add inference backend support for data opt out
  inference/server/alembic/versions/2023_04_24_2130-401eef162771_add_chat_data_opt_out_field.py
  inference/server/oasst_inference_server/models/chat.py
  inference/server/oasst_inference_server/routes/chats.py
  inference/server/oasst_inference_server/schemas/chat.py
  inference/server/oasst_inference_server/user_chat_repository.py
Labels: inference

#2505 Inference worker inform backend on safety intervention
  docker/inference/Dockerfile.safety
  inference/safety/requirements.txt
  inference/server/alembic/versions/2023_04_29_1739-ea19bbc743f9_add_safe_content_to_message.py
  inference/server/oasst_inference_server/chat_repository.py
  inference/server/oasst_inference_server/models/chat.py
  inference/server/oasst_inference_server/routes/chats.py
  inference/server/oasst_inference_server/routes/workers.py
  inference/server/oasst_inference_server/schemas/chat.py
  inference/worker/work.py
  oasst-shared/oasst_shared/schemas/inference.py
Labels: inference

#2958 Undefined Account
  website/src/lib/users.ts
Labels: website

#2971 Fix inference-server dockerfile so it can run locally
  docker/inference/Dockerfile.server
Labels: inference

#1197 fix sender email address
  ansible/deploy-to-node.yaml
Labels: backend
