Repository LAION-AI/Open-Assistant, changes with the owners that CODEOWNERS names for each.
All owners: @yk, @andreaskoepf, @fozziethebeat, @AbdBarho, @notmd, @theblackcat102, @sanagno, @andrewm4894, @olliestanley, @Vechtomov, @bitplane, @ontocord

remove duplicated requirement
  inference/worker/requirements.txt
Owners: @yk, @andreaskoepf

update test to new endpoint implementation
  inference/tests/locust/locustfile.py
Owners: @yk, @andreaskoepf

update comma separated CORS origins
  backend/tests/config/test_settings.py
Owners: @yk, @andreaskoepf

add missing import. cant see how this could have worked really
  backend/oasst_backend/models/__init__.py
Owners: @yk, @andreaskoepf

add coverage (pytest coverage data) to .gitignore
  .gitignore
Owners: @yk, @andreaskoepf

add tests for time_uuid
  backend/tests/models/__init__.py
  backend/tests/models/test_generate_time_uuid.py
Owners: @yk, @andreaskoepf

add tests for similarity functions
  backend/tests/utils/__init__.py
  backend/tests/utils/test_similarity_functions.py
Owners: @yk, @andreaskoepf

Add some type hints
  backend/oasst_backend/models/journal.py
Owners: @yk, @andreaskoepf

Update tests, move stuff to requirements.txt
  backend/requirements.txt
  backend/tests/unit/utils/test_similarity_functions.py
Owners: @yk, @andreaskoepf

Move tests as not to conflict with PR #605
  backend/tests/unit/__init__.py
  backend/tests/unit/config/__init__.py
  backend/tests/unit/config/test_settings.py
  backend/tests/unit/config/test_tree_manager_config.py
  backend/tests/unit/models/__init__.py
  backend/tests/unit/models/test_generate_time_uuid.py
  backend/tests/unit/utils/__init__.py
  backend/tests/unit/utils/test_similarity_functions.py
Owners: @yk, @andreaskoepf

Mirror module tree in tests
  backend/tests/config/__init__.py
  backend/tests/config/test_settings.py
  backend/tests/config/test_tree_manager_config.py
Owners: @yk, @andreaskoepf

Moved the Gutenberg Crawler - moved Gutenberg crawler - updated README.md - added updated datasets to __init__.py - added tqdm to requirements.txt
  data/datasets/__init__.py
  data/datasets/gutenberg/README.md
  data/datasets/gutenberg/project_gutenberg_crawler.ipynb
  data/datasets/gutenberg/requirements.txt
  notebooks/gutenberg/README.md
  notebooks/gutenberg/__init__.py
  notebooks/gutenberg/hub.py
Owners: @Vechtomov, @bitplane, @ontocord, @andrewm4894, @olliestanley, @andreaskoepf, @yk

Ran pre-commit - pre-commit run --all-files
  data/datasets/__init__.py
  data/datasets/gutenberg/README.md
Owners: @Vechtomov, @bitplane, @ontocord

Add files via upload
  data/datasets/iapp_wiki_qa_squad/iapp_wiki_qa_squad.ipynb
Owners: @Vechtomov, @bitplane, @ontocord

Delete iapp_wiki_qa_squad.ipynb
  data/datasets/iapp_wiki_qa_squad/iapp_wiki_qa_squad.ipynb
Owners: @Vechtomov, @bitplane, @ontocord

Add files via upload
  data/datasets/iapp_wiki_qa_squad/iapp_wiki_qa_squad_oa.ipynb
Owners: @Vechtomov, @bitplane, @ontocord

Update loading_script.py
  data/datasets/iapp_wiki_qa_squad/loading_script.py
Owners: @Vechtomov, @bitplane, @ontocord

Update __init__.py
  data/datasets/__init__.py
Owners: @Vechtomov, @bitplane, @ontocord

Update __init__.py
  data/datasets/__init__.py
Owners: @Vechtomov, @bitplane, @ontocord

Create requirements.txt
  data/datasets/iapp_wiki_qa_squad/requirements.txt
Owners: @Vechtomov, @bitplane, @ontocord

Create README.md
  data/datasets/iapp_wiki_qa_squad/README.md
Owners: @Vechtomov, @bitplane, @ontocord

Store worker compliance check results, add initial scoring algorithm (#1894)
  inference/server/alembic/versions/2023_02_26_1328-a2865908a537_add_worker_compliance_checks_to_db.py
  inference/server/oasst_inference_server/models/__init__.py
  inference/server/oasst_inference_server/models/chat.py
  inference/server/oasst_inference_server/models/user.py
  inference/server/oasst_inference_server/models/worker.py
  inference/server/oasst_inference_server/worker_handler.py
Owners: @yk, @andreaskoepf

Add basic load tests (#1784)
  inference/README.md
  inference/tests/locust/locustfile.py
  inference/worker/settings.py
Owners: @yk, @andreaskoepf

Teach api/messages/user to accept a cursor
  website/src/pages/api/messages/user.ts
Owners: @fozziethebeat, @AbdBarho, @notmd

Expose /api/v1/message/cursor in oasst
  website/src/lib/oasst_api_client.ts
Owners: @fozziethebeat, @AbdBarho, @notmd

Show all my messages (#1306)
  website/src/components/UserMessageConversation.tsx
  website/src/pages/messages/index.tsx
Owners: @fozziethebeat, @AbdBarho, @notmd

remove include deleted
  website/src/lib/users.ts
  website/src/pages/api/messages/user.ts
Owners: @fozziethebeat, @AbdBarho, @notmd

Get chat list
  website/public/locales/en/chat.json
  website/src/lib/oasst_inference_client.ts
  website/src/pages/api/chat/index.ts
  website/src/pages/chat.tsx
  website/src/pages/chat/[id].tsx
  website/src/pages/chat/index.tsx
  website/src/types/Chat.ts
  website/types/i18next.d.ts
Owners: @fozziethebeat, @AbdBarho, @notmd

Show all my messages (#1864)
  website/src/components/UserMessageConversation.tsx
  website/src/lib/oasst_api_client.ts
  website/src/lib/users.ts
  website/src/pages/api/messages/user.ts
  website/src/pages/messages/index.tsx
Owners: @fozziethebeat, @AbdBarho, @notmd

added Ubuntu QA dataset (#1906)
  data/datasets/__init__.py
  data/datasets/ubuntu_dialogue_qa/README.md
  data/datasets/ubuntu_dialogue_qa/requirements.txt
  data/datasets/ubuntu_dialogue_qa/ubuntu_parser.ipynb
Owners: @Vechtomov, @bitplane, @ontocord

Updated datasets.md - based on feedback from Vechtomov - minor tweaks
  docs/docs/data/datasets.md
Owners: @andrewm4894, @olliestanley, @andreaskoepf, @yk

Removed --all-files argument - from pre-commit run command
  docs/docs/data/datasets.md
Owners: @andrewm4894, @olliestanley, @andreaskoepf, @yk

Updated datasets.md (#1916)
  docs/docs/data/datasets.md
Owners: @andrewm4894, @olliestanley, @andreaskoepf, @yk

Add youtube-transcript-api==0.5.0 to requirements
  data/datasets/youtube_subs/requirements.txt
Owners: @Vechtomov, @bitplane, @ontocord

Update requirements.txt
  data/datasets/iapp_wiki_qa_squad/requirements.txt
Owners: @Vechtomov, @bitplane, @ontocord

Update iapp_wiki_qa_squad_oa.ipynb
  data/datasets/iapp_wiki_qa_squad/iapp_wiki_qa_squad_oa.ipynb
Owners: @Vechtomov, @bitplane, @ontocord

Finish the first version of prepare.py for howto100M youtube subs
  data/datasets/youtube_subs/prepare.py
  data/datasets/youtube_subs_howto100M/__init__.py
  data/datasets/youtube_subs_howto100M/hub.py
  data/datasets/youtube_subs_howto100M/prepare.py
  data/datasets/youtube_subs_howto100M/requirements.txt
  data/datasets/youtube_subs_howto100M/youtube_subs.py
Owners: @Vechtomov, @bitplane, @ontocord

Finish the first version of youtube_subs_howto100M.py
  data/datasets/youtube_subs_howto100M/youtube_subs_howto100M.py
Owners: @Vechtomov, @bitplane, @ontocord

Delete and modify youtube_subs_*.py
  data/datasets/youtube_subs_howto100M/youtube_subs.py
  data/datasets/youtube_subs_howto100M/youtube_subs_howto100M.py
Owners: @Vechtomov, @bitplane, @ontocord

Fix the data filename prefix
  data/datasets/youtube_subs_howto100M/prepare.py
Owners: @Vechtomov, @bitplane, @ontocord

CODEOWNERS:

* @yk @andreaskoepf
/website/ @fozziethebeat @AbdBarho @notmd
/model/ @theblackcat102 @sanagno
/copilot/ @fozziethebeat @andreaskoepf @yk
/docs/ @andrewm4894 @olliestanley @andreaskoepf @yk
/.devcontainer/ @andrewm4894 @andreaskoepf @yk
/notebooks/ @andrewm4894 @olliestanley @andreaskoepf @yk
/data @Vechtomov @bitplane @ontocord
