Repository LAION-AI/Open-Assistant, changes with the owners that CODEOWNERS names for each.
All owners: @yk, @andreaskoepf, @AbdBarho, @notmd, @fozziethebeat, @theblackcat102, @sanagno, @olliestanley, @andrewm4894, @dvruette, @Vechtomov, @bitplane, @ontocord, @sedthh, @SummerSigh, @shahules786, @melvinebenezer

CODEOWNERS:

* @yk @andreaskoepf
/website/ @AbdBarho @notmd @yk @andreaskoepf
/website/src/data/team.json @yk @andreaskoepf @fozziethebeat @AbdBarho @notmd @theblackcat102 @sanagno @olliestanley @andrewm4894
/model/ @theblackcat102 @sanagno @dvruette @andreaskoepf @yk
/copilot/ @andreaskoepf @yk
/docs/ @andrewm4894 @olliestanley @andreaskoepf @yk
/.devcontainer/ @andrewm4894 @andreaskoepf @yk
/notebooks/ @andrewm4894 @olliestanley @andreaskoepf @yk
/data @Vechtomov @bitplane @ontocord @olliestanley @sedthh
/safety @SummerSigh @shahules786 @olliestanley
/inference/ @yk @andreaskoepf @olliestanley @AbdBarho
/backend/ @andreaskoepf @melvinebenezer @yk
/oasst-data/ @andreaskoepf @yk @olliestanley
/oasst-shared/ @andreaskoepf @melvinebenezer @yk @olliestanley @AbdBarho
docker-compose.yaml @andreaskoepf @melvinebenezer @yk @olliestanley @AbdBarho

removed print statement from work.py
  inference/worker/work.py
Owners: @yk, @andreaskoepf, @olliestanley, @AbdBarho

Updated prompt for istructions
  inference/worker/chat_chain_prompts.py
Owners: @yk, @andreaskoepf, @olliestanley, @AbdBarho

3517 - Send reports to discord via celery task (#3566)
  backend/oasst_backend/prompt_repository.py
  backend/oasst_backend/utils/discord.py
Owners: @andreaskoepf, @melvinebenezer, @yk

Fix for custom instruction composition logic in worker and chat chain
  inference/worker/chat_chain.py
  inference/worker/work.py
Owners: @yk, @andreaskoepf, @olliestanley, @AbdBarho

Update inference/worker/work.py
  inference/worker/work.py
Owners: @yk, @andreaskoepf, @olliestanley, @AbdBarho

pass config args while patching
  model/model_training/models/patching.py
Owners: @theblackcat102, @sanagno, @dvruette, @andreaskoepf, @yk

rmv custom scaling
  model/model_training/models/rope.py
Owners: @theblackcat102, @sanagno, @dvruette, @andreaskoepf, @yk

migrate to HF impl
  model/model_training/models/patching.py
Owners: @theblackcat102, @sanagno, @dvruette, @andreaskoepf, @yk

update param
  model/model_training/configs/config.yaml
Owners: @theblackcat102, @sanagno, @dvruette, @andreaskoepf, @yk

replace llama rope with HF
  model/model_training/models/patching.py
  model/model_training/models/rope.py
Owners: @theblackcat102, @sanagno, @dvruette, @andreaskoepf, @yk

Fix Rope scaling (#3598)
  model/model_training/configs/config.yaml
  model/model_training/models/patching.py
  model/model_training/models/rope.py
Owners: @theblackcat102, @sanagno, @dvruette, @andreaskoepf, @yk

Cleanup `handle_worker()` in preparation for #2815 (Stop generation early) (#3573)
  inference/server/oasst_inference_server/routes/workers.py
  inference/server/oasst_inference_server/worker_utils.py
Owners: @yk, @andreaskoepf, @olliestanley, @AbdBarho

patch fix for lora training
  model/model_training/models/peft_modeling.py
  model/model_training/trainer_sft.py
Owners: @theblackcat102, @sanagno, @dvruette, @andreaskoepf, @yk

no message
  model/model_training/trainer_sft.py
Owners: @theblackcat102, @sanagno, @dvruette, @andreaskoepf, @yk

Add loader for MegaCodeTraining112k & Evol-Instruct-Code-80k-v1
  model/model_training/custom_datasets/instruction.py
  model/pyproject.toml
Owners: @theblackcat102, @sanagno, @dvruette, @andreaskoepf, @yk

added dolphin mix
  model/model_training/custom_datasets/__init__.py
  model/model_training/custom_datasets/prompt_dialogue.py
Owners: @theblackcat102, @sanagno, @dvruette, @andreaskoepf, @yk

config seed
  model/model_training/custom_datasets/prompt_dialogue.py
Owners: @theblackcat102, @sanagno, @dvruette, @andreaskoepf, @yk

Add dataset loader for MegaCodeTraining112k & Evol-Instruct-Code-80k-v1 (#3605)
  model/model_training/custom_datasets/instruction.py
  model/pyproject.toml
Owners: @theblackcat102, @sanagno, @dvruette, @andreaskoepf, @yk

Dolphin gpt 3.5 data mix (#3606)
  model/model_training/custom_datasets/__init__.py
  model/model_training/custom_datasets/prompt_dialogue.py
Owners: @theblackcat102, @sanagno, @dvruette, @andreaskoepf, @yk

add custom dataset
  model/model_training/configs/config.yaml
Owners: @theblackcat102, @sanagno, @dvruette, @andreaskoepf, @yk

add more model
  model/model_training/configs/config.yaml
Owners: @theblackcat102, @sanagno, @dvruette, @andreaskoepf, @yk

chore: update config
  model/model_training/configs/config_rl.yaml
  model/model_training/models/patching_llama.py
  model/model_training/trainer_rl.py
  model/model_training/upload_rm.py
  model/pyproject.toml
  oasst-shared/oasst_shared/model_configs.py
Owners: @theblackcat102, @sanagno, @dvruette, @andreaskoepf, @yk, @melvinebenezer, @olliestanley, @AbdBarho

refactor code
  model/model_training/custom_datasets/prompt_dialogue.py
Owners: @theblackcat102, @sanagno, @dvruette, @andreaskoepf, @yk

Fix typo
  docs/blog/2023-02-11-architecture.md
Owners: @andrewm4894, @olliestanley, @andreaskoepf, @yk

Add changes for orca-code training
  model/model_training/configs/config.yaml
  model/model_training/custom_datasets/__init__.py
  model/model_training/custom_datasets/prompt_dialogue.py
  model/model_training/trainer_sft.py
Owners: @theblackcat102, @sanagno, @dvruette, @andreaskoepf, @yk

add conceptofmind CoT datasets
  model/model_training/configs/config.yaml
  model/model_training/custom_datasets/__init__.py
  model/model_training/custom_datasets/instruction.py
  model/model_training/custom_datasets/qa_datasets.py
Owners: @theblackcat102, @sanagno, @dvruette, @andreaskoepf, @yk

add dataset config
  model/model_training/configs/config.yaml
  model/model_training/custom_datasets/prompt_dialogue.py
Owners: @theblackcat102, @sanagno, @dvruette, @andreaskoepf, @yk

[Fix] Consume much more gpt memory running eval_rm
  model/model_eval/eval_rm.py
Owners: @theblackcat102, @sanagno, @dvruette, @andreaskoepf, @yk

Format file
  model/model_eval/eval_rm.py
Owners: @theblackcat102, @sanagno, @dvruette, @andreaskoepf, @yk

Fix Absent of dataset vicuna
  model/model_training/custom_datasets/qa_datasets.py
Owners: @theblackcat102, @sanagno, @dvruette, @andreaskoepf, @yk

Update: Pydantic version from 1.10.4 to 1.10.7
  backend/requirements.txt
  oasst-data/pyproject.toml
  oasst-shared/pyproject.toml
Owners: @andreaskoepf, @melvinebenezer, @yk, @olliestanley, @AbdBarho

remove update_config() call in patch()
  model/model_training/models/patching.py
Owners: @theblackcat102, @sanagno, @dvruette, @andreaskoepf, @yk

Update: Pydantic version from 1.10.4 to 1.10.7 (#3615)
  backend/requirements.txt
  oasst-data/pyproject.toml
  oasst-shared/pyproject.toml
Owners: @andreaskoepf, @melvinebenezer, @yk, @olliestanley, @AbdBarho

remove raw flan & t0 datasets
  model/model_training/custom_datasets/instruction.py
Owners: @theblackcat102, @sanagno, @dvruette, @andreaskoepf, @yk

remove update_config() and add data_files param
  model/model_training/custom_datasets/prompt_dialogue.py
  model/model_training/models/patching.py
Owners: @theblackcat102, @sanagno, @dvruette, @andreaskoepf, @yk

restore comment in Vicuna dataset loader class
  model/model_training/custom_datasets/qa_datasets.py
Owners: @theblackcat102, @sanagno, @dvruette, @andreaskoepf, @yk

Changes for orcacode experiment (#3612)
  model/model_training/configs/config.yaml
  model/model_training/custom_datasets/__init__.py
  model/model_training/custom_datasets/instruction.py
  model/model_training/custom_datasets/prompt_dialogue.py
  model/model_training/custom_datasets/qa_datasets.py
  model/model_training/models/patching.py
  model/model_training/trainer_sft.py
Owners: @theblackcat102, @sanagno, @dvruette, @andreaskoepf, @yk

add support for llongma
  model/model_training/utils/utils.py
Owners: @theblackcat102, @sanagno, @dvruette, @andreaskoepf, @yk

add support for llongma
  model/model_training/utils/utils.py
Owners: @theblackcat102, @sanagno, @dvruette, @andreaskoepf, @yk

Added support for LLongMA (#3616)
  model/model_training/utils/utils.py
Owners: @theblackcat102, @sanagno, @dvruette, @andreaskoepf, @yk
