Repository LAION-AI/Open-Assistant, changes with the owners that CODEOWNERS names for each.
All owners: @yk, @andreaskoepf, @fozziethebeat, @AbdBarho, @notmd, @theblackcat102, @sanagno, @andrewm4894, @olliestanley, @Vechtomov, @bitplane, @ontocord

CODEOWNERS:

* @yk @andreaskoepf
/website/ @fozziethebeat @AbdBarho @notmd
/model/ @theblackcat102 @sanagno
/copilot/ @fozziethebeat @andreaskoepf @yk
/docs/ @andrewm4894 @olliestanley @andreaskoepf @yk
/.devcontainer/ @andrewm4894 @andreaskoepf @yk
/notebooks/ @andrewm4894 @olliestanley @andreaskoepf @yk
/data @Vechtomov @bitplane @ontocord

conf
  notebooks/safetybot/mt5-trainer.py
Owners: @andrewm4894, @olliestanley, @andreaskoepf, @yk

safet
  notebooks/data-augmentation/anthropic/prompt_gen.csv
  notebooks/safetybot/data-augmenation.ipynb
  notebooks/safetybot/mt5-trainer.ipynb
Owners: @andrewm4894, @olliestanley, @andreaskoepf, @yk

put intermediate as huggingface dataset
  data/datasets/nsfw_csam_reddit/dataset-cookbook.ipynb
  data/datasets/nsfw_csam_reddit/utils/__init__.py
Owners: @Vechtomov, @bitplane, @ontocord

initial commit
  data/datasets/nsfw_csam_reddit/prosocial.ipynb
Owners: @Vechtomov, @bitplane, @ontocord

filters
  data/datasets/nsfw_csam_reddit/prosocial.ipynb
Owners: @Vechtomov, @bitplane, @ontocord

align output
  data/datasets/nsfw_csam_reddit/prosocial.ipynb
Owners: @Vechtomov, @bitplane, @ontocord

fixed linting issues
  data/datasets/nsfw_csam_reddit/README.md
  data/datasets/nsfw_csam_reddit/dataset-cookbook.ipynb
  data/datasets/nsfw_csam_reddit/prosocial.ipynb
Owners: @Vechtomov, @bitplane, @ontocord

Show user score in header
  website/src/components/Header/Header.tsx
  website/src/components/Header/UserMenu.tsx
  website/src/components/Header/UserScore.tsx
  website/src/hooks/ui/useUserScore.ts
Owners: @fozziethebeat, @AbdBarho, @notmd

add multi-dataset support
  notebooks/safetybot/mt5-trainer.py
Owners: @andrewm4894, @olliestanley, @andreaskoepf, @yk

longer interval
  website/src/hooks/ui/useUserScore.ts
Owners: @fozziethebeat, @AbdBarho, @notmd

add multi-dataset support
  notebooks/safetybot/mt5-trainer.py
Owners: @andrewm4894, @olliestanley, @andreaskoepf, @yk

rmv dataset_loader
  notebooks/safetybot/mt5-trainer.py
Owners: @andrewm4894, @olliestanley, @andreaskoepf, @yk

fix typo
  notebooks/safetybot/mt5-trainer.py
Owners: @andrewm4894, @olliestanley, @andreaskoepf, @yk

train mt5
  notebooks/safetybot/mt5-trainer.py
Owners: @andrewm4894, @olliestanley, @andreaskoepf, @yk

rmv dataset
  notebooks/safetybot/mt5-trainer.py
Owners: @andrewm4894, @olliestanley, @andreaskoepf, @yk

intialize readme
  safety/README.md
Owners: @yk, @andreaskoepf

custom datasets
  safety/model_training/custom_datasets/rot_dataset.py
Owners: @yk, @andreaskoepf

add datacollator
  safety/model_training/custom_datasets/rot_dataset.py
Owners: @yk, @andreaskoepf

trainer
  safety/model_training/t5_trainer.py
Owners: @yk, @andreaskoepf

add safety utils
  safety/model_training/utils.py
Owners: @yk, @andreaskoepf

README for safety
  safety/README.md
Owners: @yk, @andreaskoepf

parse str to float
  model/model_training/trainer_sft.py
Owners: @theblackcat102, @sanagno

keep previous data
  website/src/hooks/ui/useUserScore.ts
Owners: @fozziethebeat, @AbdBarho, @notmd
