Repository LAION-AI/Open-Assistant, changes with the owners that CODEOWNERS names for each.
All owners: @yk, @andreaskoepf, @fozziethebeat, @AbdBarho, @notmd, @theblackcat102, @sanagno, @olliestanley, @andrewm4894, @Vechtomov, @bitplane, @ontocord, @SummerSigh, @shahules786

CODEOWNERS:

* @yk @andreaskoepf
/website/ @fozziethebeat @AbdBarho @notmd
/website/data/team.json @yk @andreaskoepf @fozziethebeat @AbdBarho @notmd @theblackcat102 @sanagno @olliestanley @andrewm4894
/model/ @theblackcat102 @sanagno
/copilot/ @fozziethebeat @andreaskoepf @yk
/docs/ @andrewm4894 @olliestanley @andreaskoepf @yk
/.devcontainer/ @andrewm4894 @andreaskoepf @yk
/notebooks/ @andrewm4894 @olliestanley @andreaskoepf @yk
/data @Vechtomov @bitplane @ontocord
/safety @SummerSigh @shahules786

run pre-commit
  model/model_training/custom_datasets/rank_datasets.py
Owners: @theblackcat102, @sanagno

Boilerplate OAuth website <=> inference (#2127)
  .gitignore
  docker-compose.yaml
  inference/server/oasst_inference_server/routes/auth.py
  inference/server/oasst_inference_server/settings.py
  website/src/lib/oasst_inference_client.ts
  website/src/pages/api/inference_auth/[...parts].ts
  website/src/pages/team.tsx
  website/src/types/Chat.ts
Owners: @yk, @andreaskoepf, @fozziethebeat, @AbdBarho, @notmd

update my name
  website/src/data/team.json
Owners: @fozziethebeat, @AbdBarho, @notmd

Add Joak to team (#2134)
  website/src/data/team.json
  website/src/pages/team.tsx
Owners: @fozziethebeat, @AbdBarho, @notmd

fix team description
  website/src/pages/team.tsx
Owners: @fozziethebeat, @AbdBarho, @notmd

Evaluation datasets for Reward Model (#2112)
  model/model_training/custom_datasets/rank_datasets.py
Owners: @theblackcat102, @sanagno

fix team description (#2135)
  website/src/pages/team.tsx
Owners: @fozziethebeat, @AbdBarho, @notmd

Update team.json
  website/src/data/team.json
Owners: @fozziethebeat, @AbdBarho, @notmd

added ENABLE_CHAT env to the [id] subpage of chats
  website/src/pages/chat/[id].tsx
Owners: @fozziethebeat, @AbdBarho, @notmd

enable chat in docker compose
  docker-compose.yaml
Owners: @yk, @andreaskoepf

Add me to team.json (#2132)
  website/src/data/team.json
Owners: @fozziethebeat, @AbdBarho, @notmd

replaced box with card component
  website/src/pages/team.tsx
Owners: @fozziethebeat, @AbdBarho, @notmd

fixed pre-commit error
  website/src/pages/team.tsx
Owners: @fozziethebeat, @AbdBarho, @notmd

Add ability to obtain refresh token
  inference/server/oasst_inference_server/routes/auth.py
  oasst-shared/oasst_shared/schemas/protocol.py
Owners: @yk, @andreaskoepf

added chat enabled function and returning 404 if not enabled
  website/src/lib/chat_enabled.ts
  website/src/pages/chat/[id].tsx
  website/src/pages/chat/index.tsx
Owners: @fozziethebeat, @AbdBarho, @notmd

evaluate using sampling results
  model/model_eval/sampling_score.py
Owners: @theblackcat102, @sanagno

load sampling results
  model/model_eval/eval_datasets.py
Owners: @theblackcat102, @sanagno
