Repository LAION-AI/Open-Assistant, changes with the owners that CODEOWNERS names for each.
All owners: @yk, @andreaskoepf, @AbdBarho, @notmd, @fozziethebeat, @theblackcat102, @sanagno, @olliestanley, @andrewm4894, @dvruette, @Vechtomov, @bitplane, @ontocord, @sedthh, @SummerSigh, @shahules786, @melvinebenezer

CODEOWNERS:

* @yk @andreaskoepf
/website/ @AbdBarho @notmd @yk @andreaskoepf
/website/src/data/team.json @yk @andreaskoepf @fozziethebeat @AbdBarho @notmd @theblackcat102 @sanagno @olliestanley @andrewm4894
/model/ @theblackcat102 @sanagno @dvruette @andreaskoepf @yk
/copilot/ @andreaskoepf @yk
/docs/ @andrewm4894 @olliestanley @andreaskoepf @yk
/.devcontainer/ @andrewm4894 @andreaskoepf @yk
/notebooks/ @andrewm4894 @olliestanley @andreaskoepf @yk
/data @Vechtomov @bitplane @ontocord @olliestanley @sedthh
/safety @SummerSigh @shahules786 @olliestanley
/inference/ @yk @andreaskoepf @olliestanley @AbdBarho
/backend/ @andreaskoepf @melvinebenezer @yk
/oasst-data/ @andreaskoepf @yk @olliestanley
/oasst-shared/ @andreaskoepf @melvinebenezer @yk @olliestanley @AbdBarho
docker-compose.yaml @andreaskoepf @melvinebenezer @yk @olliestanley @AbdBarho

Custom instructions feature (#3597)
  inference/server/oasst_inference_server/routes/chats.py
  inference/server/oasst_inference_server/schemas/chat.py
  inference/worker/chat_chain.py
  inference/worker/chat_chain_prompts.py
  inference/worker/chat_chain_utils.py
  inference/worker/work.py
  oasst-shared/oasst_shared/schemas/inference.py
  website/public/locales/en/chat.json
  website/src/components/Chat/ChatConfigForm.tsx
  website/src/components/Chat/ChatConfigSaver.tsx
  website/src/components/Chat/ChatConversation.tsx
  website/src/components/Chat/CustomInstructions.tsx
  website/src/types/Chat.ts
  website/src/utils/chat.ts
Owners: @yk, @andreaskoepf, @olliestanley, @AbdBarho, @melvinebenezer, @notmd

Fix prosocial: no validation split
  model/model_training/custom_datasets/__init__.py
Owners: @theblackcat102, @sanagno, @dvruette, @andreaskoepf, @yk

Add parameters rope-scaling parameters to export_model.py
  model/model_training/tools/export_model.py
Owners: @theblackcat102, @sanagno, @dvruette, @andreaskoepf, @yk

Update ru
  website/public/locales/ru/account.json
  website/public/locales/ru/chat.json
  website/public/locales/ru/common.json
  website/public/locales/ru/message.json
  website/public/locales/ru/tasks.json
Owners: @AbdBarho, @notmd, @yk, @andreaskoepf

update ru-translation (#3619)
  website/public/locales/ru/account.json
  website/public/locales/ru/chat.json
  website/public/locales/ru/common.json
  website/public/locales/ru/message.json
  website/public/locales/ru/tasks.json
Owners: @AbdBarho, @notmd, @yk, @andreaskoepf

Create readme.md
  data/datasets/farsi_datasets/readme.md
Owners: @Vechtomov, @bitplane, @ontocord, @olliestanley, @sedthh

Update readme.md
  data/datasets/farsi_datasets/readme.md
Owners: @Vechtomov, @bitplane, @ontocord, @olliestanley, @sedthh

Update readme.md
  data/datasets/farsi_datasets/readme.md
Owners: @Vechtomov, @bitplane, @ontocord, @olliestanley, @sedthh

Update readme.md
  data/datasets/farsi_datasets/readme.md
Owners: @Vechtomov, @bitplane, @ontocord, @olliestanley, @sedthh

Update readme.md
  data/datasets/farsi_datasets/readme.md
Owners: @Vechtomov, @bitplane, @ontocord, @olliestanley, @sedthh

Update readme.md
  data/datasets/farsi_datasets/readme.md
Owners: @Vechtomov, @bitplane, @ontocord, @olliestanley, @sedthh

edit file
  data/datasets/farsi_datasets/readme.md
Owners: @Vechtomov, @bitplane, @ontocord, @olliestanley, @sedthh

Fix Typo (#3610)
  docs/blog/2023-02-11-architecture.md
Owners: @andrewm4894, @olliestanley, @andreaskoepf, @yk

add wikipedia-fa
  data/datasets/__init__.py
  data/datasets/fa-wikipedia/README.md
Owners: @Vechtomov, @bitplane, @ontocord, @olliestanley, @sedthh

add isna
  data/datasets/__init__.py
Owners: @Vechtomov, @bitplane, @ontocord, @olliestanley, @sedthh

add isna
  data/datasets/fa-isna-news/README.md
Owners: @Vechtomov, @bitplane, @ontocord, @olliestanley, @sedthh

add isna
  data/datasets/fa-isna-news/README.md
Owners: @Vechtomov, @bitplane, @ontocord, @olliestanley, @sedthh
