Repository LAION-AI/Open-Assistant, changes with the owners that CODEOWNERS names for each.
All owners: @yk, @andreaskoepf, @fozziethebeat, @AbdBarho, @notmd, @theblackcat102, @sanagno, @andrewm4894, @olliestanley, @Vechtomov, @bitplane, @ontocord

CODEOWNERS:

* @yk @andreaskoepf
/website/ @fozziethebeat @AbdBarho @notmd
/model/ @theblackcat102 @sanagno
/copilot/ @fozziethebeat @andreaskoepf @yk
/docs/ @andrewm4894 @olliestanley @andreaskoepf @yk
/.devcontainer/ @andrewm4894 @andreaskoepf @yk
/notebooks/ @andrewm4894 @olliestanley @andreaskoepf @yk
/data @Vechtomov @bitplane @ontocord

Update feature names
  data/datasets/youtube_subs_howto100M/hub.py
  data/datasets/youtube_subs_howto100M/youtube_subs_howto100M.py
Owners: @Vechtomov, @bitplane, @ontocord

set up pytest
  model/model_training/pyproject.toml
  model/model_training/tests/__init__.py
  model/model_training/tests/test_datasets.py
  model/model_training/tests/test_utils.py
Owners: @theblackcat102, @sanagno

add dataset subsample script and 100 test prompts
  model/model_eval/manual/data/en_100_message.jsonl
  model/model_eval/manual/data/en_100_text.jsonl
  model/model_eval/manual/data/en_100_tree.jsonl
  model/model_eval/manual/subsample_dataset.py
Owners: @theblackcat102, @sanagno

Update to match latest main
  inference/server/alembic/versions/2023_03_01_1438-ee1f6582eef0_add_score_to_message.py
  inference/server/oasst_inference_server/models/__init__.py
Owners: @yk, @andreaskoepf

Revert
  inference/server/alembic/versions/2023_02_26_1328-a2865908a537_add_worker_compliance_checks_to_db.py
  inference/server/alembic/versions/2023_02_28_0310-d18ddd431d71_added_score_to_message.py
Owners: @yk, @andreaskoepf

Update to match latest main
  inference/server/alembic/versions/2023_03_01_1442-0f89c99ffdc8_add_score_to_message.py
Owners: @yk, @andreaskoepf

Fix
  inference/server/alembic/versions/2023_03_01_1442-0f89c99ffdc8_add_score_to_message.py
  inference/server/oasst_inference_server/models/worker.py
Owners: @yk, @andreaskoepf

refactor inference message score (#1907)
  inference/server/alembic/versions/2023_03_01_1442-0f89c99ffdc8_add_score_to_message.py
  inference/server/main.py
  inference/server/oasst_inference_server/client_handler.py
  inference/server/oasst_inference_server/models/__init__.py
  inference/server/oasst_inference_server/models/chat.py
  inference/server/oasst_inference_server/models/worker.py
  inference/server/oasst_inference_server/user_chat_repository.py
  oasst-shared/oasst_shared/schemas/inference.py
Owners: @yk, @andreaskoepf

Typo Fixes (#1910)
  copilot/README.md
Owners: @fozziethebeat, @andreaskoepf, @yk

Clarify new location for data gathering code
  notebooks/README.md
Owners: @andrewm4894, @olliestanley, @andreaskoepf, @yk

Update README.md
  data/datasets/iapp_wiki_qa_squad/README.md
Owners: @Vechtomov, @bitplane, @ontocord

remove redundant type cast
  website/src/pages/chat/[id].tsx
Owners: @fozziethebeat, @AbdBarho, @notmd

Update notebooks readme with new location for dataset code (#1920)
  notebooks/README.md
Owners: @andrewm4894, @olliestanley, @andreaskoepf, @yk

View chat list (#1915)
  website/public/locales/en/chat.json
  website/src/lib/oasst_inference_client.ts
  website/src/pages/api/chat/index.ts
  website/src/pages/chat.tsx
  website/src/pages/chat/[id].tsx
  website/src/pages/chat/index.tsx
  website/src/types/Chat.ts
  website/types/i18next.d.ts
Owners: @fozziethebeat, @AbdBarho, @notmd

downgrade pandas fix GLIBCXX_3.4.29 error
  model/model_training/pyproject.toml
  model/model_training/tests/test_datasets.py
Owners: @theblackcat102, @sanagno

add first config
  model/model_eval/manual/config/default.json
  model/model_eval/manual/generate.py
Owners: @theblackcat102, @sanagno

Create chat.json
  website/public/locales/th/chat.json
Owners: @fozziethebeat, @AbdBarho, @notmd

fixed git dependency
  model/model_training/pyproject.toml
Owners: @theblackcat102, @sanagno

Add chat.json for Thai (#1921)
  website/public/locales/th/chat.json
Owners: @fozziethebeat, @AbdBarho, @notmd

docs: small header change and add latest youtube vid as blogpost (#1851)
  docs/blog/2023-02-24-open-assistant-inference-backend-development-hands-on-coding/index.mdx
  docs/sidebars.js
Owners: @andrewm4894, @olliestanley, @andreaskoepf, @yk

corrected pyproject.toml and removed requirements
  model/model_training/pyproject.toml
  model/model_training/requirements.txt
Owners: @theblackcat102, @sanagno

skip slow tests
  model/model_training/tests/test_datasets.py
Owners: @theblackcat102, @sanagno

pytest runs for reward instructor module
  model/reward/instructor/pyproject.toml
  model/reward/instructor/requirements.txt
  model/reward/instructor/tests/test_dataset.py
Owners: @theblackcat102, @sanagno

add simple sampling report generator
  model/model_eval/manual/config/default.json
  model/model_eval/manual/generate.py
  model/model_eval/manual/sampling_report.py
Owners: @theblackcat102, @sanagno

allow to generate multiple continuations
  model/model_eval/manual/sampling_report.py
Owners: @theblackcat102, @sanagno

Gutenberg fix (#1914)
  data/datasets/__init__.py
  data/datasets/gutenberg/README.md
  data/datasets/gutenberg/project_gutenberg_crawler.ipynb
  data/datasets/gutenberg/requirements.txt
  notebooks/gutenberg/README.md
  notebooks/gutenberg/__init__.py
  notebooks/gutenberg/hub.py
Owners: @Vechtomov, @bitplane, @ontocord, @andrewm4894, @olliestanley, @andreaskoepf, @yk

use device index 0 by default
  model/model_eval/manual/sampling_report.py
Owners: @theblackcat102, @sanagno

fix greedy sample
  model/model_eval/manual/sampling_report.py
Owners: @theblackcat102, @sanagno

add min_length
  model/model_eval/manual/config/default.json
Owners: @theblackcat102, @sanagno

Updates based on #1610. Resolves #1286
  data/datasets/cocktail_recipes/loading_notebook.ipynb
  data/datasets/cocktail_recipes/loading_script.py
Owners: @Vechtomov, @bitplane, @ontocord

Updates based on #1610. Resolves #1286
  data/datasets/cocktail_recipes/loading_notebook.ipynb
Owners: @Vechtomov, @bitplane, @ontocord

store args of sampling reports call
  model/model_eval/manual/config/default.json
  model/model_eval/manual/requirements.txt
  model/model_eval/manual/sampling_report.py
Owners: @theblackcat102, @sanagno

update transformers to 4.26.1
  model/model_training/requirements.txt
  model/reward/instructor/requirements.txt
Owners: @theblackcat102, @sanagno

add --half option to use float16
  model/model_eval/manual/sampling_report.py
Owners: @theblackcat102, @sanagno

Finish the first version of youtube_subs_howto100M.py
  data/datasets/youtube_subs_howto100M/youtube_subs_howto100M.py
Owners: @Vechtomov, @bitplane, @ontocord

Finish the first version of prepare.py for howto100M youtube subs
  data/datasets/youtube_subs/prepare.py
  data/datasets/youtube_subs_howto100M/__init__.py
  data/datasets/youtube_subs_howto100M/hub.py
  data/datasets/youtube_subs_howto100M/prepare.py
  data/datasets/youtube_subs_howto100M/requirements.txt
  data/datasets/youtube_subs_howto100M/youtube_subs.py
Owners: @Vechtomov, @bitplane, @ontocord

Update feature names
  data/datasets/youtube_subs_howto100M/hub.py
  data/datasets/youtube_subs_howto100M/youtube_subs_howto100M.py
Owners: @Vechtomov, @bitplane, @ontocord

Add youtube_subs_howto100M dataset to __init__.py
  data/datasets/__init__.py
Owners: @Vechtomov, @bitplane, @ontocord

Fix the data filename prefix
  data/datasets/youtube_subs_howto100M/prepare.py
Owners: @Vechtomov, @bitplane, @ontocord

minor upgrade and bug fixes
  data/datasets/youtube_subs_howto100M/prepare.py
Owners: @Vechtomov, @bitplane, @ontocord
