Repository LAION-AI/Open-Assistant, changes with the owners that CODEOWNERS names for each.
All owners: @yk, @andreaskoepf, @fozziethebeat, @AbdBarho, @notmd, @theblackcat102, @sanagno, @andrewm4894, @olliestanley, @Vechtomov, @bitplane, @ontocord

CODEOWNERS:

* @yk @andreaskoepf
/website/ @fozziethebeat @AbdBarho @notmd
/model/ @theblackcat102 @sanagno
/copilot/ @fozziethebeat @andreaskoepf @yk
/docs/ @andrewm4894 @olliestanley @andreaskoepf @yk
/.devcontainer/ @andrewm4894 @andreaskoepf @yk
/notebooks/ @andrewm4894 @olliestanley @andreaskoepf @yk
/data @Vechtomov @bitplane @ontocord

concatenate datasets
  notebooks/safetybot/mt5-trainer.py
Owners: @andrewm4894, @olliestanley, @andreaskoepf, @yk

conditional gen changes
  model/model_eval/manual/sampling_report.py
Owners: @theblackcat102, @sanagno

conditional gen changes
  model/model_eval/manual/sampling_report.py
Owners: @theblackcat102, @sanagno

Fix leaderboard not loading
  website/src/lib/leaderboard_utilities.ts
Owners: @fozziethebeat, @AbdBarho, @notmd

enable `strictBindCallApply`
  website/src/components/Messages/MessageConversation.stories.tsx
  website/src/components/Messages/MessageConversation.tsx
  website/src/components/Messages/MessageEmojiButton.stories.tsx
  website/src/components/Messages/MessageTableEntry.stories.tsx
  website/src/components/Messages/MessageWithChildren.stories.tsx
  website/src/components/Messages/MessageWithChildren.tsx
  website/src/components/Sortable/Sortable.stories.tsx
  website/src/components/Tasks/Task/Task.stories.tsx
  website/tsconfig.json
Owners: @fozziethebeat, @AbdBarho, @notmd

enable `strictBindCallApply` (#1959)
  website/src/components/Messages/MessageConversation.stories.tsx
  website/src/components/Messages/MessageConversation.tsx
  website/src/components/Messages/MessageEmojiButton.stories.tsx
  website/src/components/Messages/MessageTableEntry.stories.tsx
  website/src/components/Messages/MessageWithChildren.stories.tsx
  website/src/components/Messages/MessageWithChildren.tsx
  website/src/components/Sortable/Sortable.stories.tsx
  website/src/components/Tasks/Task/Task.stories.tsx
  website/tsconfig.json
Owners: @fozziethebeat, @AbdBarho, @notmd

added is_question pipeline
  data/datasets/nsfw_csam_reddit/utils/__init__.py
  data/datasets/nsfw_csam_reddit/utils/is_question.py
Owners: @Vechtomov, @bitplane, @ontocord

Fix leaderboard not loading (#1958)
  website/src/lib/leaderboard_utilities.ts
Owners: @fozziethebeat, @AbdBarho, @notmd

Chat vote UI (#1913)
  inference/server/oasst_inference_server/database.py
  website/src/components/Chat/ChatConversation.tsx
  website/src/components/Messages/BaseMessageEntry.tsx
  website/src/components/Messages/MessageEmojiButton.tsx
  website/src/components/Messages/MessageInlineEmojiRow.tsx
  website/src/components/Messages/MessageTableEntry.tsx
  website/src/components/Messages/MessageTree.tsx
  website/src/components/UserAvatar.tsx
  website/src/hooks/ui/useScrollToElementOnMount.ts
  website/src/lib/oasst_inference_client.ts
  website/src/lib/routes.ts
  website/src/pages/admin/messages/[id].tsx
  website/src/pages/api/chat/vote.ts
  website/src/pages/chat/[id].tsx
  website/src/types/Chat.ts
Owners: @yk, @andreaskoepf, @fozziethebeat, @AbdBarho, @notmd

remove global prisma type
  website/src/lib/prismadb.ts
Owners: @fozziethebeat, @AbdBarho, @notmd

remove options
  website/src/lib/prismadb.ts
Owners: @fozziethebeat, @AbdBarho, @notmd

Remove global prisma type (#1960)
  website/src/lib/prismadb.ts
Owners: @fozziethebeat, @AbdBarho, @notmd

added async postgres to inference
  inference/server/alembic.ini
  inference/server/alembic/env.py
  inference/server/main.py
  inference/server/oasst_inference_server/chat_repository.py
  inference/server/oasst_inference_server/client_handler.py
  inference/server/oasst_inference_server/database.py
  inference/server/oasst_inference_server/deps.py
  inference/server/oasst_inference_server/schemas/worker.py
  inference/server/oasst_inference_server/settings.py
  inference/server/oasst_inference_server/user_chat_repository.py
  inference/server/oasst_inference_server/worker_handler.py
  inference/server/requirements.txt
  oasst-shared/oasst_shared/schemas/inference.py
Owners: @yk, @andreaskoepf

updated limit parameter
  backend/export.py
Owners: @yk, @andreaskoepf

Extended export script (#1954)
  backend/export.py
  backend/oasst_backend/utils/tree_export.py
  oasst-shared/oasst_shared/schemas/export.py
Owners: @yk, @andreaskoepf

Add iapp_wiki_qa_squad_oa (#1936)
  data/datasets/__init__.py
  data/datasets/iapp_wiki_qa_squad/README.md
  data/datasets/iapp_wiki_qa_squad/iapp_wiki_qa_squad_oa.ipynb
  data/datasets/iapp_wiki_qa_squad/loading_script.py
  data/datasets/iapp_wiki_qa_squad/requirements.txt
Owners: @Vechtomov, @bitplane, @ontocord

enable `strictFunctionTypes`
  website/src/components/Icons/Discord.tsx
  website/src/components/Messages/MessageConversation.stories.tsx
  website/src/components/Messages/MessageEmojiButton.stories.tsx
  website/src/components/Stats/Stats.components.tsx
  website/src/context/TaskContext.ts
  website/src/lib/constants.ts
  website/src/types/Hooks.ts
  website/tsconfig.json
Owners: @fozziethebeat, @AbdBarho, @notmd

enable `strictFunctionTypes` (#1962)
  website/src/components/Icons/Discord.tsx
  website/src/components/Messages/MessageConversation.stories.tsx
  website/src/components/Messages/MessageEmojiButton.stories.tsx
  website/src/components/Stats/Stats.components.tsx
  website/src/context/TaskContext.ts
  website/src/lib/constants.ts
  website/src/types/Hooks.ts
  website/tsconfig.json
Owners: @fozziethebeat, @AbdBarho, @notmd

Add some null checks
  website/.eslintrc.json
  website/src/components/Chat/ChatConversation.tsx
  website/src/components/Dashboard/TaskOption.tsx
  website/src/components/Dashboard/WelcomeCard.tsx
  website/src/components/DataTable/DataTable.tsx
  website/src/components/Header/Header.tsx
  website/src/components/Header/UserMenu.tsx
  website/src/components/LanguageSelector/LanguageSelector.tsx
  website/src/components/LeaderboardTable/LeaderboardTable.tsx
  website/src/components/SideMenu.tsx
  website/src/components/UserAvatar.tsx
  website/src/lib/languages.ts
  website/src/lib/oasst_api_client.ts
  website/src/pages/chat/index.tsx
  website/tsconfig.json
Owners: @fozziethebeat, @AbdBarho, @notmd

simplify
  website/src/components/Dashboard/WelcomeCard.tsx
Owners: @fozziethebeat, @AbdBarho, @notmd

pre commit
  website/src/components/SideMenu.tsx
Owners: @fozziethebeat, @AbdBarho, @notmd

Fix some null checks (#1963)
  website/.eslintrc.json
  website/src/components/Chat/ChatConversation.tsx
  website/src/components/Dashboard/TaskOption.tsx
  website/src/components/Dashboard/WelcomeCard.tsx
  website/src/components/DataTable/DataTable.tsx
  website/src/components/Header/Header.tsx
  website/src/components/Header/UserMenu.tsx
  website/src/components/LanguageSelector/LanguageSelector.tsx
  website/src/components/LeaderboardTable/LeaderboardTable.tsx
  website/src/components/SideMenu.tsx
  website/src/components/UserAvatar.tsx
  website/src/lib/languages.ts
  website/src/lib/oasst_api_client.ts
  website/src/pages/chat/index.tsx
  website/tsconfig.json
Owners: @fozziethebeat, @AbdBarho, @notmd

Add YouTube subtitles HowTo100M dataset #259 (#1924)
  data/datasets/__init__.py
  data/datasets/youtube_subs_howto100M/__init__.py
  data/datasets/youtube_subs_howto100M/hub.py
  data/datasets/youtube_subs_howto100M/prepare.py
  data/datasets/youtube_subs_howto100M/requirements.txt
  data/datasets/youtube_subs_howto100M/youtube_subs_howto100M.py
Owners: @Vechtomov, @bitplane, @ontocord

Fix ordering of image in leaderboard api
  website/src/lib/leaderboard_utilities.ts
  website/src/lib/users.ts
Owners: @fozziethebeat, @AbdBarho, @notmd

config
  notebooks/safetybot/mt5-trainer.py
Owners: @andrewm4894, @olliestanley, @andreaskoepf, @yk

config
  notebooks/safetybot/mt5-trainer.py
Owners: @andrewm4894, @olliestanley, @andreaskoepf, @yk

Fix ordering of images in leaderboard api (#1964)
  website/src/lib/leaderboard_utilities.ts
  website/src/lib/users.ts
Owners: @fozziethebeat, @AbdBarho, @notmd

config
  notebooks/safetybot/mt5-trainer.py
Owners: @andrewm4894, @olliestanley, @andreaskoepf, @yk

write
  notebooks/safetybot/mt5-trainer.py
Owners: @andrewm4894, @olliestanley, @andreaskoepf, @yk

write
  notebooks/safetybot/mt5-trainer.py
Owners: @andrewm4894, @olliestanley, @andreaskoepf, @yk

conf
  notebooks/safetybot/mt5-trainer.py
Owners: @andrewm4894, @olliestanley, @andreaskoepf, @yk

pipeline to scrape submissions
  data/datasets/nsfw_csam_reddit/scrape_nsfw_reddit.py
  data/datasets/nsfw_csam_reddit/utils/__init__.py
  data/datasets/nsfw_csam_reddit/utils/is_question.py
Owners: @Vechtomov, @bitplane, @ontocord

Add tlcv2.0_oa to datasets
  data/datasets/__init__.py
  data/datasets/tlcv2.0_oa/README.md
  data/datasets/tlcv2.0_oa/loading_script.py
  data/datasets/tlcv2.0_oa/tlcv2_0_oa.ipynb
Owners: @Vechtomov, @bitplane, @ontocord

conf
  notebooks/safetybot/mt5-trainer.py
Owners: @andrewm4894, @olliestanley, @andreaskoepf, @yk

add newline
  notebooks/safetybot/mt5-trainer.py
Owners: @andrewm4894, @olliestanley, @andreaskoepf, @yk

update hyperparameters to reflect InstructGPT
  model/model_training/configs/config.yaml
  model/model_training/trainer_sft.py
Owners: @theblackcat102, @sanagno

Add Zhihu Roundtable data
  data/datasets/__init__.py
  data/datasets/zhihu-kol/.gitignore
  data/datasets/zhihu-kol/README.md
  data/datasets/zhihu-kol/__init__.py
  data/datasets/zhihu-kol/convert_parquet.py
  data/datasets/zhihu-kol/main.py
  data/datasets/zhihu-kol/requirements.txt
  data/datasets/zhihu-kol/scrape_by_topic.py
  data/datasets/zhihu-kol/upload_hf.py
Owners: @Vechtomov, @bitplane, @ontocord

cleaned up scrap-submissions pipeline
  data/datasets/nsfw_csam_reddit/utils/__init__.py
  data/datasets/nsfw_csam_reddit/utils/reddit.py
Owners: @Vechtomov, @bitplane, @ontocord

get_comments pipeline
  data/datasets/nsfw_csam_reddit/.gitignore
  data/datasets/nsfw_csam_reddit/utils/__init__.py
  data/datasets/nsfw_csam_reddit/utils/reddit.py
Owners: @Vechtomov, @bitplane, @ontocord

added cookbook
  data/datasets/nsfw_csam_reddit/.gitignore
  data/datasets/nsfw_csam_reddit/README.md
  data/datasets/nsfw_csam_reddit/dataset-cookbook.ipynb
  data/datasets/nsfw_csam_reddit/scrape_nsfw_reddit.py
Owners: @Vechtomov, @bitplane, @ontocord
