Repository LAION-AI/Open-Assistant, changes with the owners that CODEOWNERS names for each.
All owners: @yk, @andreaskoepf, @fozziethebeat, @k-nearest-neighbor, @AbdBarho, @notmd, @theblackcat102, @sanagno, @andrewm4894

Update statistics order (#1484)
  website/src/pages/account/index.tsx
Owners: @fozziethebeat, @k-nearest-neighbor, @AbdBarho, @notmd

lint
  website/public/locales/ru/labelling.json
Owners: @fozziethebeat, @k-nearest-neighbor, @AbdBarho, @notmd

Full russian translation [Updated] (#1480)
  website/public/locales/ru/common.json
  website/public/locales/ru/labelling.json
  website/public/locales/ru/leaderboard.json
  website/public/locales/ru/message.json
  website/public/locales/ru/tasks.json
Owners: @fozziethebeat, @k-nearest-neighbor, @AbdBarho, @notmd

Update tasks.json
  website/public/locales/uk-UA/tasks.json
Owners: @fozziethebeat, @k-nearest-neighbor, @AbdBarho, @notmd

Update common.json
  website/public/locales/uk-UA/common.json
Owners: @fozziethebeat, @k-nearest-neighbor, @AbdBarho, @notmd

Update dashboard.json
  website/public/locales/uk-UA/dashboard.json
Owners: @fozziethebeat, @k-nearest-neighbor, @AbdBarho, @notmd

Update index.json
  website/public/locales/uk-UA/index.json
Owners: @fozziethebeat, @k-nearest-neighbor, @AbdBarho, @notmd

Adding new Dutch (NL) translations
  website/public/locales/nl/common.json
  website/public/locales/nl/dashboard.json
  website/public/locales/nl/index.json
  website/public/locales/nl/labelling.json
  website/public/locales/nl/leaderboard.json
  website/public/locales/nl/message.json
  website/public/locales/nl/side_menu.json
  website/public/locales/nl/tasks.json
  website/public/locales/nl/tos.json
Owners: @fozziethebeat, @k-nearest-neighbor, @AbdBarho, @notmd

refactor
  model/supervised_finetuning/custom_datasets/dialogue_collator.py
  model/supervised_finetuning/trainer.py
  model/supervised_finetuning/utils.py
Owners: @theblackcat102, @sanagno

various fixes to the SFT code
  model/supervised_finetuning/.gitignore
  model/supervised_finetuning/configs/config.yaml
  model/supervised_finetuning/custom_datasets/prompt_dialogue.py
  model/supervised_finetuning/trainer.py
Owners: @theblackcat102, @sanagno

Minor: Set the proper typescript type for TaskInfo.update_type
  website/src/types/Task.ts
Owners: @fozziethebeat, @k-nearest-neighbor, @AbdBarho, @notmd

Fix jest tests by mocking i18n, and prevent future such breakages by making warns and errors fatal
  website/jest.setup.js
Owners: @fozziethebeat, @k-nearest-neighbor, @AbdBarho, @notmd

Delete src/setupTests.js - this is a create-react-app only file that is not used here. Setup is done in jest.setup.js
  website/src/setupTests.js
Owners: @fozziethebeat, @k-nearest-neighbor, @AbdBarho, @notmd

It was added the necessary code to show the welcome message in different languages, also the json languages files in english and spanish were modified in order to complement this feature
  website/public/locales/en/dashboard.json
  website/public/locales/es/dashboard.json
  website/src/components/Dashboard/WelcomeCard.tsx
Owners: @fozziethebeat, @k-nearest-neighbor, @AbdBarho, @notmd

Added the necessary code to show the welcome message in different languages, also the json languages files in english and spanish were modified in order to complement this feature
  website/public/locales/en/dashboard.json
  website/public/locales/es/dashboard.json
Owners: @fozziethebeat, @k-nearest-neighbor, @AbdBarho, @notmd

fix bug
  model/model_training/.gitignore
  model/model_training/README.md
  model/model_training/configs/config.yaml
  model/model_training/configs/zero_config.json
  model/model_training/custom_datasets/README.md
  model/model_training/custom_datasets/__init__.py
  model/model_training/custom_datasets/dialogue_collator.py
  model/model_training/custom_datasets/formatting.py
  model/model_training/custom_datasets/prompt_dialogue.py
  model/model_training/custom_datasets/qa_datasets.py
  model/model_training/custom_datasets/summarization.py
  model/model_training/custom_datasets/toxic_conversation.py
  model/model_training/custom_datasets/translation.py
  model/model_training/efficiency_utils.py
  model/model_training/losses.py
  model/model_training/models/__init__.py
  model/model_training/models/gptj.py
  model/model_training/requirements.txt
  model/model_training/tests/test_datasets.py
  model/model_training/tests/test_utils.py
  model/model_training/trainer_sft.py
  model/model_training/utils.py
Owners: @theblackcat102, @sanagno

trlx
  model/model_training/requirements.txt
Owners: @theblackcat102, @sanagno

update readme to new files
  model/model_training/README.md
Owners: @theblackcat102, @sanagno

Minor: Set the proper typescript type for TaskInfo.update_type (#1490)
  website/src/types/Task.ts
Owners: @fozziethebeat, @k-nearest-neighbor, @AbdBarho, @notmd

refactoring
  model/model_training/trainer_sft.py
  model/model_training/utils.py
Owners: @theblackcat102, @sanagno

rl datasets
  model/model_training/configs/config.yaml
  model/model_training/configs/config_rl.yaml
  model/model_training/configs/ppo_config.yaml
  model/model_training/custom_datasets/__init__.py
  model/model_training/custom_datasets/dialogue_collator.py
  model/model_training/custom_datasets/prompt_dialogue.py
Owners: @theblackcat102, @sanagno

rl training
  model/model_training/trainer_rl.py
Owners: @theblackcat102, @sanagno

cosmetic bug fixed on 404 page, where the button icon wasn't showed correctly
  website/src/pages/404.tsx
Owners: @fozziethebeat, @k-nearest-neighbor, @AbdBarho, @notmd

I have solved the issue #1343
  website/src/components/SideMenuLayout.tsx
Owners: @fozziethebeat, @k-nearest-neighbor, @AbdBarho, @notmd

Tell vscode that the website/ and docs/ and seperate project folders, for eslint
  .vscode/settings.json
Owners: @yk, @andreaskoepf

Run: npm run fix:lint and commit results
  website/.eslintrc.json
  website/src/components/Dashboard/SlimFooter.tsx
  website/src/components/Header/Header.tsx
  website/src/components/Survey/TaskControls.tsx
  website/src/pages/_app.tsx
  website/src/pages/api/messages/[id]/parent.ts
  website/src/pages/brb.tsx
  website/src/pages/dashboard.tsx
Owners: @fozziethebeat, @k-nearest-neighbor, @AbdBarho, @notmd

eslint: ignore unused variables starting with _
  website/.eslintrc.json
Owners: @fozziethebeat, @k-nearest-neighbor, @AbdBarho, @notmd

Fix typescript type for TaskApiHooks, specifying actual type
  website/src/types/Hooks.ts
Owners: @fozziethebeat, @k-nearest-neighbor, @AbdBarho, @notmd

A fix ukraine translate! (#1486)
  website/public/locales/uk-UA/common.json
  website/public/locales/uk-UA/dashboard.json
  website/public/locales/uk-UA/index.json
  website/public/locales/uk-UA/tasks.json
Owners: @fozziethebeat, @k-nearest-neighbor, @AbdBarho, @notmd

Fix jest unit test (#1495)
  website/jest.setup.js
  website/src/setupTests.js
Owners: @fozziethebeat, @k-nearest-neighbor, @AbdBarho, @notmd

Show welcome message in dashboard in different languages (#1498)
  website/public/locales/en/dashboard.json
  website/public/locales/es/dashboard.json
  website/src/components/Dashboard/WelcomeCard.tsx
Owners: @fozziethebeat, @k-nearest-neighbor, @AbdBarho, @notmd

Horizontally unwanted movement corrected Issue #1343 (#1501)
  website/src/components/SideMenuLayout.tsx
  website/src/pages/404.tsx
Owners: @fozziethebeat, @k-nearest-neighbor, @AbdBarho, @notmd

Set typescript type of TaskInfo.type correctly
  website/src/types/Task.ts
Owners: @fozziethebeat, @k-nearest-neighbor, @AbdBarho, @notmd

Full russian translation [Welcome] (LAION-AI#1480)
  website/public/locales/ru/dashboard.json
Owners: @fozziethebeat, @k-nearest-neighbor, @AbdBarho, @notmd

Full russian translation [Fix] (LAION-AI#1480)
  website/public/locales/ru/labelling.json
Owners: @fozziethebeat, @k-nearest-neighbor, @AbdBarho, @notmd

Full russian translation [Fix] (LAION-AI#1480)
  website/public/locales/ru/labelling.json
Owners: @fozziethebeat, @k-nearest-neighbor, @AbdBarho, @notmd

CODEOWNERS:

* @yk @andreaskoepf
/website/ @fozziethebeat @k-nearest-neighbor @AbdBarho @notmd
/model/ @theblackcat102 @sanagno
/copilot/ @fozziethebeat @andreaskoepf @yk
/docs/ @andrewm4894 @andreaskoepf @yk
/.devcontainer/ @andrewm4894 @andreaskoepf @yk
/notebooks/ @andrewm4894 @andreaskoepf @yk
