Repository LAION-AI/Open-Assistant, changes with the owners that CODEOWNERS names for each.
All owners: @yk, @andreaskoepf, @fozziethebeat, @AbdBarho, @notmd, @theblackcat102, @sanagno, @andrewm4894, @olliestanley, @Vechtomov, @bitplane, @ontocord

CODEOWNERS:

* @yk @andreaskoepf
/website/ @fozziethebeat @AbdBarho @notmd
/model/ @theblackcat102 @sanagno
/copilot/ @fozziethebeat @andreaskoepf @yk
/docs/ @andrewm4894 @olliestanley @andreaskoepf @yk
/.devcontainer/ @andrewm4894 @andreaskoepf @yk
/notebooks/ @andrewm4894 @olliestanley @andreaskoepf @yk
/data @Vechtomov @bitplane @ontocord

format with pre-commit
  notebooks/closed-book-qa/Closed Book QA Generator.ipynb
Owners: @andrewm4894, @olliestanley, @andreaskoepf, @yk

anonymizing user and message ids in a stable way
  backend/export.py
  backend/oasst_backend/utils/tree_export.py
  oasst-shared/oasst_shared/schemas/export.py
Owners: @yk, @andreaskoepf

conditionally show badge
  website/public/locales/en/message.json
  website/public/locales/en/tasks.json
  website/src/components/Messages/MessageConversation.tsx
  website/src/components/Messages/MessageTableEntry.tsx
  website/src/components/Sortable/Sortable.tsx
  website/src/components/Sortable/SortableItem.tsx
  website/src/components/Tasks/EvaluateTask.tsx
  website/src/types/Tasks.ts
Owners: @fozziethebeat, @AbdBarho, @notmd

simlify type
  website/src/components/Messages/BaseMessageEntry.tsx
Owners: @fozziethebeat, @AbdBarho, @notmd

updated readme
  notebooks/closed-book-qa/Closed Book QA Generator.ipynb
  notebooks/closed-book-qa/README.md
Owners: @andrewm4894, @olliestanley, @andreaskoepf, @yk

feat(backend): enable automatically import message node
  backend/import.py
Owners: @yk, @andreaskoepf

synthetic data
  notebooks/data-augmentation/anthropic/Synthetic-data-anthropic.ipynb
Owners: @andrewm4894, @olliestanley, @andreaskoepf, @yk

Revert "synthetic data"
  notebooks/data-augmentation/anthropic/Synthetic-data-anthropic.ipynb
Owners: @andrewm4894, @olliestanley, @andreaskoepf, @yk

add 250 lottery prompts, skip special tokens optional
  model/model_eval/manual/config/synth.json
  model/model_eval/manual/data/prompt_lottery_en_250_text.jsonl
  model/model_eval/manual/sampling_report.py
  model/model_eval/manual/subsample_dataset.py
Owners: @theblackcat102, @sanagno

Markdown inline code rendering broken resolved (#1945)
  website/src/components/Messages/RenderedMarkdown.tsx
Owners: @fozziethebeat, @AbdBarho, @notmd

make use of prefix tokens optional (default False)
  model/model_eval/manual/config/default.json
  model/model_eval/manual/sampling_report.py
Owners: @theblackcat102, @sanagno

don't use <prefix> by default
  model/model_eval/manual/config/default.json
  model/model_eval/manual/config/synth.json
Owners: @theblackcat102, @sanagno

update message
  website/public/locales/en/message.json
  website/public/locales/en/tasks.json
Owners: @fozziethebeat, @AbdBarho, @notmd

feat(backend): enable automatically import message node (#1947)
  backend/import.py
Owners: @yk, @andreaskoepf

add synthetic badge and all answers wrong checkbox to ranking task (#1937)
  website/public/locales/en/message.json
  website/public/locales/en/tasks.json
  website/src/components/Sortable/Sortable.tsx
  website/src/components/Sortable/SortableItem.tsx
  website/src/components/Tasks/EvaluateTask.tsx
  website/src/types/TaskResponses.ts
  website/src/types/Tasks.ts
Owners: @fozziethebeat, @AbdBarho, @notmd

Added Notebook for Closed Book QA Generator (#1933)
  notebooks/closed-book-qa/Closed Book QA Generator.ipynb
  notebooks/closed-book-qa/README.md
  notebooks/closed-book-qa/T5_closed_book_QA_generators.py
Owners: @andrewm4894, @olliestanley, @andreaskoepf, @yk

disable not_rankable checkbox when in review state
  website/src/components/Tasks/EvaluateTask.tsx
Owners: @fozziethebeat, @AbdBarho, @notmd

fix
  discord-bots/oa-bot-js/src/interactions/open-assistant.ts
  discord-bots/oa-bot-js/src/modules/open-assistant/interactions.ts
  discord-bots/oa-bot-js/src/modules/open-assistant/interactions/info.ts
  discord-bots/oa-bot-js/src/modules/open-assistant/interactions/init.ts
  discord-bots/oa-bot-js/src/modules/open-assistant/interactions/label.ts
  discord-bots/oa-bot-js/src/modules/open-assistant/interactions/lang.ts
  discord-bots/oa-bot-js/src/modules/open-assistant/interactions/task.ts
  discord-bots/oa-bot-js/src/modules/open-assistant/langs.ts
  discord-bots/oa-bot-js/src/modules/open-assistant/tasks.ts
  discord-bots/oa-bot-js/src/modules/open-assistant/user.ts
Owners: @yk, @andreaskoepf

fix
  discord-bots/oa-bot-js/.env.sample
  discord-bots/oa-bot-js/.gitignore
  discord-bots/oa-bot-js/README.md
Owners: @yk, @andreaskoepf

exporting and anonymizing events
  backend/export.py
  backend/oasst_backend/utils/tree_export.py
  oasst-shared/oasst_shared/schemas/export.py
Owners: @yk, @andreaskoepf

removed useless object constructions
  backend/export.py
Owners: @yk, @andreaskoepf

disable not_rankable checkbox when in review state (#1950)
  website/src/components/Tasks/EvaluateTask.tsx
Owners: @fozziethebeat, @AbdBarho, @notmd

[feature] change to new conversation format
  model/model_training/custom_datasets/formatting.py
Owners: @theblackcat102, @sanagno

[feature] add chat toolkit for v3 format
  model/model_training/tools/model_chat.py
Owners: @theblackcat102, @sanagno

safety training
  notebooks/safetybot/mt5-trainer.ipynb
  notebooks/safetybot/mt5-trainer.py
Owners: @andrewm4894, @olliestanley, @andreaskoepf, @yk

add key
  notebooks/safetybot/mt5-trainer.py
Owners: @andrewm4894, @olliestanley, @andreaskoepf, @yk

multi split
  notebooks/safetybot/mt5-trainer.py
Owners: @andrewm4894, @olliestanley, @andreaskoepf, @yk

typo
  notebooks/safetybot/mt5-trainer.py
Owners: @andrewm4894, @olliestanley, @andreaskoepf, @yk

add tokenizer
  notebooks/safetybot/mt5-trainer.py
Owners: @andrewm4894, @olliestanley, @andreaskoepf, @yk

Show correct discord avatar on leaderboard
  website/src/components/LeaderboardTable/LeaderboardTable.tsx
  website/src/lib/leaderboard_utilities.ts
  website/src/lib/users.ts
  website/src/pages/api/admin/trollboard.ts
  website/src/pages/api/leaderboard.ts
Owners: @fozziethebeat, @AbdBarho, @notmd

save
  notebooks/safetybot/mt5-trainer.py
Owners: @andrewm4894, @olliestanley, @andreaskoepf, @yk

add tokens
  notebooks/safetybot/mt5-trainer.py
Owners: @andrewm4894, @olliestanley, @andreaskoepf, @yk

round the images
  website/src/components/UserAvatar.tsx
Owners: @fozziethebeat, @AbdBarho, @notmd

Show correct discord avatar on leaderboard (#1955)
  website/src/components/LeaderboardTable/LeaderboardTable.tsx
  website/src/components/UserAvatar.tsx
  website/src/lib/leaderboard_utilities.ts
  website/src/lib/users.ts
  website/src/pages/api/admin/trollboard.ts
  website/src/pages/api/leaderboard.ts
Owners: @fozziethebeat, @AbdBarho, @notmd

Fix discord bot workflow
  docker/Dockerfile.discord-bot
Owners: @yk, @andreaskoepf

save jobid
  notebooks/safetybot/mt5-trainer.py
Owners: @andrewm4894, @olliestanley, @andreaskoepf, @yk

change splits
  notebooks/safetybot/mt5-trainer.py
Owners: @andrewm4894, @olliestanley, @andreaskoepf, @yk

Fix discord bot workflow (#1956)
  docker/Dockerfile.discord-bot
Owners: @yk, @andreaskoepf

concatenate datasets
  notebooks/safetybot/mt5-trainer.py
Owners: @andrewm4894, @olliestanley, @andreaskoepf, @yk

add T5 loading option
  model/model_eval/manual/sampling_report.py
Owners: @theblackcat102, @sanagno
