Repository LAION-AI/Open-Assistant, changes with the owners that CODEOWNERS names for each.
All owners: @yk, @andreaskoepf, @fozziethebeat, @AbdBarho, @notmd, @theblackcat102, @sanagno, @andrewm4894, @olliestanley, @Vechtomov, @bitplane, @ontocord

CODEOWNERS:

* @yk @andreaskoepf
/website/ @fozziethebeat @AbdBarho @notmd
/model/ @theblackcat102 @sanagno
/copilot/ @fozziethebeat @andreaskoepf @yk
/docs/ @andrewm4894 @olliestanley @andreaskoepf @yk
/.devcontainer/ @andrewm4894 @andreaskoepf @yk
/notebooks/ @andrewm4894 @olliestanley @andreaskoepf @yk
/data @Vechtomov @bitplane @ontocord

Readd basic files
  data/datasets/youtube_subs/__init__.py
  data/datasets/youtube_subs/hub.py
  data/datasets/youtube_subs/prepare.py
  data/datasets/youtube_subs/requirements.txt
  data/datasets/youtube_subs/youtube_subs.py
  openassistant/datasets/youtube_subs/prepare.py
Owners: @Vechtomov, @bitplane, @ontocord, @yk, @andreaskoepf

Update TODOs
  data/datasets/youtube_subs/prepare.py
Owners: @Vechtomov, @bitplane, @ontocord

Add basic files for collecting youtube subs
  openassistant/datasets/youtube_subs/__init__.py
  openassistant/datasets/youtube_subs/hub.py
  openassistant/datasets/youtube_subs/prepare.py
  openassistant/datasets/youtube_subs/requirements.txt
  openassistant/datasets/youtube_subs/youtube_subs.py
Owners: @yk, @andreaskoepf

Delete and modify youtube_subs_*.py
  data/datasets/youtube_subs_howto100M/youtube_subs.py
  data/datasets/youtube_subs_howto100M/youtube_subs_howto100M.py
Owners: @Vechtomov, @bitplane, @ontocord

Add youtube-transcript-api==0.5.0 to requirements
  data/datasets/youtube_subs/requirements.txt
Owners: @Vechtomov, @bitplane, @ontocord

Apply pre-commit linting rules
  data/datasets/youtube_subs_howto100M/hub.py
  data/datasets/youtube_subs_howto100M/prepare.py
  data/datasets/youtube_subs_howto100M/requirements.txt
  data/datasets/youtube_subs_howto100M/youtube_subs_howto100M.py
Owners: @Vechtomov, @bitplane, @ontocord

fix merge
  inference/server/alembic/versions/2023_02_28_0310-d18ddd431d71_added_score_to_message.py
Owners: @yk, @andreaskoepf

fix(backend): fill lang when importing mst
  backend/import.py
Owners: @yk, @andreaskoepf

include first batch of SFT sampling reports
  model/model_eval/manual/sampling_reports/2023-03-01_theblackcat102_pythia-12b-deduped-sft_sampling.json
  model/model_eval/manual/sampling_reports/2023-03-01_theblackcat102_pythia-1b-deduped-sft_sampling.json
  model/model_eval/manual/sampling_reports/2023-03-01_theblackcat102_pythia-3b-deduped-sft_sampling.json
Owners: @theblackcat102, @sanagno

fix(backend): fill lang when importing mst (#1929)
  backend/import.py
Owners: @yk, @andreaskoepf

updated transformers dependency version
  model/model_training/pyproject.toml
Owners: @theblackcat102, @sanagno

updated readme
  model/model_training/README.md
  model/reward/instructor/README.md
Owners: @theblackcat102, @sanagno

ran precommit
  model/model_training/pyproject.toml
  model/model_training/tests/test_datasets.py
  model/reward/instructor/pyproject.toml
Owners: @theblackcat102, @sanagno

simplify sampling_report config
  model/model_eval/manual/config/default.json
  model/model_eval/manual/data/en_100_message.jsonl
  model/model_eval/manual/data/en_100_message.jsonl.gz
  model/model_eval/manual/data/en_100_text.jsonl
  model/model_eval/manual/data/en_100_text.jsonl.gz
  model/model_eval/manual/data/en_100_tree.jsonl
  model/model_eval/manual/data/en_100_tree.jsonl.gz
  model/model_eval/manual/sampling_report.py
Owners: @theblackcat102, @sanagno

add typical95 sampling config
  model/model_eval/manual/config/default.json
  model/model_eval/manual/sampling_report.py
Owners: @theblackcat102, @sanagno

Replaced QA generator .py with Notebook version
  notebooks/closed-book-qa/Closed Book QA Generator.ipynb
  notebooks/closed-book-qa/README.md
  notebooks/closed-book-qa/T5_closed_book_QA_generators.py
Owners: @andrewm4894, @olliestanley, @andreaskoepf, @yk

updated transformer version
  model/reward/instructor/pyproject.toml
Owners: @theblackcat102, @sanagno

add not_rankable and reveal_synthetic flags
  backend/main.py
  backend/oasst_backend/api/v1/utils.py
  backend/oasst_backend/models/db_payload.py
  backend/oasst_backend/prompt_repository.py
  backend/oasst_backend/task_repository.py
  backend/oasst_backend/tree_manager.py
  oasst-shared/oasst_shared/schemas/protocol.py
Owners: @yk, @andreaskoepf

fix typo
  backend/oasst_backend/models/db_payload.py
  oasst-shared/oasst_shared/schemas/protocol.py
Owners: @yk, @andreaskoepf

Update HumanEval and MBPP notebooks (#1895)
  data/datasets/__init__.py
  data/datasets/codet_humaneval_mbpp/HumanEval_and_MBPP_code_gen.ipynb
  data/datasets/codet_humaneval_mbpp/HumanEval_and_MBPP_test_gen.ipynb
  data/datasets/codet_humaneval_mbpp/README.md
  data/datasets/grade_school_math_instructions/dataset_creation.ipynb
  notebooks/data-augmentation/codet-data/README.md
Owners: @Vechtomov, @bitplane, @ontocord, @andrewm4894, @olliestanley, @andreaskoepf, @yk

Add not_rankable and reveal_synthetic flags (#1934)
  backend/main.py
  backend/oasst_backend/api/v1/utils.py
  backend/oasst_backend/models/db_payload.py
  backend/oasst_backend/prompt_repository.py
  backend/oasst_backend/task_repository.py
  backend/oasst_backend/tree_manager.py
  oasst-shared/oasst_shared/schemas/protocol.py
Owners: @yk, @andreaskoepf

fix build & fix inference backend
  inference/server/oasst_inference_server/database.py
  website/src/lib/oasst_inference_client.ts
  website/src/pages/chat/[id].tsx
Owners: @yk, @andreaskoepf, @fozziethebeat, @AbdBarho, @notmd

pre-commit
  inference/server/oasst_inference_server/database.py
Owners: @yk, @andreaskoepf

Add files via upload
  data/datasets/iapp_wiki_qa_squad/iapp_wiki_qa_squad_oa.ipynb
Owners: @Vechtomov, @bitplane, @ontocord

Update iapp_wiki_qa_squad_oa.ipynb
  data/datasets/iapp_wiki_qa_squad/iapp_wiki_qa_squad_oa.ipynb
Owners: @Vechtomov, @bitplane, @ontocord

Update iapp_wiki_qa_squad_oa.ipynb
  data/datasets/iapp_wiki_qa_squad/iapp_wiki_qa_squad_oa.ipynb
Owners: @Vechtomov, @bitplane, @ontocord

Add iapp_wiki_qa_squad
  data/datasets/__init__.py
  data/datasets/iapp_wiki_qa_squad/README.md
  data/datasets/iapp_wiki_qa_squad/iapp_wiki_qa_squad_oa.ipynb
  data/datasets/iapp_wiki_qa_squad/loading_script.py
  data/datasets/iapp_wiki_qa_squad/requirements.txt
Owners: @Vechtomov, @bitplane, @ontocord

add synthetic badge and all answers wrong checkbox to ranking task
  website/public/locales/en/tasks.json
  website/src/components/Messages/MessageConversation.tsx
  website/src/components/Messages/MessageTableEntry.tsx
  website/src/components/Tasks/EvaluateTask.tsx
  website/src/types/TaskResponses.ts
Owners: @fozziethebeat, @AbdBarho, @notmd

Lint
  data/datasets/iapp_wiki_qa_squad/README.md
  data/datasets/iapp_wiki_qa_squad/iapp_wiki_qa_squad_oa.ipynb
Owners: @Vechtomov, @bitplane, @ontocord

Bugs in Markdown. 3. Big numbers in lists are corrupted resolved
  website/src/components/Messages/RenderedMarkdown.tsx
Owners: @fozziethebeat, @AbdBarho, @notmd

Update Contributor Documentation (#1171)
  CONTRIBUTING.md
  backend/README.md
  scripts/backend-development/README.md
Owners: @yk, @andreaskoepf

Bugs in Markdown. 3. Big numbers in lists are corrupted resolved (#1941)
  website/src/components/Messages/RenderedMarkdown.tsx
Owners: @fozziethebeat, @AbdBarho, @notmd

fix typo
  backend/oasst_backend/utils/database_utils.py
Owners: @yk, @andreaskoepf

Markdown inline code rendering broken resolved
  website/src/components/Messages/RenderedMarkdown.tsx
Owners: @fozziethebeat, @AbdBarho, @notmd

readme fix
  scripts/backend-development/README.md
Owners: @yk, @andreaskoepf

added limit parameter to export script
  backend/export.py
Owners: @yk, @andreaskoepf

📝 update model training doc
  model/.gitignore
  model/README.md
Owners: @theblackcat102, @sanagno

📝 fix gitignore issues
  model/.gitignore
Owners: @theblackcat102, @sanagno

🐛 precomit to fix bugs
  model/README.md
Owners: @theblackcat102, @sanagno

Added output to notebook
  notebooks/closed-book-qa/Closed Book QA Generator.ipynb
Owners: @andrewm4894, @olliestanley, @andreaskoepf, @yk
