Repository LAION-AI/Open-Assistant, changes with the owners that CODEOWNERS names for each.
All owners: @yk, @andreaskoepf, @fozziethebeat, @k-nearest-neighbor, @AbdBarho, @notmd, @theblackcat102, @sanagno, @andrewm4894

CODEOWNERS:

* @yk @andreaskoepf
/website/ @fozziethebeat @k-nearest-neighbor @AbdBarho @notmd
/model/ @theblackcat102 @sanagno
/copilot/ @fozziethebeat @andreaskoepf @yk
/docs/ @andrewm4894 @andreaskoepf @yk
/.devcontainer/ @andrewm4894 @andreaskoepf @yk
/notebooks/ @andrewm4894 @andreaskoepf @yk

introduced api keys to inference
  inference/full-dev-setup.sh
  inference/server/alembic/versions/2023_02_11_0147-569cd595bb10_added_worker_db_entry.py
  inference/server/alembic/versions/2023_02_11_0151-4b846e7314b4_added_name_field.py
  inference/server/main.py
  inference/server/oasst_inference_server/interface.py
  inference/server/oasst_inference_server/models.py
  inference/server/oasst_inference_server/settings.py
  inference/worker/__main__.py
  inference/worker/settings.py
Owners: @yk, @andreaskoepf

Pre-commit run - forgot to add --all-files last time
  notebooks/gutenberg/README.md
  notebooks/gutenberg/hub.py
  notebooks/gutenberg/project_gutenberg_crawler.ipynb
  notebooks/gutenberg/requirements.txt
Owners: @andrewm4894, @andreaskoepf, @yk

dataset args
  model/supervised_finetuning/custom_datasets/__init__.py
Owners: @theblackcat102, @sanagno

add periodically updated cached message stats
  backend/alembic/versions/2023_02_11_1030-ba40d055714a_add_cached_stats.py
  backend/main.py
  backend/oasst_backend/api/v1/stats.py
  backend/oasst_backend/cached_stats_repository.py
  backend/oasst_backend/config.py
  backend/oasst_backend/models/__init__.py
  backend/oasst_backend/models/cached_stats.py
  oasst-shared/oasst_shared/exceptions/oasst_api_error.py
  oasst-shared/oasst_shared/schemas/protocol.py
Owners: @yk, @andreaskoepf

fix update
  backend/oasst_backend/api/v1/stats.py
Owners: @yk, @andreaskoepf

fix update for real
  backend/oasst_backend/api/v1/stats.py
Owners: @yk, @andreaskoepf

remove filter from mts by lang
  backend/oasst_backend/cached_stats_repository.py
  oasst-shared/oasst_shared/schemas/protocol.py
Owners: @yk, @andreaskoepf

remove redundant query
  backend/oasst_backend/cached_stats_repository.py
  oasst-shared/oasst_shared/schemas/protocol.py
Owners: @yk, @andreaskoepf

simplify endpoint names
  backend/oasst_backend/api/v1/stats.py
Owners: @yk, @andreaskoepf

refactor datasets and oa private data selection
  model/supervised_finetuning/configs/config.yaml
  model/supervised_finetuning/custom_datasets/__init__.py
  model/supervised_finetuning/custom_datasets/prompt_dialogue.py
Owners: @theblackcat102, @sanagno

Notebook now has outputs - the crawler Notebook now has example outputs - updated README.md - reran pre-commit hook
  notebooks/gutenberg/README.md
  notebooks/gutenberg/project_gutenberg_crawler.ipynb
Owners: @andrewm4894, @andreaskoepf, @yk

Make cypress test click on the left of a card
  website/cypress/e2e/tasks/random.cy.ts
  website/src/components/Sortable/Sortable.tsx
Owners: @fozziethebeat, @k-nearest-neighbor, @AbdBarho, @notmd

resolve conflicts
  website/src/components/Sortable/SortableItem.tsx
Owners: @fozziethebeat, @k-nearest-neighbor, @AbdBarho, @notmd

show 3 dots instead of 4 when shortened text ends with .
  website/src/components/CollapsableText.tsx
  website/src/components/Sortable/Sortable.tsx
Owners: @fozziethebeat, @k-nearest-neighbor, @AbdBarho, @notmd

Update tasks.json
  website/public/locales/ca/tasks.json
Owners: @fozziethebeat, @k-nearest-neighbor, @AbdBarho, @notmd

Update tasks.json
  website/public/locales/ca/tasks.json
Owners: @fozziethebeat, @k-nearest-neighbor, @AbdBarho, @notmd

Add Thai language (#1462)
  website/next-i18next.config.js
  website/public/locales/th/common.json
  website/public/locales/th/dashboard.json
  website/public/locales/th/index.json
  website/public/locales/th/labelling.json
  website/public/locales/th/leaderboard.json
  website/public/locales/th/message.json
  website/public/locales/th/tasks.json
  website/public/locales/th/tos.json
Owners: @fozziethebeat, @k-nearest-neighbor, @AbdBarho, @notmd

Gutenberg eBook Crawler + Datasets (#1463)
  notebooks/gutenberg/README.md
  notebooks/gutenberg/__init__.py
  notebooks/gutenberg/hub.py
  notebooks/gutenberg/project_gutenberg_crawler.ipynb
  notebooks/gutenberg/requirements.txt
Owners: @andrewm4894, @andreaskoepf, @yk

fix spanish typo in lavel_initial_prompt
  website/public/locales/es/tasks.json
Owners: @fozziethebeat, @k-nearest-neighbor, @AbdBarho, @notmd

Update tasks.json
  website/public/locales/ca/tasks.json
Owners: @fozziethebeat, @k-nearest-neighbor, @AbdBarho, @notmd

Update tasks.json
  website/public/locales/ca/tasks.json
Owners: @fozziethebeat, @k-nearest-neighbor, @AbdBarho, @notmd

os_private
  model/supervised_finetuning/README.md
  model/supervised_finetuning/configs/config.yaml
Owners: @theblackcat102, @sanagno

Provide Full Russian Translation (LAION-AI#1304)
  website/public/locales/ru/common.json
Owners: @fozziethebeat, @k-nearest-neighbor, @AbdBarho, @notmd

os private dataset
  model/supervised_finetuning/custom_datasets/__init__.py
  model/supervised_finetuning/custom_datasets/formatting.py
  model/supervised_finetuning/custom_datasets/prompt_dialogue.py
Owners: @theblackcat102, @sanagno

choice for empty eval
  model/supervised_finetuning/trainer.py
  model/supervised_finetuning/utils.py
Owners: @theblackcat102, @sanagno

Provide Full Russian Translation (LAION-AI#1304)
  website/public/locales/ru/labelling.json
Owners: @fozziethebeat, @k-nearest-neighbor, @AbdBarho, @notmd

Provide Full Russian Translation (LAION-AI#1304)
  website/public/locales/ru/tasks.json
Owners: @fozziethebeat, @k-nearest-neighbor, @AbdBarho, @notmd

added gzip to backups to save some space
  docker/oasst-postgres/backup_pg_to_s3.sh
Owners: @yk, @andreaskoepf

Remove unneeded check
  website/src/components/CollapsableText.tsx
Owners: @fozziethebeat, @k-nearest-neighbor, @AbdBarho, @notmd

Update tasks.json
  website/public/locales/ca/tasks.json
Owners: @fozziethebeat, @k-nearest-neighbor, @AbdBarho, @notmd

fix: removed side_menu
  website/public/locales/ro/common.json
  website/public/locales/ro/side_menu.json
Owners: @fozziethebeat, @k-nearest-neighbor, @AbdBarho, @notmd

use new message tree in user area
  website/src/components/Messages/MessageTableEntry.tsx
  website/src/components/Messages/MessageTree.tsx
  website/src/pages/api/messages/[id]/tree.ts
  website/src/pages/messages/[id]/index.tsx
Owners: @fozziethebeat, @k-nearest-neighbor, @AbdBarho, @notmd

Update tasks.json
  website/public/locales/ca/tasks.json
Owners: @fozziethebeat, @k-nearest-neighbor, @AbdBarho, @notmd

fix: common.json
  website/public/locales/ro/common.json
Owners: @fozziethebeat, @k-nearest-neighbor, @AbdBarho, @notmd

fix spanish typo in label_initial_prompt (#1468)
  website/public/locales/es/tasks.json
Owners: @fozziethebeat, @k-nearest-neighbor, @AbdBarho, @notmd

show author and deleted bagde
  website/public/locales/en/message.json
  website/src/components/Messages/MessageTableEntry.tsx
  website/src/components/Messages/MessageTree.tsx
Owners: @fozziethebeat, @k-nearest-neighbor, @AbdBarho, @notmd

Add our current architecture to the blog
  .github/workflows/deploy-docs-site.yaml
  docs/.gitignore
  docs/.yarnrc.yml
  docs/blog/2023-02-11-architecture.md
  docs/blog/authors.yml
  docs/docusaurus.config.js
  docs/package.json
  docs/yarn.lock
Owners: @yk, @andreaskoepf, @andrewm4894

Update statistics order
  website/src/pages/account/index.tsx
Owners: @fozziethebeat, @k-nearest-neighbor, @AbdBarho, @notmd

add showAuthorBadge prop
  website/src/components/Messages/MessageTableEntry.tsx
  website/src/components/Messages/MessageTree.tsx
Owners: @fozziethebeat, @k-nearest-neighbor, @AbdBarho, @notmd

Update docs/blog/2023-02-11-architecture.md
  docs/blog/2023-02-11-architecture.md
Owners: @andrewm4894, @andreaskoepf, @yk
